/*reset*/
html{
	width: 100%;
}
html,body,ul,li,button {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
h1,h2,h3,h4,h5,p,button {
	margin: 0;
	line-height: 1;
}
body.styleguide {
	padding-left: 30px;
	width: calc(100% - 30px);
}



/*스타일 가이드*/
hr {
	margin: 80px 0 0 0 ;
    border: 0;
    border-bottom: 1px solid #e1e1e1;
}

.reset {
	font-size: 10px;
	line-height: 1.2;
}
.clip {
	display: block;
	/* height: 36px; */
	/* border: 0;
	border-left: 10px solid #ccc;
	border-bottom: 10px solid white; */
	margin-top: 40px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #eeeeee;
}
.clip > span {
	/* position: absolute; */
	font-style: italic;
	color: green;
}
.content-wrap {
	background-color: #fefefe;
	border: 1px solid #e9e9e9;
	min-height: 100px;
	margin: 0 10px;
	padding: 30px 0 0 0;
	text-align: center;
	color: #eee;
	font-size: 30px;
}
.guide.test {
	width:350px;
	padding: 0 0 50px;
	display: inline-block;
}
.guide.test_btn_wrap {
	display: inline-block;
	padding: 0 0 0 20px;

}
.guide.test_loading  {
	height:250px;
	overflow: hidden;
	position: relative;
}
.guide.test_loading .progress {
	position:static;
	margin:0;
}
.guide.test_loading .loading_txt {
	position: absolute;
	left:0;
	top:0;
	display: block;
	width:100%;
	text-align: center;
	line-height:250px;
	margin:0px;
	text-align:center;
}
/*.table-wrap {
	max-width:70%;
}*/
.styleguide .modal-wrap {
	display: inline-block;
	position: relative;
	height: auto;
	width:auto;
	padding:30px;
}
.styleguide .modal-wrap .modal-box {
	position: static;
	display: inline-block;
	transform: translate(0 ,0);
}
