.sub-bnr-wrap{
  position: relative;
  margin-bottom: rem(80);
  border-radius: rem(12);
  background: #ffedab;
  .swiper-slide{
    position: relative;
    height: rem(370);
  }
  .slide-bg{
    background-position: center center!important;
    background-size: cover!important;
  }
  .text-box{
    position: absolute;
    left: 120px;
    top: 70px;
    .sub-title{
      line-height: 1;
      font-size: rem(36);
      font-weight: 500;
      color: #ff9600;
    }
    .sub-title{
      margin-bottom: rem(15);
      line-height: 1;
      font-size: rem(36);
      font-weight: 500;
      color: #ff9600;
    }
    .title{
      margin-bottom: rem(29);
      line-height: 1;
      font-size: rem(50);
      font-weight: 700;
      color: #254c97;
    }
    .text{
      margin-bottom: rem(50);
      line-height: 1;
      font-size: rem(22);
      font-weight: 700;
      color: #222;
    }
    .date{
      position: relative;
      padding-left: rem(80);
      height: rem(30);
      line-height: rem(28);
      font-size: rem(18);
      color: #333;
      &:before{
        display: block;
        content: "기간";
        position: absolute;
        left: 0;
        top: 0;
        width: rem(70);
        height: rem(30);
        line-height: rem(28);
        text-align: center;
        font-size: rem(16);
        font-weight: 700;
        color: #fff;
        border-radius: rem(15);
        background: #31291c;
      }
    }
  }
  .detail-box{
    position: absolute;
    right: rem(130);
    top: rem(55);
    width: rem(540);
    height: rem(260);
    border-radius: rem(30);
    background: #fff;
    box-shadow: 6px 10px 9px 0 rgba(0, 0, 0, 0.06);
    .swiper-slide{
      height: rem(260);
      .img-list{
        padding: rem(13);
      }
    }
  }  
}

.banner-slide-wrap{
  position: relative;
}
.btn-slider-arrow {
  @include transition(0.2s);
  display: block;
  position: absolute;
  top: 50%;
  left: rem(10);
  width: rem(50);
  transform: translateY(-50%);
  height: rem(50);
  border-radius: rem(8);
  background: rgba(0,0,0,0.0);
  z-index: 10;
  &:before{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin: rem(-6) 0 0 rem(-4);
    width: rem(8);
    height: rem(13);
    background: url('../img/icons/icon_slider_arrow_white.png') no-repeat center center;
  }
  &.slider-next{
    left: auto;
    right: rem(10);
    &:before{
      transform: rotate(180deg);
    }
  }
}
.banner-slide-wrap{
  &:hover{
    .btn-slider-arrow{
      background: rgba(0,0,0,0.3);
    }
  }
}

.slider-arrow-box{
  position: absolute;
  right :0;
  top: rem(-50);
  .btn-slider {
    display: inline-block;
    width: rem(30);
    height: rem(30);
    vertical-align: middle;
    background: url('../img/icons/icon_slider_arrow.png') no-repeat center center;
    &.slider-next{
      transform: rotate(180deg);
    }
    &.swiper-button-disabled{
      opacity: .5;
    }
  }
  .slider-count{
    display: inline-block;
    margin: rem(-3) rem(10) 0;
    height: rem(30);
    line-height: rem(30);
    vertical-align: middle;
    font-size: rem(18);
    font-weight: 700;
    color: #bcbdc1;
    .count{
      display: inline-block;
      line-height: rem(30);
      vertical-align: middle;
      color: #333
    }
    .total{
      display: inline-block;
      line-height: rem(30);
      vertical-align: middle;
    }
  }
}

//카테고리 배너
.category-bnr-wrap{
  position: relative;
  padding-top: rem(50);
  padding-bottom: rem(50);
  border-radius: rem(30);
  background: #f8f8f8;
  .img-list{
    margin-left: rem(50);
    margin-right: rem(50);
    .swiper-slide{
      &.slide-item{
        position: relative;
        .img-slot{
          height: rem(300);
          border-radius: rem(30);
        }
      }
    }
  }
}

//최근 주문 배너
.recent-slide-wrap{
  position: relative;
  padding-top: rem(40);
  border-top: 1px solid $bc-top;
  >.btn-slider{
    @include transition(0.2s);
    display: block;
    position: absolute;
    top: rem(110);
    left: rem(10);
    width: rem(50);
    height: rem(50);
    border-radius: rem(8);
    background: rgba(0,0,0,0);
    z-index: 10;
    
    &:before{
      display: block;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      margin: rem(-6) 0 0 rem(-4);
      width: rem(8);
      height: rem(13);
      background: url('../img/icons/icon_slider_arrow_white.png') no-repeat center center;
    }
    &.slider-next{
      left: auto;
      right: rem(10);
      &:before{
        transform: rotate(180deg);
      }
    }
  }
  &:hover{
    .btn-slider{
      background: rgba(0,0,0,0.3);
    }
  }
}

//신상품
.na-bnr-wrap{
  min-width : rem($default-container-width);
  .slide-item{
    height: rem(460);
    background-position: center center!important;
    background-size: cover;
    transition: background-size 5s cubic-bezier(.31,.77,.56,1.05);
    .container{
      position: relative;
      height: 100%;
    }
    .text-box{
      position: absolute;
      top: rem(95);
      right: 0;
      min-width: rem(590);
      white-space: nowrap;
      .title{
        margin-bottom: rem(20);
        line-height: 1;
        font-size: rem(56);
        letter-spacing: rem(-0.05*56);
        font-weight: 700;
        color: #31291c;
        text-indent: rem(-3);
      }
      .sub-title{
        @include font-manrope(400);
        margin-bottom: rem(25);
        line-height: 1;
        font-size: rem(20);
        color: #333333;
      }
      .desc{
        line-height: 1;
        font-size: rem(32);
        color: #31291c;
        text-indent: -1px;
        letter-spacing: rem(-0.05*32);
      }
      .btn{
        margin-top: rem(40);
        width: rem(180);
        font-size: rem(22);
        font-weight: 500;
        color: #000000;
      }
    }
  }
}

.swiper-indicater-wrap{
  position: absolute;
  bottom: rem(30);
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  width: rem($default-container-width);
  height: rem(20);
  z-index: 1;
  .swiper-pagination{
    display: inline-block;
    position: relative;
  }
  .swiper-stop{
    display: inline-block;
    width: rem(7);
    height: rem(12);
    background-image: url('../img/icons/icon_slide_stop.png');
    z-index: 9999;
    cursor: pointer;
    vertical-align: bottom;
    margin-left: rem(15);
    &.stopped{
      @extend .icon-slider-arrow-white;
      transform: rotate(180deg);
    }
  }
  .square-bullet{
    display: inline-block;
    width: rem(150);
    height: rem(4);
    margin: 0 rem(5);
    background: #ffffff;
    opacity: .2;
    border-radius: rem(10);
    &.swiper-pagination-bullet-active {
      opacity: 1;
      background-color: #ffffff;
    }
  }
}
