//게시판
.bbs-wrap{
  .bbs-header{
    position: relative;
    height: rem(70);
    &.md{
      height: rem(50);
    }
    .left-box{
      display: flex;
      float: left;
    }
    .right-box{
      display: flex;
      float: right;
    }
    .bbs-total{
      margin-top: rem(20);
      line-height: rem(50);
      font-size: rem(18);
      color: #000000;
      .total{
        font-weight: 700;
        color: $fc-primary-darken;
        @include font-manrope(700);
      }
    }
    .bbs-title{
      line-height: rem(50);
    }
    .btn-link{
      display: block;
      position: absolute;
      right: 0;
      top: rem(20);
      color: $fc-dark-gray;
      .icon{
        vertical-align: middle;
        margin: rem(-2) 0 0 rem(4);
      }
    }
    .drop-down{
      margin-top: rem(20);
    }
    .search-input-box{
      position: relative;
      .input-search{
        padding: 0 rem(50) 0 rem(28);
        width: rem(370);
        height: rem(50);
        font-size: rem(16);
        font-weight: 500;
        color: #58595b;
        border: 1px solid #ddd;
        border-radius: rem(25);
        &::placeholder{
          letter-spacing: rem(-0.05*16);
        }
      }
      .btn-search{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: rem(50);
        height: rem(50);
        z-index: 10;
      }
    }
    .sort-menu{
      margin-top: rem(20);
      height: rem(30);
      &.select{
        float: right;
        .menu-box{
          margin-left: rem(25);
          &:before{
            display: none;
          }
        }
      }
      .menu-box{
        position: relative;
        float: left;
        padding: 0 rem(14);
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: rem(-5);
          width: 1px;
          height: 14px;
          background: #e7e7e7;
        }
        &:nth-of-type(1){
          padding-left: 0;
          .btn-sort{
            padding-left: 0;
          }
        }
      }
      .menu-box:first-child:before{
        display: none;
      }
      .btn-sort{
        display: block;
        padding: 0 rem(6);
        line-height: rem(30);
        font-size: rem(16);
        color: #58595b;
        &.active{
          font-weight: 700;
          color: #333;
        }
      }
    }
    .select-drop-down + p.bbs-total{
      margin: 0 0 0 rem(30);
    }
    .bbs-total + p.bbs-total{
      position: relative;
      margin: 0 0 0 rem(20);
      &:before{
        display: block;
        content: "";
        position: absolute;
        left: rem(-10);
        top: 50%;
        margin-top: rem(-7);
        width: 1px;
        height: 14px;
        background: #e7e7e7;
      }
    }
    .desc{
      margin-left: rem(55);
      line-height: rem(50);
      font-size: rem(16);
      color: #818286;
    }
  }
  
  .bbs-list, .bbs-view{
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #333333;
    th {
      p{
        font-weight: 500;
        color: #333333;
      }
    }
    p{
      line-height: rem(26);
      font-size: rem(16);
      color: #818286;
      letter-spacing: rem(-0.05*16);
      &.date{
        @include font-manrope(400);
      }
    }
    .list-empty-box{

      p{
        line-height: 1.4;
        font-size: rem(22);
        color: #333;
        letter-spacing: rem(-0.05*22);
        &.sub-text{
          font-size: rem(18);
          line-height: 1;
          margin-top: rem(20);
          margin-bottom: rem(30);
          color: #000000;
          letter-spacing: rem(-0.05*18);
        }
      }
    }
    th, td{
      padding: rem(10);
      height: rem(80);
      text-align: center;
      vertical-align: middle;
      border-bottom: 1px solid #e7e7e7;
      &.alignl{
        padding-left: rem(20);
        text-align: left;
      }
      .btn-link{
        display: inline-block;
        width: 100%;
        @include ellipse;
        letter-spacing: rem(-0.05*16);
        &:hover{
          text-decoration: underline;
        }
        .icon{
          vertical-align: middle;
          margin: rem(-2) 0 0 rem(4);
        }
      }
    }
    .fixed{
      td,th{
        background-color: $bg-data;
        .icon-notice{
          @include icon;
          height: rem(15);
          width: rem(23);
          background-image: url('../img/icons/icon_notice_bbs.png');
        }
        .date{
          color: $fc-default;
        }
      }
    }
  }
  
  .bbs-view{
    .view-type{
      padding-left: rem(40);
      text-align: left;
    }
    .text-area{
      padding: rem(40);
      text-align: left;
      font-weight: 300;
      letter-spacing: rem(-0.05*16);
    }
    p{
      color: $fc-dark-gray;
    }
  }
  
  .bbs-write-wrap{
    padding: 0 rem(100) rem(50) rem(60);
    margin: 0 auto;
    width: rem(1200);
    border-bottom: 1px solid #e7e7e7;
  }
  
  .bbs-footer{
    margin-top: rem(40);
    text-align: center;
    .btn{
      margin: 0 rem(5);
      min-width: rem(160);
    }
  }
}

//faq
.bbs-qna-list{
  border-top: 1px solid #333;
  border-bottom: 1px solid #e7e7e7;
  &.nobordered{
    border-top: 0;
  }
  .qna-title{
    cursor: pointer;
    position: relative;
    padding-left: rem(200);
    border-top: 1px solid #e7e7e7;
    &:first-child{
      border-top: 0;
    }
    &.active, &.show{
      .btn-title .text{
        color: #333;
        font-weight: 500;
      }
      .btn-title .icon{
        transform: rotate(180deg);
      }
    }
    &.qna-secret{
      .btn-title .text{
        padding-left: rem(28);
      }
    }
    .label{
      position: absolute;
      left: 0;
      top: 0;
      width: rem(200);
      line-height: rem(80);
      text-align: center;
      font-size: rem(16);
      color: #818286;
      letter-spacing: rem(-0.05*16);
    }
    .btn-title{
      position: relative;
      display: table;
      padding-left: rem(28);
      width: 100%;
      &:before{
        display: block;
        content:"";
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: rem(-10);
        width: rem(20);
        height: rem(20);
        background: url('../img/icons/icon_qna_q_black.png') no-repeat center center;
      }
      .text{
        display: table-cell;
        padding-right: rem(70);
        height: rem(80);
        vertical-align: middle;
        font-size: rem(16);
        line-height: rem(24);
        color: $fc-dark-gray;
        letter-spacing: rem(-0.05*16);
      }
      .icon-lock{
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: rem(-11);
      }
      .icon-arrow-up{
        display: block;
        position: absolute;
        right: rem(35);
        top: 50%;
        margin-top: rem(-4);
        transform: rotate(0);
      }
    }
  }
  .qna-title.show + dd.qna-text{
    display: block;
  }
  .qna-text{
    display: none;
    position: relative;
    padding: 0 rem(70) rem(30) rem(200);
    .qna-q, .qna-a{
      position: relative;
      padding-left: rem(28);
      font-size: rem(16);
      letter-spacing: rem(-0.05*16);
    }
    .qna-q + div.qna-a{
      margin-top: rem(30);
    }
    .qna-q:before{
      display: block;
      content:"";
      position: absolute;
      left: 0;
      top: rem(3);
      width: rem(20);
      height: rem(20);
      background: url('../img/icons/icon_qna_q.png') no-repeat center center;
    }
    .qna-a:before{
      display: block;
      content:"";
      position: absolute;
      left: 0;
      top: rem(3);
      width: rem(20);
      height: rem(20);
      background: url('../img/icons/icon_qna_a.png') no-repeat center center;
    }
    p{
      line-height: rem(26);
      font-size: rem(16);
      color: #58595b;
    }
  }
  &.qna-info{
    border-bottom: 0;
    .qna-title{
      padding: rem(20) 0 rem(20) rem(170);
      border-top: 0;
      border-bottom: 1px solid #e7e7e7;
      &.qna-answer{
        .label{
          background-color: $dark-gray;
        }
      }
      &.secret .btn-title{
        .text{
          padding-left: rem(26);
          background: url('../img/icons/icon_lock.png') no-repeat left center;
        }
      }
      .label{
        display: inline-block;
        border-radius: rem(30);
        left: rem(40);
        top: 50%;
        margin-top: rem(-15);
        width: rem(75);
        height: rem(30);
        line-height: rem(30);
        text-align: center;
        font-size: rem(14);
        font-weight: 700;
        color: #ffffff;
        letter-spacing: rem(-0.05*16);
        background-color: $light-gray;
      }
      .info{
        line-height: rem(30);
        font-size: rem(16);
        color: #818286;
        letter-spacing: rem(-0.05*16);
        span {
          position: relative;
          margin-left: rem(22);
          &:before{
            display: block;
            content: "";
            position: absolute;
            left: rem(-10);
            top: 50%;
            margin-top: rem(-6);
            width: 1px;
            height: 14px;
            background: #e7e7e7;
          }
          &:first-child{
            margin-left: 0;
            &:before{
              display: none;
            }
          }
          &.date{
            @include font-manrope(400);
          }
        }
      }
      .btn-title{
        position: static;
        padding-left: 0;
        &:before{
          display: none;
        }
        .text{
          @include ellipsen(2);
          padding: rem(3) 0;
          height: auto;
          width: 90%;
          letter-spacing: rem(-0.05*16);
        }
      }
    }
    .qna-text{
      padding: rem(30) rem(180) rem(30) rem(170);
      border-bottom:1px solid #e7e7e7;
      background: #f8f8f8;
      .text-box{
        p.title{
          margin-bottom: rem(8);
          font-weight: 500;
          color: #333333;
        }
      }
      .btn{
        position: absolute;
        right: rem(40);
        width: rem(100);
        background: #fff;
        &:nth-of-type(1){
          top: rem(30);
        }
        &:nth-of-type(2){
          top: rem(75);
        }
      }
    }
  }
}

//리스트 필터 상세
.detail-filter-wrap{
  margin-bottom: rem(30);
  padding: rem(10) rem(30);
  border-radius: rem(10);
  background: #f8f8f8;
  .filter-box{
    position: relative;
    padding-left: rem(85);
    height: rem(60);
    border-top: 1px solid #e7e7e7;
    &:first-child{
      border-top: 0;
    }
    .filter-label{
      position: absolute;
      left: 0;
      top: 0;
      line-height: rem(60);
      font-size: rem(16);
      color: #333;
      font-weight: 700;
    }
    .check-list{
      display: flex;
    }
    .check-wrap{
      margin: rem(15) 0 0 rem(25);
      &:first-child{
        margin-left: 0;
      }
    }
    .date-list{
      display: flex;
      padding-top: rem(12);
    }
    .date-box{
      display: flex;
      .btn-date{
        margin-left: rem(8);
        padding: 0 rem(10);
        min-width: rem(56);
        background: #fff;
        white-space: nowrap;
        &:first-child{
          margin-left: 0;
        }
        &.active{
          color: #fff;
          border-color: $primary;
          background: $primary
        }
      }
    }
    .calendar-box{
      display: flex;
      justify-content: space-between;
      position: relative;
      margin: 0 rem(30);
      width: rem(310);
      .input-calendar{
        padding-right: rem(50);
        width: rem(140);
        text-align: center;
      }
      &:before{
        display: block;
        content:"~";
        position: absolute;
        left: rem(140);
        top: 0;
        width: rem(30);
        height: rem(37);
        line-height: rem(37);
        text-align: center;
        font-size: rem(16);
        color: #333;
      }
    }
    .input-calendar, .input-search{
      padding: 0 rem(15);
      height: rem(37);
      font-size: rem(16);
      color: #333333;
      border: 1px solid #e7e7e7;
      border-radius: rem(10);
      background: #fff;
    }
    .search-box{
      position: relative;
      width: rem(330);
      .input-search{
        width: rem(185);
      }
      .btn-search{
        position: absolute;
        right: 0;
        top: 0;
        min-width: rem(125);
      }
    }
  }
}

//리스트 필터
.list-filter-wrap{
  margin-bottom: rem(30);
  + div.list-empty-box:not(.bordered){
    margin-top: rem(-30);
  }
  &.bordered{
    border-bottom: 1px solid #333;
  }
  &.bordered + div.list-empty-box.bordered{
    border-top: 0;
  }
  &.list-filter-bottom{
    margin-top: rem(70);
    padding-top: rem(15);
    &.bordered{
      border-bottom: 0;
      border-top: 1px solid #e7e7e7;
    }
  }
  .filter-top{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    min-height: rem(60);
    .list-line{
      position: relative;
      margin-right: rem(22);
      &:after{
        display: block;
        content: "";
        position: absolute;
        right: rem(-13);
        top: 50%;
        margin-top: rem(-7);
        width: 1px;
        height: rem(14);
        background: #e7e7e7;
      }
    }
    .check-wrap{
      .checkbox{
        margin-left: 0;
      }
    }
    .right-box{
      display: flex;
      margin-left: auto;
    }
    .list-total{
      position: relative;
      line-height: rem(30);
      font-size: rem(18);
      color: $fc-default;
      letter-spacing: rem(-0.05*18);
      .total{
        font-weight: 700;
        color: $fc-primary-darken;
      }
    }
    .sort-menu{
      display: flex;
      height: rem(30);
      &.select{
        .menu-box{
          margin-left: rem(25);
          &:before{
            display: none;
          }
        }
      }
      .menu-box{
        position: relative;
        padding: 0 rem(6);
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: rem(-5);
          width: 1px;
          height: 14px;
          background: #e7e7e7;
        }
        &.photo{
          margin-left: rem(10);
          &:before{
            display: none;
          }
          .check-wrap{
            margin-top: rem(4);
          }
        }
      }
      
      .menu-box:first-child:before{
        display: none;
      }
      .btn-sort{
        display: block;
        padding: 0 rem(6);
        line-height: rem(30);
        font-size: rem(16);
        color: #58595b;
        letter-spacing: rem(-0.05*16);
        &.active{
          font-weight: 500;
          color: #333;
        }
      }
    }
    .desc-text{
      line-height: rem(30);
      font-size: rem(16);
      color: #58595b;
    }
  }
  .filter-bottom{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: rem(25) rem(30);
    min-height: rem(80);
    border-top: 1px solid #333;
    background: #f5f5f5;
    .filter-list{
      display: flex;
      min-height: rem(30);
      flex-wrap: wrap;
      flex: 0 0 90%;
      .filter{
        position: relative;
        margin-right: rem(4);
        margin-bottom: rem(4);
        padding: 0 rem(35) 0 rem(15);
        min-width: rem(80);
        height: rem(30);
        border: 1px solid #e7e7e7;
        border-radius: rem(15);
        background: #fff;
        p{
          font-size: rem(14);
          line-height: rem(28);
          color: #58595b;
        }
        .icon-good{
          margin-right: rem(5);
        }
        .btn-delete{
          display: block;
          position: absolute;
          right: 0;
          top: -1px;
          width: rem(30);
          height: rem(30);
          background: url('../img/icons/icon_filter_close.png') no-repeat center center;
        }
      }
    }
    .btn-filter-reset{
      display: block;
      position: absolute;
      right: rem(25);
      top: rem(25);
      padding: 0 rem(30) 0 rem(15);
      height: rem(30);
      line-height: rem(28);
      font-size: rem(16);
      color: #58595b;
      &:after{
        display: block;
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: rem(30);
        height: rem(30);
        background: url('../img/icons/icon_filter_refresh.png') no-repeat center center;
      }
    }
  }
}


//리스트 필터
.list-filter-box{
  flex: 1 1 auto;
  // margin-bottom: rem(30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .select-drop-down{
    display: inline-block;
    vertical-align: top;
    height: rem(50);
  }
  .list-total{
    flex: 1 1 auto;
    display: inline-block;
    margin-left: rem(30);
    line-height: rem(50);
    vertical-align: top;
    font-size: rem(18);
    color: #000;
    .total{
      font-weight: 700;
      color: $primary;
    }
  }
}

//리스트 페이징
.list-paging{
  margin-top: rem(60);
  text-align: center;
  li{
    display: inline-block;
    vertical-align: top;
  }
  .btn-page{
    display: block;
    width: rem(34);
    height: rem(34);
    line-height: rem(32);
    font-size: rem(18);
    color: #000;
    font-weight: 500;
    border-radius: rem(8);
    @include font-manrope(500);
    &.active{
      color: #fff;
      font-weight:700;
      background: #31291c;
      @include font-manrope(700);
    }
  }
  .btn-page-prev, .btn-page-next{
    display: block;
    margin: 0 0 0 rem(30);
    width: rem(34);
    height: rem(34);
    background: url('../img/icons/icon_arrow_link.png') no-repeat center center;
  }
  .btn-page-prev{
    margin: 0 rem(30) 0 0;
    transform: rotate(180deg);
  }
}

//리스트 빈페이지
.list-empty-box{
  padding: rem(100) 0 rem(120) 0;
  text-align: center;
  & + div.list-filter-wrap{
    margin-top: -1px;
  }
  &.bordered{
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
  }
  .icon-box{
    margin-bottom: rem(30);
  }
  p{
    line-height: 1;
    font-size: rem(22);
    color: #333;
    letter-spacing: rem(-0.05*22);
    &.sub-text{
      font-size: rem(18);
      line-height: 1;
      margin-top: rem(20);
      margin-bottom: rem(30);
      color: #000000;
      letter-spacing: rem(-1);
    }
  }
  .btn{
    margin-top: rem(50);
  }
}

//페이지 하단 버튼
.page-bottom-btn{
  margin-top: rem(80);
  text-align: center;
  .btn{
    margin: 0 rem(4);
    min-width: rem(180);
    height: rem(60);
    vertical-align: top;
    font-size: rem(22);
    .icon{
      margin: rem(4) rem(8) 0 0;
      vertical-align: middle;
    }
  }
}

//주의사항
.caution-text{
  position: relative;
  line-height: rem(24);
  font-size: rem(16);
  letter-spacing: rem(-0.05*16);
  color: #818286;
  &.dot{
    padding-left: rem(14);
    &:before{
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: rem(11);
      width: rem(4);
      height: rem(4);
      border-radius: 50%;
      background: #bcbdc1;
    }
  }
}
.caution-list-box{
  margin-top: rem(40);
  &.bordered{
    padding-top: rem(40);
    border-top: 1px solid #e7e7e7;
  }
  &.bordered-bottom{
    padding-bottom: rem(40);
    border-bottom: 1px solid #e7e7e7;
  }
  .caution-label{
    margin-bottom: rem(20);
    line-height: 1;
    font-size: rem(22);
    font-weight: 700;
    color: #333333;
    .icon{
      margin: rem(-6) rem(10) 0 0;
      vertical-align: middle;
    }
  }
  .caution-list{
    li{
      margin-bottom: rem(10);
      p{
        position: relative;
        padding-left: rem(14);
        line-height: rem(24);
        font-size: rem(15);
        color: #818286;
        letter-spacing: rem(-0.05*15);
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: 0;
          top: rem(11);
          width: rem(4);
          height: rem(4);
          border-radius: 50%;
          background: #bcbdc1;
        }
        .sub{
          display: block;
          margin-top: rem(5);
        }
      }
    }
  }
  &.list-width{
    .caution-list{
      display: flex;
      flex-flow: wrap;
      li{
        width: 40%;
      }
      li:nth-child(1),
      li:nth-child(3){
        width: 55%;
      }
    }
  }
  &.black{
    .caution-label{
      color: #fff;
    }
    li p{
      color: #eee;
    }
  }
  .gray-box-type{
    padding: rem(40);
    border-radius: rem(20);
    margin-top: 0;
    background-color: $bg-gray;
    margin-left: rem(40);
    margin-right: rem(40);
  }
}

//리뷰 댓글
.review-comment-box{
  .point-box{
    height: rem(40);
    .icon{
      float: left;
      margin: rem(3) rem(1) 0 0;
    }
    .point{
      float: left;
      margin-left: rem(4);
      line-height: rem(18);
      font-size: rem(16);
      font-weight: 700;
      color: #333;
    }
  }
  .info-box{
    height: rem(55);
    .user-box{
      float: left;
      .user-name{
        float: left;
        margin-right: rem(40);
        line-height: rem(30);
        font-size: rem(18);
        font-weight: 700;
        color: #333;
        white-space: nowrap;
        .icon{
          margin: rem(-5) rem(8) 0 0;
          vertical-align: middle;
        }
      }
    }
    .view-box{
      float: right;
      white-space: nowrap;
      p{
        display: inline-block;
        position: relative;
        padding-left: rem(30);
        line-height: rem(30);
        font-size: rem(16);
        font-weight: 500;
        color: #333;
        &:first-child{
          padding-left: 0;
          &:before{
            display: none;
          }
        }
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: rem(15);
          top: 50%;
          margin-top: rem(-7);
          width: 1px;
          height: rem(14);
          background: #e7e7e7;
        }
        &.date{
          @include font-manrope(400);
        }
      }
      .icon{
        margin: rem(-3) rem(6) 0 0;
        vertical-align: middle;
      }
    }
  }
  .filter{
    float: left;
    margin-right: rem(6);
    padding: 0 rem(12);
    height: rem(30);
    line-height: rem(28);
    font-size: rem(14);
    color: #58595b;
    border-radius: rem(15);
    border: 1px solid #e7e7e7;
  }
  .summary-box{
    height: rem(30);
    li{
      float: left;
      margin-right: rem(20);
      letter-spacing: rem(-0.05*16);
      .name{
        float: left;
        margin-right: rem(6);
        line-height: rem(20);
        font-size: rem(16);
        font-weight: 700;
        color: #333333;
      }
      .icon{
        float: left;
        margin: rem(4) rem(1) 0 0;
      }
    }
  }
  .text-area{
    position: relative;
    padding: 0 rem(200) 0 0;
    margin-top: rem(25);
    min-height: rem(150);
    .text-box{
      p{
        line-height: rem(26);
        font-size: rem(16);
        color: #58595b;
        letter-spacing: rem(-0.05*16);
        @include ellipsen(3);
        word-wrap: break-word;
        white-space: normal;
        &.option{
          margin-bottom: rem(14);
        }
      }
    }
    .btn-review-helpful{
      margin-top: rem(25);
    }
  }
  .img-box{
    position: absolute;
    right: 0;
    bottom: 0;
    width: rem(150);
    height: rem(150);
    border-radius: rem(20);
    overflow: hidden;
    background-color: $bg-gray;
    a{
      display: inline-block;
    }
    img{
      display: block;
      width: 100%;
    }
    .img-good{
      position: absolute;
      left: rem(15);
      bottom: rem(15);
      width: rem(56);
      height: rem(30);
      line-height: rem(26);
      text-align: center;
      font-size: rem(16);
      color: #333333;
      font-weight: 700;
      border-radius: rem(15);
      border: 1px solid #e7e7e7;
      background: #fff;
      .icon{
        margin-right: rem(3);
      }
    }
    .img-more{
      position: absolute;
      right: 0;
      bottom: 0;
      width: rem(40);
      height: rem(40);
      line-height: rem(40);
      text-align: center;
      font-size: rem(16);
      font-weight: 700;
      color: #fff;
      background: rgba(0,0,0,0.5);
      border-top-left-radius: rem(20);
    }
  }
}

//리뷰
.review-content-wrap{
  margin-top: rem(70);
}
.review-detail-wrap{
  position: relative;
  padding: rem(40) 0;
  border-bottom: 1px solid #e7e7e7;
  .review-detail-list{
    display: flex;
    // height: rem(290);
    .review-comment-box{
      display: block;
      padding-right: rem(60);
      width: 50%;
      // height: rem(290);
      border-right: 1px solid #e7e7e7;
      &:nth-child(2){
        padding: 0 0 0 rem(60);
        border-right: 0;
      }
      &.btn-review-link{
        cursor: pointer;
      }
    }
    
    &.review-width{
      height: rem(400);
      .review-comment-box{
        position: relative;
        padding: rem(20) rem(20) 0 rem(320);
        height: rem(400);
        border: 0;
        &:first-child{
          padding-right: rem(50);
        }
        .img-box{
          position: absolute;
          right: auto;
          left: 0;
          top: 0;
          width: rem(300);
          height: rem(341);
          border-radius: rem(15);
          .img-more{
            width: rem(50);
            height: rem(50);
            line-height: rem(50);
          }
        }
        .info-box{
          display: flex;
          .user-box, .view-box{
            float: none;
          }
          .user-name{
            float: none;
            margin-right: rem(20);
          }
          .view-box p{
            padding-left: rem(25);
            letter-spacing: -1px;
            &:before{
              left: rem(12);
            }
            &:first-child{
              padding-left: 0;
            }
          }
        }
        .summary-box{
          height: rem(60);
          li{
            margin: 0;
            width: 49%;
            height: rem(30);
            .name{
              margin: 0;
              width: rem(85);
            }
          }
        }
        .text-area{
          padding-right: 0;
          .title{
            margin-bottom: rem(10);
            line-height: rem(36);
            font-size: rem(22);
            font-weight: 700;
            color: #333333;
          }
        }
        .filter-list{
          position: absolute;
          left: rem(400);
          bottom: rem(20);
        }
      }
    }
  }
  &.bordered{
    border-top: 1px solid #e7e7e7;
  }
}

//리뷰 리스트
.review-recent-wrap{
  margin: rem(40) 0 rem(80) 0;
  .recent-thumb-list{
    display: flex;
    justify-content: flex-start;
    li{
      flex: 0 0 rem(186);
      margin-right: rem(16);
      .btn-link{
        display: block;
        width: rem(186);
        height: rem(186);
        border-radius: rem(20);
        overflow: hidden;
        background-color: $bg-gray;
        img{
          display: block;
          width: 100%;
        }
      }
    }
  }
}

//리뷰 리스트
.review-comment-list{
  .review-comment-box{
    padding: rem(40) rem(40);
    border-bottom: 1px solid #e7e7e7;
    &:nth-of-type(1){
      padding-top: rem(10);
    }
  }
}

.review-list-wrap{
  .img-list{
    .img-slot{
      height: rem(320);
      background-color: $bg-gray;
    }
    .product-info-slot{
      .product-name{
        display: block;
        height: rem(18*1.2);
        @include ellipse;
        -webkit-line-clamp: 1;
      }
    }
  }
  
}

.bbs-list{
  &.header-line{
    border-top: 0;
    thead td{
      border-bottom: 1px solid #333;
    }
  }
  .btn.btn-sm{
    padding: 0 rem(20);
    min-width: rem(100);
  }
  td p b{
    font-weight: 700;
    color: #333333;
  }
  td p.status-type{
    display: inline-block;
    padding: 0 rem(12);
    min-width: rem(50);
    height: rem(30);
    line-height: rem(30);
    text-align: center;
    border-radius: rem(15);
    font-size: rem(14);
    color: #fff;
    font-weight: 700;
    &.green{
      background-color: #8bb23f;
    }
    &.black{
      background-color: #31291c;
    }
    &.gray{
      color: #bcbdc1;
      background-color: #f8f8f8;
    }
    &.line-gray{
      line-height: rem(28);
      color: #bcbdc1;
      border: 1px solid #bcbdc1;
      background-color: #fff;
    }
  }
  &.point-list{
    td.alignl{
      padding-left: 0;
    }
    td .point{
      color: #333;
      font-weight: 500;
    }
  }
}
.bbs-list + div.list-empty-box.bordered{
  border-top: 0;
}
