.best-category-wrap{
  margin-bottom: rem(30);
  .category-menu {
    .menu-list{
      height: rem(80);
      text-align: center;
      border-radius: rem(30) rem(30) 0 0;
      background: #3c3e26; 
      .btn-tab{
        display: inline-block;
        margin: 0 rem(20);
        padding: rem(15) rem(20);
        line-height: rem(50);
        font-size: rem(24);
        font-weight: 700;
        color: rgba(255,255,255,0.5);
        &.active{
          color: #fff
        }
      }
    }
    .category-list{
      display: table;
      margin-top: rem(40);
      padding: 0 rem(50);
      width: 100%;
      height: rem(237);
      table-layout: fixed;
      border-radius: rem(30);
      background: #f8f8f8;
      li{
        display: table-cell;
        padding-top: rem(50);
      }
      .btn-category{
        $circle-size: 100;
        // $scale: 0.9090;
        display: block;
        margin: 0 auto;
        width: rem($circle-size);
        line-height: rem(20);
        text-align: center;
        font-size: rem(18);
        color: #818286;
        .icon{
          display: block;
          position: relative;
          margin-bottom: rem(20);
          width: rem($circle-size);
          height: rem($circle-size);
          border: 1px solid transparent;
          border-radius: 50%;
          background: #fdfdfd;
          &:before{
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url('../img/icons/split_category_list.png') no-repeat;
            // background-size: rem(1500);
            background-size: rem(1100);
          }
        }
        &.active{
          color: #333;
          font-weight: 700;
          .icon{
            border-color: #333;
            background: #fff
          }
        }
        &.all .icon:before{
          background-position: rem(0) rem(0);
        }
        &.skincare .icon:before{
          background-position: rem(-100*1) rem(0);
        }
        &.clean .icon:before{
          background-position: rem(-100*2) rem(0);
        }
        &.mask .icon:before{
          background-position: rem(-100*3) rem(0);
        }
        &.base .icon:before{
          background-position: rem(-100*4) rem(0);
        }
        &.point .icon:before{
          background-position: rem(-100*5) rem(0);
        }
        &.suncare .icon:before{
          background-position: rem(-100*6) rem(0);
        }
        &.body .icon:before{
          background-position: rem(-100*7) rem(0);
        }
        &.man .icon:before{
          background-position: rem(-100*8) rem(0);
        }
        &.cosmetic .icon:before{
          background-position: rem(-100*9) rem(0);
        }
        &.set .icon:before{
          background-position: rem(-100*10) rem(0);
        }
        &.all.active .icon:before{
          background-position: rem(0) rem(-100);
        }
        &.skincare.active .icon:before{
          background-position: rem(-100*1)rem(-100);
        }
        &.clean.active .icon:before{
          background-position: rem(-100*2)rem(-100);
        }
        &.mask.active .icon:before{
          background-position: rem(-100*3)rem(-100);
        }
        &.base.active .icon:before{
          background-position: rem(-100*4)rem(-100);
        }
        &.point.active .icon:before{
          background-position: rem(-100*5)rem(-100);
        }
        &.suncare.active .icon:before{
          background-position: rem(-100*6)rem(-100);
        }
        &.body.active .icon:before{
          background-position: rem(-100*7)rem(-100);
        }
        &.man.active .icon:before{
          background-position: rem(-100*8)rem(-100);
        }
        &.cosmetic.active .icon:before{
          background-position: rem(-100*9)rem(-100);
        }
        &.set.active .icon:before{
          background-position: rem(-100*10) rem(-100);
        }
      }
    }
  }
  .sort-menu{
    padding: 0 0 rem(30) 0;
    margin-top: rem(60);
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    .sort-box{
      float: left;
      margin-left: rem(60);
      &:first-child{
        margin-left: 0;
      }
      .label{
        float: left;
        padding-right: rem(30);
        line-height: rem(38);
        font-size: rem(22);
        font-weight: 700;
        color: #333;
      }
      .sort-list{
        float: left;
        .btn{
          display: block;
          float: left;
          margin-left: rem(4);
          padding:0 rem(15);
          min-width: rem(70);
          height: rem(38);
          line-height: rem(36);
          text-align: center;
          color: #58595b; 
          border-color :#e7e7e7;
          background: #fff;
          &.active{
            font-weight: 700;
            border-color: #333;
          }
          &:nth-of-type(1){
            margin-left: 0;
          }
        }
      }
    }
  }
}


