/* 키프레임 이름 = 애니메이션 이름 */

.brand-wrap{
  margin: 0;
  min-width: rem($default-container-width);
  .brand-visual{
    display: flex;
    flex-direction: column;
    min-height: rem(700);
    .brand-top{
      position: relative;
      flex: 1;
      overflow: hidden;
      .container{
        position: relative;
        height: 100%;
        z-index: 10;
      }
      .brand-text{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        white-space: nowrap;
        transition: opacity .3s;
        .title{
          @include font-manrope(700);
          margin-bottom: rem(50);
          line-height: 1;
          font-size: rem(100);
          color: #fff;
        }
        .text{
          line-height: rem(30);
          font-size: rem(22);
          color: #fff;
          font-weight: 500;
        }
        &.fade-out{
          opacity: 0;
        }
      }
      .brand-scroll{
        position: absolute;
        right: 0;
        bottom: rem(100);
        width: rem(70);
        height: rem(140);
        background: url("../img/icons/icon_brand_scroll.png") no-repeat center center;
        overflow: hidden;
        img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          animation: scroll-arrow 3s both;
          animation-iteration-count: infinite;
        }
      }
      @keyframes scroll-arrow {
        0% {
          top:-30%;
        }
        100% {
          top:120%;
        }
      }

      .brand-video{
        position: absolute; 
        top: 50%; 
        left: 50%; 
        min-width: 100%; 
        min-height: 100%; 
        width: auto; 
        height: auto; 
        transform: translateX(-50%) translateY(-50%);
      }
    }
    .brand-menu{
      padding-top: rem(40);
      height: rem(120);
      background: #f8f8f8;
      .tab.tab-text > ul li{
        padding: 0 rem(60);
        a{
          font-size: rem(36);
        }
      }
    }
  }
  
  .brand-area{
    display: none;
    overflow: hidden;
    &.active{
      display: block;
    }
  }
  
  .brand-intro{
    .intro-top{
      padding: rem(130) 0 rem(230) 0;
      .item-box{
        display: flex;
        justify-content: space-between;
        .btn-item{
          display: block;
          position: relative;
          .img, span{
            display: block;
          }
          .desc{
            line-height: rem(30);
            font-size: rem(22);
            color: #58595b;
          }
          .title{
            margin-bottom: rem(20);
            line-height: 1;
            text-indent: rem(-5);
            font-size: rem(50);
            font-weight: 500;
            color: #333333;
          }
          .sub-title{
            line-height: 1;
            font-size: rem(22);
            color: #333333;
          }
        }
        .item-left{
          flex: 0 0 rem(960);
          width: rem(960);
          height: rem(1153);
          .btn-item{
            position: relative;
            .img-box{
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background-color: green;
              .obj-01{
                position: absolute;
                top: 0;
                left: 0;
                width: rem(430);
                height: rem(740);
              }
              .obj-02{
                position: absolute;
                top: rem(790);
                left: rem(-170);
                width: rem(246);
                height: rem(171);
                transition:  all 2s ease-in-out;
                transition-delay: 1.5s;
                opacity: 0;
                transform: scale(0.8, 0.8);
              }
              .obj-03{
                position: absolute;
                top: rem(850);
                left: rem(420);
                width: rem(246);
                height: rem(171);
                width: rem(400);
                height: rem(400);
                transition:  all .7s ease-in-out;
                transition-delay: 2.5s;
                opacity: 0;
                transform: scale(0.8, 0.8);
              }
            }
            &.animated{
              .img-box{
                .obj-02{
                  top: rem(770);
                  opacity: 1;
                  transform: scale(1, 1);
                }
                .obj-03{
                  top: rem(830);
                  opacity: 1;
                  transform: scale(1, 1);
                }
              }
              .text-box{
                .mask{
                  .sub-title, .title, .bold-title, .desc{
                    transform: translateY(0);
                    opacity: 1;
                  }
                }
              }
            }
            .text-box{
              position: absolute;
              top: rem(76);
              left: rem(150);
              
              .title{
                font-weight: 400;
                line-height: 1.2;
                letter-spacing: rem(-0.05*66);
                font-size: rem(66);
              }
              .bold-title{
                font-weight: 400;
                line-height: 1.2;
                letter-spacing: rem(-0.05*66);
                font-size: rem(66);
                font-weight: 700;
              }
              .sub-title{
                @include font-manrope(700);
                margin-bottom: rem(20);
                font-size: rem(32);
                
                
              }
              .desc{
                line-height: rem(38);
                font-size: rem(22);
                margin-top: rem(65);
              }
              .mask{
                .sub-title{
                  transition: all 1s;
                  transition-delay: 1s;
                  transform: translateY(rem(32));
                  opacity: 0;
                }
                .title{
                  transition: all 1s;
                  transition-delay: 1.3s;
                  transform: translateY(rem(70));
                  opacity: 0;
                }
                .bold-title{
                  transition: all 1s;
                  transition-delay: 1.6s;
                  transform: translateY(rem(70));
                  opacity: 0;
                }
                .desc{
                  transition: all 1s;
                  transition-delay: 1.9s;
                  transform: translateY(rem(80));
                  opacity: 0;
                }
              }
            }
            
          }
        }
        .item-right{
          padding-top: rem(185);
          .btn-item{
            margin-right: rem(-120);
            border-radius: rem(50);
            width: rem(700);
            height: rem(700);
            overflow: hidden;
            video.brand-video{
              width: rem(700);
              height: rem(700);
              background-color: #e7e7e7;
              object-fit: cover;
              transform: scale(0.5, 0.5);
              transition: all 1s;
            }
            &.animated{
              .mask{
                width: 0;
              }
              video.brand-video{
                transform: scale(1, 1);
              }
            }
          }
          .mask{
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            background: white;
            width: 100%;
            transition: all 1s;
          }
        }
        .mask{
          overflow-y: hidden;
        }
      }
    }
    
    .intro-history{
      @include bgcover;
      background: url("../img/ui/brand_history.jpg") no-repeat center center;
      .container{
        height: 100%;
      }
      .history-content{
        height: vh(800);
        .history-scroll{
          position: relative;
          height: 100%;
          overflow: hidden;
        }
        .year-box{
          @include transition(0.2s);
          position: absolute;
          left: 0;
          top: rem(150);
          opacity: 0;
          &.active{
            opacity: 1;
          }
          p{
            line-height: rem(44);
            font-size: rem(28);
            font-weight: 500;
            color: #ffffff;
          }
          .year{
            @include font-manrope(700);
            margin: rem(30) 0 rem(40) 0;
            font-size: rem(140);
            line-height: 1;
          }
          .title{
            @include font-manrope(800);
            font-size: rem(32);
            line-height: 1;
          }
        }
        .history-list{
          position: relative;
          margin-left: 50%;
          height: 100%;
          overflow: hidden;
          .history-list{
            margin-left: 0;
          }
          .scroll-y{
            right: auto;
            left: 0;
            .scroll-element_outer{
              border-radius: 0;
            }
            .scroll-element_track{
              left: 1px;
              width: 1px;
              background: rgba(255, 255, 255, 0.5);
              opacity: 1;
            }
            .scroll-bar{
              cursor: pointer; 
              width: 3px;
              border-radius: 0;
              background: #9ed437;
              opacity: 1;
            }
          }
          .scroll-wrap{
            position: relative;
            padding: rem(80) 0;
            z-index: 10;
          }
          .history-box{
            margin-top: rem(50);
            &:first-child{
              margin-top: 0;
            }
          }
          .history-info{
            padding: 0 rem(40) 0 rem(90);
            .info-box{
              margin-top: rem(50);
              &:first-child{
                margin-top :0;
              }
              p{
                line-height: rem(24);
                font-size: rem(18);
                color: #ffffff;
              }
              .date{
                @include font-manrope(500);
                margin-bottom: rem(10);
                font-size: rem(22);
                line-height: 1;
              }
              .img{
                display: block;
                margin-top: rem(20);
                border-radius: rem(10);
                box-shadow: 0 0 rem(20) rgba(0,0,0,0.1);
              }
            }
          }
        }
      }
      .history-page{
        height: rem(100);
        background: rgba(49,41,28,0.9);
        .contains{
          width: rem($default-container-width);
          margin: auto;
        }
        .page-list{
          display: table;
          width: 100%;
          table-layout: fixed;
          li{
            display: table-cell;
            position: relative;
            padding-top: rem(25);
            &:first-child:before{
              display: none;
            }
            &:before{
              display: block;
              content: "";
              position: absolute;
              left: -20%;
              top: rem(50);
              width: 40%;
              height: 1px;
              background: #fff;
              opacity: 0.3;
            }
          }
          .btn-year{
            @include font-manrope(500);
            @include transition(0.2s);
            display: block;
            position: relative;
            height: rem(50);
            line-height: rem(50);
            text-align: center;
            font-size: rem(22);
            color: #fff;
            opacity: 0.3;
            &.active{
              opacity: 1;
            }
          }
        }
      }
    }
    
    .intro-brand{
      position: relative;
      padding: rem(300) 0 rem(150) 0;
      .brand-title{
        @include font-manrope(800);
        position: absolute;
        left: 50%;
        top: rem(60);
        transform: translateX(-50%);
        text-align: center;
        line-height: 1;
        font-size: rem(300);
        color: #f7f7f7;
        white-space: nowrap;
        z-index: 1;
      }
      .container{
        position: relative;
        z-index: 2;
      }
      .brand-list{
        .list-box{
          display: flex;
          flex-grow: 1;
          margin-top: rem(80);
          &:first-child{
            margin-top: 0;
            .text-box{
              padding-top: 0;
            }
          }
          &:nth-child(2) .text-box,
          &:nth-child(4) .text-box{
            padding-right: 0;
            padding-left: rem(80);
          }
          &:nth-child(4) .img-box{
            .img{
              margin-left: rem(-200);
            }
          }
          .img-box{
            width: 50%;
          }
          .text-box{
            padding-top: rem(100);
            padding-right: rem(80);
            width: 50%;
            .title{
              @include font-manrope(700);
              line-height: 1;
              font-size: rem(80);
              color: #333;
              span{
                color: #89b03f;
              }
            }
            .sub-title{
              margin: rem(20) 0 rem(40) 0;
              line-height: 1;
              font-size: rem(46);
              font-weight: 700;
              color: #333333;
            }
            .text p{
              line-height: rem(44);
              font-size: rem(26);
              color: #58595b;
              word-break: keep-all;
            }
            .eng{
              @include font-manrope(700);
              margin-bottom: rem(50);
              line-height: 1;
              font-size: rem(32);
              color: #333333;
            }
          }
          
        }
      }
    }
    
    .intro-bottom{
      display: flex;
      flex-grow: 1;
      .item-box{
        position: relative;
        width: 60%;
        height: vh(950);
        background: #ede8e2;
        overflow: hidden;
        .leaf{
          position: absolute;
          left: 0;
          top: rem(-60);
          width: rem(496);
          height: rem(495);
          background: url("../img/ui/brand_leaf.png") no-repeat;
        }
        .text-box{
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          padding: 0 rem(40);
          text-align: center;
          .card-img{
            margin-bottom: rem(60);
            text-align: center;
            img{
              border-radius: rem(30);
              box-shadow: rem(15) rem(15) rem(20) rgba(0,0,0,0.2);
            }
          }
          p{
            line-height: rem(44);
            font-size: rem(26);
            color: #000000;
            word-break: keep-all;
          }
          .title{
            @include font-manrope(700);
            margin-bottom: rem(20);
            line-height: 1;
            font-size: rem(32);
            color: #333;
          }
          .btn-detail{
            display: block;
            position: relative;
            margin: 0 auto;
            margin-top: rem(70);
            padding-left: rem(40);
            width: rem(250);
            height: rem(60);
            line-height: rem(58);
            text-align: left;
            font-size: rem(18);
            font-weight: 700;
            color: #ffffff;
            border-radius: rem(10);
            background: #31291c;
            .icon{
              position: absolute;
              right: rem(40);
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
      .slide-box{
        width: 40%;
        height: vh(950);
        .brand-slide-area{
          width: 100%;
          height: 100%;
          .swiper-container{
            height: 100%;
            .swiper-slide{
              @include bgcover;
            }
          }
          .btn-slide{
            display: block;
            position: absolute;
            left: rem(80);
            top: 50%;
            transform: translateY(-50);
            z-index: 10;
            &.next{
              left: auto;
              right: rem(80);
            }
          }
        }
      }
    }
    
    .intro-our{
      padding: rem(140) 0 0 0;
      .title-box{
        @include font-manrope(800);
        position: relative;
        margin-bottom: rem(70);
        line-height: 1;
        text-align: center;
        font-size: rem(80);
        color: #333333;
        span{
          color: #89b03f;
        }
        .btn-detail{
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          width: rem(70);
          height: rem(70);
          border: 1px solid #ddd;
          border-radius: 50%;
        }
      }
      
      .our-slide-area{
        position: relative;
        padding: 0 rem(40);
        .slide-area{
          overflow: hidden;
          -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0)), color-stop(0.3, rgba(0,0,0,1)), color-stop(0.7, rgba(0,0,0,1)), to(rgba(0,0,0,0)));
        }
        .btn-link{
          display: block;
          margin: 0 auto;
          width: rem(360);
          text-align: center;
          span{
            display: block;
          }
          .img{
            display: block;
          }
          .title{
            margin: rem(40) 0 rem(15) 0;
            line-height: rem(26);
            font-size: rem(18);
            font-weight: 700;
            color: #333333;
            .emphas{
              color: $fc-primary;
            }
          }
          .text{
            line-height: rem(22);
            font-size: rem(14);
            color: #333333;
          }
        }
        
        .btn-slide{
          display: block;
          position: absolute;
          left: 0;
          top: rem(160);
          opacity: 0.3;
          z-index: 10;
          &.next{
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
  
  .brand-media{
    padding-top: rem(80);
    
    .map-wrap{
      margin-top: rem(140);
      .brand-map-area{
        height: rem(800);
        border-radius: rem(65);
        overflow: hidden;
        .map{
          height: rem(800);
        }
        .map-info-wrap{
          margin-left: -300px;
        }
      }
    }
  }
  
  .brand-animate{
    @include transition(1s);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    opacity: 0;
    &.left{
      transform: translateX(-300px);
    }
    &.right{
      transform: translateX(300px);
    }
    &.bottom{
      transform: translateY(300px);
    }
    &.bottom100{
      transform: translateY(100px);
    }
    &.animated{
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}
