.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: rem(50);
	font-size: rem($btn-default-fs);
  line-height: 1;
  letter-spacing: rem(-0.05*$btn-default-fs);
	color: $btn-default-fc;
	padding: 0 rem($btn-default-pad);
  min-width: rem($btn-default-minWidth);
	&.btn-sm{
    font-size: rem($btn-sm-fs);
    letter-spacing: rem(-0.05*$btn-sm-fs);
		height: rem(38);
    padding: 0 rem($btn-sm-pad);
    min-width: rem($btn-sm-minWidth);
	}
	&.btn-lg{
    height: rem(60);
    font-size: rem($btn-lg-fs);
    letter-spacing: rem(-0.05*$btn-lg-fs);
    min-width: rem($btn-lg-minWidth);
    padding: 0 rem($btn-lg-pad);
    &.btn-round{
      border-radius: rem(30);
    }
  }
  &.btn-md{
    height: rem(50);
    font-size: rem(18);
    letter-spacing: rem(-0.05*18);
    padding: 0 rem(30);
  }
  &.btn-xs{
    height: rem(60);
    font-size: rem(22);
    letter-spacing: rem(-0.05*22);
    &.btn-round{
      border-radius: rem(40);
    }
  }
	&.btn-round{
		border-radius: rem(50);
	}
	&.btn-fill{
		color: #ffffff;
		&.primary{
			background-color: $btn-fill-primary;
		}
		&.secondary {
			background-color: $btn-fill-secondary;
		}
		&.black{
      background-color: $btn-fill-black;
    }
    &.green{
      background-color: $btn-fill-green;
    }
	}
	&.btn-outline{
		&.light-gray{
			border: 1px solid $btn-outline-lightgray;
      transition: border 0.2s ease-out;
      &:hover{
        border: 1px solid $btn-outline-black;  
      }
		}
		&.black{
      border: 1px solid $btn-outline-black;
    }
    &.white{
      color: #fff;
      border: 1px solid $btn-outline-white;
    }
    &.green{
      color: $btn-color-green;
      border: 1px solid $btn-outline-green;
    }
	}
	&.btn-square {
		border-radius: rem(12);
	}
	&.btn-wide{
		width: 100%;
	}
}

.btn-all-link{
  display: inline-block;
  padding:0 rem(5);
  height: rem(30);
  line-height: rem(28);
  font-size: rem(16);
  font-weight: 500;
  color: #58595b;
  &:after{
    display: inline-block;
    content: "";
    margin: rem(-2) 0 0 rem(2);
    width: rem(20);
    height: rem(20);
    vertical-align: middle;
    background: url('../img/icons/icon_arrow_link.png') no-repeat center center;
  }
}
.btn-review-helpful{
  display: inline-block;
  position: relative;
  padding: 0 rem(15) 0 rem(40);
  min-width: rem(200);
  line-height: rem(48);
  text-align: left;
  font-weight: 700;
  &:before{
    display: block;
    content: "";
    position: absolute;
    left: rem(14);
    top: 50%;
    transform: translateY(-50%);
    width: rem(16);
    height: rem(17);
  }
  &.green{
    &:before{
      background: url("../img/icons/icon_help_thumb.png") no-repeat center center;
    }
  }
  &.light-gray{
    color: #bcbdc1;
    &:before{
      background: url("../img/icons/icon_help_thumb_gray.png") no-repeat center center;
    }
  }
}