.order-content-wrap{
  position: relative;
  
  .list-empty-box{
    position: relative;
    padding-top: rem(160);
    &:before{
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: rem(60);
      right: 0;
      height: 1px;
      background: #333;
    }
    border-bottom: 2px solid $section-border-color;
  }
  
  &.order-right-menu{
    padding-right: rem(350);
  }
  .order-detail-list{
    .detail-header, .detail-footer{
      .btn{
        right: 0;
      }
    }
  }
  
  .order-detail-list .detail-list .order-item-box{
    height: auto;
    .order-price{
      width: rem(140);
    }
    .order-btn{
      padding:0 rem(40) 0 rem(30);
      width: rem(95);
      box-sizing: content-box;
      .btn{
        min-width: auto;
      }
    }
  }
  .order-payment-info{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: rem(60);
    width: rem(300);
    border: 1px solid #333;
    border-radius: rem(20);
    overflow: hidden;
    &.sticky{
      position: fixed;
      right: calc((100% - #{rem($default-container-width)})/2);
      top: rem(10);
      // bottom: rem(10);
      &.reach-bottom{
        position: absolute;
        top: auto;
        bottom: 0;
      }
    }
    .info-title{
      margin-bottom: rem(15);
      line-height: 1;
      text-align: right;
      font-size: rem(16);
      color: #333333;
      font-weight: 700;
      .icon{
        margin: rem(-2) rem(6) 0 0;
        vertical-align: middle;
      }
      &.title-alignl{
        text-align: left;
      }
    }
    .info-list{
      li{
        position: relative;
        min-height: rem(30);
        text-align: right;
        p{
          line-height: rem(30);
          font-size: rem(14);
          letter-spacing: rem(-0.05*14);
          color: #333333;
          font-weight: 500;
        }
        .label{
          position: absolute;
          left: 0;
          top: 0;
          font-weight: 500;
        }
        .value.green{
          color: $fc-primary-darken;
        }
        .value.emphas{
          color: $fc-red;
        }
        .value b{
          @include font-manrope(700);
          display: inline-block;
          margin: rem(-4) 0 0 0;
          vertical-align: middle;
          line-height: rem(30);
          font-size: rem(20);
          letter-spacing: rem($letter-spacing-price);
        }
      }
      li.total-box{
        margin-top: rem(20);
        padding-top: rem(20);
        border-top:0;
        background-image: url(../img/icons/dash.jpg);
        background-repeat: repeat-x;
        
        .label{
          font-size: rem(16);
          top: rem(20);
          font-weight: 700;
        }
        .value{
          font-size: rem(16);
          font-weight: 500;
          b{
            font-size: rem(30);
            @include font-manrope(700);
            letter-spacing: rem($letter-spacing-price);
            vertical-align: text-bottom;
          }
        }
      }
      
      li.desc-box{
        margin-top: rem(25);
        .desc{
          height: rem(50);
          line-height: rem(50);
          font-size: rem(14);
          color: #666;
          text-align: center;
          border-radius: rem(10);
          border: 1px solid $bc-box;
          // background: #f8f8f8;
          letter-spacing: rem($letter-spacing-default);
          .icon{
            margin: 0 rem(12) 0 0;
            vertical-align: middle;
          }
        }
      }
    }
    .payment-point{
      padding: rem(30) rem(30) rem(20) rem(30);
      background: $bg-gray;
      &.bg-gray {
        background-color: $bg-data;
      }
    }
    .payment-price{
      padding: rem(40) rem(30) rem(26) rem(30);
      &.bg-gray {
        background-color: $bg-data;
      }
      .total-top {
        margin-top: rem(26);
        // margin-bottom: rem(20);
        // padding-bottom: rem(20);
        // border-bottom: 1px solid #dddddd;
        text-align: right;

        .value {
          // line-height: rem(40);
          font-size: rem(16);
          @include font-manrope(500);
          letter-spacing: rem($letter-spacing-price);
          color: $fc-primary-darken;
        }

        .value b {
          margin: rem(-20) rem(3) 0 0;
          line-height: 1;
          font-size: rem(28);
          @include font-manrope(700);
          letter-spacing: rem($letter-spacing-price);
          vertical-align: text-bottom;

        }
      }
      
    }
    .payment-detail{
      padding: rem(30);
      .btn-detail-price {
        cursor: pointer;
        position: relative;
        padding-right: rem(22);

        &:after {
          display: block;
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: rem(-4);
          width: rem(11);
          height: rem(8);
          background: url('../img/icons/icon_arrow_more.png') no-repeat center center;
        }
      }

      .info-detail-price {
        display: none;
        margin-top: rem(10);
        padding: rem(15) rem(20);
        border-radius: rem(10);
        background-color: #ffffff;
        border: 1px solid $bc-top;

        p {
          font-size: rem(14);
          color: #666;
        }

        .value b {
          font-size: rem(16);
          color: $fc-dark-gray;
        }
      }

      li.active {
        .btn-detail-price {
          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }
    .payment-agree{
      padding: rem(30) rem(30) rem(40) rem(30);
    // white-space: nowrap;
      p{
        line-height: rem(24);
        font-size: rem(14);
        color: #999999;
        letter-spacing: -0.5px;
      }
      .check-wrap{
        margin: rem(20) 0 0 rem(-3);
      }
    }
    .payment-btn{
      .btn{
        display: block;
        height: rem(70);
        line-height: rem(70);
        text-align: center;
        font-size: rem(22);
        color: #333333;
        font-weight: 700;
        background: #f8f8f8;
      }
      .btn-order{
        color: #fff;
        background: $btn-fill-black;
      }
      .btn-empty{
        padding: 0;
        color: #bcbdc1;
        background: #f8f8f8;
      }
    }
  }
  
  .tooltip-drop-down{
    padding-right: rem(20)!important;
    &:before{
      right: 0;
      opacity: 0.4;
    }
    // .tooltip-box{
      // left: auto;
      // right: 0;
    // }
  }
  
  .order-gift-list{
    margin-top: rem(60);
    .gift-more-wrap{
      margin-top: rem(80);
      padding: rem(40) 0 rem(60) 0;
      border-top: 1px solid #e7e7e7;
      border-bottom: 1px solid #e7e7e7;
      .gift-title{
        padding-left: rem(20);
        line-height: 1;
        font-size: rem(18);
        letter-spacing: rem(-0.05*18);
        font-weight: 700;
        color: #333333;
        b{
          font-size: rem(20);
          &.fc-primary{
            color: $fc-primary-darken;
            @include font-manrope(700);
          }
        }
      }
      .gift-list .list-box{
        height: rem(235);
      }
      .item-list-more{
        margin-top: rem(40);
      }
      
    }
    .gift-caution-box{
      margin-top: rem(40);
    }
    
  }
  .important-notice-phrase{
    margin-top: rem(70);
    font-size: rem(22);
    letter-spacing: rem(-0.05*22);
    line-height: 1;
    font-weight: 700;
    [class*="icon-"]{
      margin-right: rem(10);
    }
  }
  .notice-wrap{
    .important-notice-phrase{
      margin-top: rem(40);
    }
  }
  .notice-list{
    margin-top: rem(20);
    font-size: rem(16);
    letter-spacing: rem(-0.05*16);
    line-height: 2.2;
    color: $fc-gray;
    li{
      position: relative;
      padding-left: rem(15);
      &:before{
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: rem(18);
        width: rem(4);
        height: rem(4);
        border-radius: 50%;
        background-color: $fc-light-gray;
      }
    }
    [class*="icon-"]{
      vertical-align: middle;
    }
  }
  
  .order-payment-select{
    display: flex;
    flex-flow: wrap;
    padding: rem(30);
    border-top: 1px solid #333333;
    border-bottom: 1px solid #e7e7e7;
    .btn-payment{
      position: relative;
      flex: 1;
      margin: 0 rem(10);
      font-size: rem(18);
      padding: 0;
      &.btn-outline{
        border-width: 2px;
      }
      &.btn-fill{
        border: 2px solid transparent;
      }
    }
  }

  .payment-notice{
    .info-content{
      &.credit-card{
        .list{
          ul{
            display: flex;
            border-bottom: 1px solid $section-border-color;
            >li{
              flex: 0 0 calc(100%/3);
              .card-item{
                display: flex;
                flex-direction: column;
                padding-top: rem(30);
                padding-bottom: rem(20);
                .logo{
                  width: rem(100);
                  &.samsung{
                    width: rem(132);
                  }
                  &.hyundai{
                    width: rem(117);
                  }
                  &.shinhan{
                    width: rem(114);
                  }
                  &.kb{
                    width: rem(122);
                  }
                  &.nh{
                    width: rem(119);
                  }
                  &.bc{
                    width: rem(96);
                  }
                  img{
                    width: 100%;
                  }
                }
                .info{
                  margin-top: rem(15);
                  letter-spacing: rem(-1);
                  .title{
                    font-size: rem(14);
                  }
                  .content{
                    margin-top: rem(15);
                    font-size: rem(12);
                    font-weight: 300;
                    .red{
                      color: rgba(255,0,0,1);
                    }
                  }
                }
              }
            }
          }
        }
        .important-notice-phrase{
          margin-top: rem(40);
        }
      }
      &.deposit, &.realtime{
        .gray-box{
          background-color: $bg-data;
        }
        .step-wrap{
          margin-top: rem(40);
          padding: rem(30) 0;
          >ul{
            display: flex;
            width: 100%;
            >li{
              position: relative;
              flex: 1 1 auto;
              text-align: center;
              &:after{
                content: '';
                position: absolute;
                display: inline-block;
                @extend .icon-step-arrow;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
              }
              &:nth-last-of-type(1){
                &:after{
                  content: none;
                }
              }
              .step{
                font-size: rem(16);
                margin-bottom: rem(10);
                letter-spacing: rem(-0.05*16);
              }
              .description{
                font-size: rem(18);
                font-weight: 500;
                letter-spacing: rem(-0.05*18);
              }
            }
          }
        }
        .table-wrap{
          table{
            text-align: left;
            th{
              font-size: rem(18);
              font-weight: 500;
              background-color: #f8f8f8;
            }
            td{
              line-height: 2;
              font-size: rem(16);
              font-weight: 300;
            }
          }
        }
      }
    }
  }
  
  .order-payment-desc{
    display: flex;
    flex-flow: wrap;
    padding: rem(30);
    border-bottom: 1px solid #e7e7e7;
    .btn-info{
      min-width: rem(200);
      margin: 0 rem(5);
    }
    .desc-text{
      margin-left: rem(20);
      width: auto;
      color: #58595b;
      .icon{
        margin: rem(-4) rem(4) 0 rem(4);
        vertical-align: middle;
      }
      &:last-child{
        margin-left: 0;
        width: 100%;
      }
    }
  }
}

.order-recent-slide-wrap{
  margin-top: rem(120);
  .recent-slide-wrap{
    padding-top: rem(40);
    border-top: 1px solid $bc-top;
    .img-list{
      .img-slot{
        height: rem(240);
      }
    }
  }
}
