.category-result-wrap{
  .result-header{
    position: relative;
    padding-top: rem(50);
    .result-total{
      position: absolute;
      left: 0;
      top: 0;
      line-height: rem(30);
      font-size: rem(18);
      color: #000;
      .total{
        font-weight: 700;
        color: $primary;
      }
    }
    .sort-menu{
      position: absolute;
      right: 0;
      top: 0;
      height: rem(30);
      .menu-box{
        position: relative;
        float: left;
        padding: 0 rem(6);
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: rem(-5);
          width: 1px;
          height: 14px;
          background: #e7e7e7;
        }
      }
      .menu-box:first-child:before{
        display: none;
      }
      .drop-down-box{
        margin-left: rem(30);
        &:before{
          display: none;
        }
      }
      .btn-sort{
        display: block;
        padding: 0 rem(6);
        line-height: rem(30);
        font-size: rem(16);
        color: #58595b;
      }
    }
    .result-filter-box{
      position: relative;
      padding: rem(25) rem(30);
      height: rem(80);
      border-top: 1px solid #333;
      background: #f5f5f5;
      .filter-list{
        height: rem(30);
        .filter-box{
          position: relative;
          float: left;
          margin-right: rem(4);
          padding: 0 rem(35) 0 rem(15);
          min-width: rem(80);
          height: rem(30);
          border: 1px solid #e7e7e7;
          border-radius: rem(15);
          background: #fff;
          p{
            font-size: rem(16);
            line-height: rem(26);
            color: #58595b;
          }
          .icon-good{
            margin-right: rem(5);
          }
          .btn-delete{
            display: block;
            position: absolute;
            right: 0;
            top: -1px;
            width: rem(30);
            height: rem(30);
            background: url('../img/icons/icon_filter_close.png') no-repeat center center;
          }
        }
      }
      .btn-filter-reset{
        display: block;
        position: absolute;
        right: rem(25);
        top: rem(25);
        padding: 0 rem(30) 0 rem(15);
        height: rem(30);
        line-height: rem(28);
        font-size: rem(16);
        color: #58595b;
        &:after{
          display: block;
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: rem(30);
          height: rem(30);
          background: url('../img/icons/icon_filter_refresh.png') no-repeat center center;
        }
      }
    }
  }
}