.check-wrap{
	label{
	  cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
		font-size: rem(16);
		letter-spacing: rem($letter-spacing-default);
		
		>span{
			font-weight: 500;
		}
	}
	.checkbox{
		width: rem(20);
		height: rem(20);
		margin-right: rem(5);
		margin-left: rem(5);
		input[type="checkbox"]{
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
			width: 0;
			height: 0;
			opacity: 0;
			&:checked+.icon-chk {
				border: 1px solid #333333;
				background-image: url('../img/icons/checkbox_large_checked.png');
				background-size: rem(10) rem(10);
			}
		}
		.icon-chk{
			@extend .icon-chk;
			border: 1px solid #e7e7e7;
			border-radius: rem(4);
			background-position: center;
			
		}
		&.large{
			width: auto;
			height: auto;
			line-height: 0;
			input[type="checkbox"]{
				&:checked+.icon-chk {
					border: 1px solid #333333;
					background-image: url('../img/icons/checkbox_large_checked.png');
					background-size: auto;
				}
				&:disabled+.icon-chk {
					border: 1px solid #e7e7e7;
					background: #f8f8f8;
				}
			}
			
			.icon-chk{
				@extend .icon-chk-large;
				border-radius: rem(8);
				
			}
		}
	}
}