html, body{
	scroll-behavior: smooth;
	// 모바일 iPhone5 이하
	// @media all and (max-width: $breakpoint-mobile-small){
	// 	font-size: 6px;
	// }
	// 모바일
	// @media all  and (min-width: $breakpoint-mobile-small) and (max-width: $breakpoint-tablet-landscape) {
	// 	font-size: 8px;
	// }
	// 태블릿
	@media all and (max-width: $breakpoint-pc-default) {
		font-size: 16px;
	}
	// PC
	@media all and (min-width: $breakpoint-pc-default){
		font-size: 16px;
	}
}

body, textarea{
	font-family: 'Noto Sans KR', '맑은고딕', 'Malgun Gothic', dotum, gulim, sans-serif;
	color: $fc-default;
}
.for-pc{
	@media all and (max-width: $breakpoint-tablet-landscape) {
		display: none !important;
	}
}
.for-mobile {
	@media all and (min-width: $breakpoint-tablet-landscape) {
		display: none !important;
	}
}
.hidden{
	display: none !important;
}
html {
	&.hold {
		overflow-y: hidden !important;
	}
}
em, strong{
	font-weight: 700;
}
.color-green{
  color: $primary !important;
}
.color-red{
  color: #f01d11 !important;
}
.color-gray{
  color: $fc-gray !important;
}
.align-c{
	text-align: center;
}
.align-l{
	text-align: left;
}
.align-r{
	text-align: right;
}
.font-manrope{
	@include font-manrope(400);
}