.customer-content-wrap{
  margin-top: rem(60);
  .customer-info-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: rem(80) 0;
    height: rem(70);
    text-align: center;
    border-radius: rem(10);
    background: #f8f8f8;
    .tel{
      margin-right: rem(90);
      font-size: rem(22);
      color: #000;
      font-weight: 700;
      .icon{
        margin: rem(-4) rem(8) 0 0;
        vertical-align: middle;
      }
      .btn-link{
        margin-left: rem(20);
        font-size: rem(26);
        color: #6b8138;
      }
    }
    .time{
      position: relative;
      padding-right: rem(30);
      font-size: rem(18);
      color: #818286;
      &:after{
        display: block;
        content: "";
        position: absolute;
        right: rem(14);
        top: 50%;
        margin-top: rem(-6);
        width: 1px;
        height: rem(16);
        background: #dddddd;
      }
      &:last-child{
        padding-right: 0;
        &:after{
          display: none;
        }
      }
    }
  }
  
  .page-tab-menu{
    margin-bottom: rem(60);
  }
  
  .customer-help-title{
    margin-bottom: rem(70);
    text-align: center;
    padding: rem(30) 0 rem(60) 0;
    border-bottom: 1px solid #e7e7e7;
    .help-title{
      margin-bottom: rem(15);
      line-height: 1;
      font-size: rem(36);
      font-weight: 700;
      color: #333333;
      font-weight: 700;
      .icon{
        margin: rem(-6) rem(10) 0 0;
        vertical-align: middle;
      }
    }
    .help-text{
      line-height: 1;
      font-size: rem(22);
      color: $fc-dark-gray;
      letter-spacing: rem(-0.05*22);
    }
  }
  
  .customer-help-box{
    padding-bottom: rem(55);
    border-bottom: 1px solid #e7e7e7;
    .help-label{
      margin: rem(50) 0 rem(30) 0;
      line-height: 1;
      font-size: rem(22);
      letter-spacing: rem(-0.05*22);
      font-weight: 700;
      color: #333333;
      &:first-child{
        margin-top: 0;
      }
      .icon{
        margin: 0 rem(10) 0 0;
        vertical-align: middle;
      }
      .icon-notice{
        margin-top: rem(-6);
      }
    }
    .help-menu{
      display: flex;
      flex-flow: wrap;
      margin-bottom: rem(70);
      li{
        flex: 1;
        margin-left: rem(25);
        &:first-child{
          margin-left: 0;
        }
        .btn-menu{
          display: flex;
          position: relative;
          justify-content: center;
          padding-top: rem(65);
          padding-left: rem(15);
          padding-right: rem(15);
          width: 100%;
          height: rem(140);
          text-align: center;
          line-height: rem(24);
          font-size: rem(16);
          font-weight: 500;
          color: #818286;
          border: 1px solid #e7e7e7;
          border-radius: rem(20);
          letter-spacing: rem($letter-spacing-default);
          @include ellipsen(2);
          &:before{
            display: block;
            content: "";
            position: absolute;
            left: 50%;
            top: rem(25);
            transform: translateX(-50%);
            opacity: 0.3;
            @extend .icon-q-black;
            
          }
          &:after{
            display:block;
            content:'';
            position:absolute;
            width:100%;
            height: rem(28);
            left:0;
            bottom:0;
            background:#fff;
          }
          &.active{
            color: #333;
            border-color: #333;
            &:before{
              opacity: 1;
            }
          }
        }
      }
    }
    .help-btn-box{
      position: relative;
      p{
        font-size: rem(16);
        line-height: 1.5em;
        color: #58595b;
        letter-spacing: rem(-0.05*16);
      }
      .btn-box{
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        .btn{
          min-width: rem(180);
          margin-left: rem(10);
        }
      }
    }
  }
}

.page-category-menu{
  display: flex;
  flex-flow: wrap;
  margin-bottom: rem(80);
  .btn-menu{
    flex: 1;
    padding-top: rem(40);
    margin: 0 rem(20);
    height: rem(150);
    text-align: center;
    border-radius: rem(25);
    background: #e0ead1;
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
    .name{
      display: block;
      margin-bottom: rem(18);
      line-height: 1;
      font-size: rem(26);
      font-weight: 700;
      color: #3a5542;
    }
    .text{
      display: block;
      line-height: 1;
      font-size: rem(16);
      color: #58595b;
    }
  }
}

//매장찾기 지도
.content-wrap.map-wrap{
  position: absolute;
  margin: 0;
  left: 0;
  top: rem(131);
  right: 0;
  bottom: 0;
  min-width: rem($default-container-width);
  .map-area{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: rem(70);
    .map{
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }
}
.map-wrap{
  .map-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: rem(70);
    text-align: center;
    background: #fff;
    p{
      line-height: rem(70);
      font-size: rem(16);
      color: #58595b;
    }
  }
  .map-over{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    .container{
      position: relative;
    }
  }
  
  //지도 검색
  .map-search-popup{
    @include transition(0.2);
    display: none;
    position: absolute;
    left: 0;
    top: rem(50);
    width: rem(380);
    height: 100%;
    max-height: rem(640);
    border-radius: rem(18);
    box-shadow: 0 0 rem(20) rgba(0,0,0,0.05);
    background: #fff;
    overflow: hidden;
    .map-tab{
      display: flex;
      height: rem(80);
      .btn-tab{
        display: block;
        flex: 1;
        height: rem(80);
        line-height: rem(80);
        text-align: center;
        font-size: rem(22);
        font-weight: 500;
        color: #58595b;
        background: #f5f5f5;
        &.active{
          color: #fff;
          font-weight: 700;
          background: #31291c;
        }
      }
    }
    .map-tab-area{
      position: absolute;
      left: 0;
      top: rem(80);
      right: 0;
      bottom: 0;
      opacity: 0;
      visibility: hidden;
      &.active{
        opacity: 1;
        visibility: visible;
      }
    }
    .btn-close{
      display: block;
      position: absolute;
      right: rem(25);
      bottom: rem(25);
      padding: rem(5);
      z-index: 10;
      .icon{
        display: block;
      }
    }
    .btn-result-close{
      display: block;
      position: relative;
      padding: 0 0 0 rem(30);
      height: rem(60);
      .on, .off{
        display: none;
        line-height: rem(60);
        font-size: rem(18);
        font-weight: 700;
        color: #333333;
      }
      .off{
        display: block;
      }
      .icon{
        position: absolute;
        right: rem(30);
        top: 50%;
        margin-top: rem(-4);
        transform: rotate(180deg);
      }
    }
    &.close{
      height: rem(220) !important;
      .btn-result-close {
        .on{
          display: block;
        }
        .off{
          display: none;
        }
        .icon{
          transform: rotate(0);
        }
      }
    }
    .map-search{
      position: relative;
      border-bottom: 1px solid #e7e7e7;
      height: rem(81);
      .search-box{
        display: flex;
        padding: rem(15) 0 0 rem(30);
        flex-wrap: wrap;
        .select-map-addr1 .btn-select{
          min-width: rem(110);
          width: rem(110);
        }
        .select-map-addr2 .btn-select{
          width: rem(150);
        }
      }
      .input-search{
        padding: 0 rem(70) 0 rem(30);
        width: 100%;
        height: rem(80);
        font-size: rem(18);
        color: #333;
        border: 0;
      }
      .btn-search{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: rem(80);
        height: rem(80)
      }
    }
    .map-result-total{
      padding: 0 rem(30);
      line-height: rem(50);
      font-size: rem(16);
      color: #58595b;
      border-top: 1px solid #333333;
      background: #f8f8f8;
    }
    .map-result{
      position: absolute; 
      left: 0;
      top: rem(190);
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      .scroll-wrapper{
        height: 100%;
      }
      .result-list{
        li{
          padding: rem(25) rem(30);
          width: rem(380);
          border-top: 1px solid #e7e7e7;
          &:first-child{
            border-top: 0;
          }
          .btn-map{
            display: block;
            position: relative;
            padding-right: rem(50);
            background: url('../img/icons/icon_map_point.png') no-repeat right top;
            .map-name{
              display: block;
              margin-bottom: rem(6);
              line-height: rem(24);
              font-size: rem(18);
              color: #333;
              font-weight: 500;
            }
            .map-address{
              display: block;
              line-height: rem(22);
              font-size: rem(16);
              color: #58595b;
              @include ellipsen(2);
            }
          }
          .map-tel{
            margin-top: rem(10);
            .btn-tel{
              font-size: rem(16);
              color: #6b8138;
            }
          }
        }
      }
      .list-empty-box{
        padding: rem(40) 0;
      }
    }
  }
  
  //지도 정보
  .map-info-wrap{
    border: 0!important;
    background: transparent!important;
    > div{
      position: relative;
      left: auto;
      top: auto;
      right: auto;
      bottom: auto;
      &:after{
        display: block;
        content: "";
        position: absolute;
        right: rem(30);
        top: rem(30);
        width: rem(20);
        height: rem(20);
        background: url('../img/icons/icon_close_black.png') no-repeat center center;
        z-index: 9;
      }
    }
    > img{
      right: rem(30)!important;
      top: rem(30)!important;
      width: rem(20)!important;
      height: rem(20)!important;
      opacity: 0;
      z-index: 10;
    }
  }
  .map-info-popup{
    padding: rem(25) rem(30) rem(10) rem(30);
    width: rem(460);
    border-radius: rem(25);
    box-shadow: 0 0 rem(20) rgba(0,0,0,0.05); 
    background: #fff;
    overflow: hidden;
    z-index: 20;
    .info-top{
      position: relative;
      padding-right: rem(100);
      padding-bottom: rem(15);
      .map-name{
        margin-bottom: rem(6);
        line-height: rem(24);
        font-size: rem(18);
        color: #333;
        font-weight: 500;
      }
      .map-address{
        line-height: rem(22);
        font-size: rem(16);
        color: #58595b;
        @include ellipsen(2);
      }
      .map-tel{
        margin-top: rem(10);
        .btn-tel{
          font-size: rem(16);
          color: #6b8138;
        }
      }
      .btn-store{
        position: absolute;
        right: 0;
        bottom: rem(15);
        padding: 0;
        min-width: rem(88);
        text-align: center;
      }
    }
    .info-transport{
      margin-top: rem(5);
      .list-box{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: rem(15) 0;
        padding-left: rem(125);
        min-height: rem(80);
        border-top: 1px solid #e7e7e7;
        .label{
          position: absolute;
          left: rem(60);
          top: 50%;
          margin-top: rem(-10);
          line-height: rem(20);
          font-size: rem(18);
          color: #333333;
          font-weight: 700;
        }
      }
      .bus-box{
        background: url('../img/icons/icon_map_bus.png') no-repeat left center;
        .transport-list li{
          position: relative;
          &.blue:before, &.green:before, &.red:before{
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: rem(13);
            margin-top: rem(-3);
            width: rem(7);
            height: rem(7);
            border-radius: 50%;
            background: #1b2caa;
          }
          &.green:before{
            background: $primary;
          }
          &.red:before{
            background: #8a494d;
          }
        }
      }
      .subway-box{
        background: url('../img/icons/icon_map_subway.png') no-repeat 5px center;
      }
      .transport-list{
        width: rem(275);
        li{
          padding-left: rem(16);
          margin-top: rem(5);
          &:first-child{
            margin-top: 0;
          }
        }
        p{
          line-height: rem(24);
          font-size: rem(16);
          color: #58595b;
        }
      }
    }
  }
}

.store-list{
  margin-top: rem(75);
  >ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li{
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: rem(222);
      // margin-right: rem(15);
      &:nth-of-type(6n){
        margin-right: 0;
      }
      &:nth-last-of-type(n+7){
        margin-bottom: rem(15);
      }
      a{
        display: block;
        border: 1px solid $section-border-color;
        border-radius: rem(10);
        overflow: hidden;
        img{
          display: block;
          width: 100%;
        }
        &:hover{
          border-color: #333;
        }
      }
    }
  }
}