.date-picker{
  display: none;
  @include font-manrope(400);
  padding: 0 rem(20);
  width: rem(230);
  height: rem(50);
  font-size: rem(16);
  color: $fc-dark-gray;
  border: 1px solid #e7e7e7;
  border-radius: rem(10);
  background: #fff;
  margin: 0 rem(5);
  text-align: center;
  &.active{
    display: inline-block;
  }
}
.daterangepicker td.active, .daterangepicker td.active:hover{
  background-color: $primary !important;
}