.error{
  position: relative;
  min-height: rem(600);
  height: calc(100vh - #{rem($gnb-header-height + $gnb-header-margin-top)});
  .text-box{
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
	h1{
		margin-top: rem(55);
		font-size: rem(36);
		font-weight: 700;
		color:  $fc-default;
		letter-spacing: rem(-0.05*36);
	}
	.description{
		margin-top: rem(25);
		font-size: rem(16);
		color: $fc-dark-gray;
	}
	.btn-wrap{
		margin-top: rem(40);
	}
}