@use "sass:math";
//이벤트 리스트
.sub-event-wrap{
  .tab-text{
    margin-bottom: rem(50);
  }
  .img-list{
    &.event-list{
      .img-slot{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: rem(320);
        height: rem(210);
      }
    }
  }
  .promotion-list{
    display: flex;
    flex-wrap: wrap;
    // gap: rem(70) rem(40);
    .list-box{
      width: calc(50% - #{rem(40)});
      margin-bottom: rem(80);
      margin-right: rem(80);
      &:nth-of-type(2n){
        margin-right: 0;
      }
      &:nth-of-type(n+3){
        margin-bottom: 0;
      }
    }
    .btn-promotion{
      display: block;
      position: relative;
      border-radius: rem(30);
      overflow: hidden;
      width: rem(660);
      height: rem(500);
      img{
        display: block;
        width: 100%;
      }
      .title{
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: rem(90);
        line-height: rem(90);
        text-align: center;
        font-size: rem(26);
        font-weight: 700;
        color: #fff;
        background: rgba(0,0,0,0.4);
        letter-spacing: rem(-0.05*26);
      }
    }
    .promotion-thumb{
      display: flex;
      // flex-wrap: wrap;
      justify-content: space-between;
      // gap: 0 rem(20);
      margin-top: rem(20);
      .btn-thumb{
        position: relative;
        width: rem(120);
        border: 1px solid #e7e7e7;
        border-radius: rem(15);
        overflow: hidden;
        img{
          display: block;
          width: 100%;
        }
        .over{
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          line-height: rem(113);
          text-align: center;
          font-size: rem(24);
          font-weight: 700;
          color: #fff;
          background: rgba(0,0,0,0.44);
        }
      }
    }
  }
}

.event-view-wrap{
  min-width: rem(1400);
  width: 100%;
  .view-title-box{
    padding: rem(20) 0 rem(30) 0;
    .container{
      position: relative;
      .share-group{
        display: block;
        position: absolute;
        right: rem(-12);
        top: rem(-18);
        height: rem(60);
        width: rem(60);
        overflow: hidden;
        transition: all 0.1s;
        box-sizing: border-box;
        border: 2px solid rgba(0,0,0,0);
        border-radius: rem(30);
        &.active{
          border: 1px solid #333333;
          width: rem(230);
          box-shadow: rem(3) rem(5) rem(16) 0 rgba(0, 0, 0, 0.1);
          
          ul{
            li{
              width: rem(330);
              opacity: 1;
              .btn-share{
                &.toggle{
                  .icon-share-url{
                    background-image: url('../img/icons/icon_share_close.png');
                    background-size: auto;
                    background-position: center;
                  }
                }
              }
            }
          }
        }
        ul{
          position: absolute;
          display: flex;
          right: rem(7);
          width: rem(215);
          height: 100%;
          li{
            position: relative;
            flex: 0 0 25%;
            opacity: 0;
            transition: all 0.1s;
            &:after{
              content: '';
              display: inline-block;
              position: absolute;
              right: 0;
              top: rem(20);
              width: 1px;
              height: rem(20);
              border-right: 1px solid $section-border-color;
            }
            &:nth-last-of-type(1){
              &:after{
                content: none;
              }
            }
            &:nth-last-of-type(1){
              opacity: 1;
            }
            .btn-share{
              display: flex;
              justify-content: center;
              align-items: center;
              width: rem(math.div(215, 4));
              height: rem(58);
            }
          }
        }
      }
      h2{
        font-size: rem(42);
        letter-spacing: rem(-0.05*42);
      }
    }
    
    .badge-slot{
      position: relative;
      margin-bottom: rem(20);
      text-align: left;
      .badge{
        display: inline-block;
        margin-right: rem(5);
        padding:0 rem(15);
        min-width: rem(60);
        height: rem(30);
        line-height: rem(28);
        font-size: rem(14);
        font-weight: 500;
        color: #58595b;
        border: 1px solid #e7e7e7;
        border-radius: rem(15);
        background: #fff;
      }
      .dday{
        display: inline-block;
        // position: absolute;
        // right: 0;
        // top: 0;
        padding:0 rem(15);
        min-width: rem(60);
        height: rem(30);
        line-height: rem(28);
        font-size: rem(16);
        font-weight: 700;
        color: #333;
        border: 1px solid #333;
        border-radius: rem(15);
        background: #fff;
        &.soon{
          color: #ed1c24;
          border-color: #ed1c24;
        }
      }
    }
    .date{
      @include font-manrope(400);
      margin-top: rem(20);
      font-size: rem(18);
      color: #58595b;
    }
  }
  .view-content-box{
    img{
      display: block;
      // margin: 0 auto;
      // max-width: 100%;
      width: 100%;
    }
  }
}

.event-caution-wrap{
  min-width: rem(1400);
  width: 100%;
  padding: rem(50) 0;
  background: #333333;
  .caution-list-box{
    margin-top: 0;
  }
}

.event-bnr-wrap{
  position: relative;
  padding: 0 rem(40);
  .btn-slider-arrow {
    display: block;
    position: absolute;
    left: 0;
    top: 40%;
    margin-top: rem(-23);
    width: rem(25);
    height: rem(46);
    background: url('../img/icons/icon_arrow_slider.png') no-repeat center center;
    background-size: contain;

    &::before {
      content: none;
    }

    &.slider-next {
      left: auto;
      right: 0;
      transform: rotate(180deg);
    }
  }
}
.event-reply{
  margin-top: rem(60);
  margin-bottom: rem(120);
  .btn-wrap{
    text-align: center;
    margin-bottom: rem(30);
  }
  .img-list{
    padding-top: rem(38);
    >ul{
      flex-wrap: wrap;
      .item{
        flex: 0 1 50%;
        .img-slot{
          display: inline-block;
          width: rem(186);
          height: rem(186);
        }
        .product-info-slot, .user-slot{
          display: inline-block;
          position: absolute;
          width: calc(100% - 246px);
          left: rem(186 + 30);
          margin-top: 0;
        }
        .product-info-slot{
          top: rem(30);
          .product-desc{
            margin-top: 0;
          }
        }
        .user-slot{
          bottom: rem(30);
        }
      }
    }
    .user-slot{ 
      .date{
        @include font-manrope(400);
      }
    }
    .list-empty-box{
      border-bottom: 1px solid $section-border-color;
    }
  }
  .bbs-header{
    display: flex;
    align-items: center;
    .bbs-total{
      margin-top: 0;
      line-height: 1;
    }
    [class*="-box"]{
      float: none;
      flex: 1 1 auto;
    }
    .right-box{
      justify-content: flex-end;
    }
  }
  .item-list-more{
    margin-top: rem(20);
  }
}