.float-banner{
  position: fixed;
  left: rem(30);
  bottom: rem(130);
  z-index: 10;
  line-height: 0;
  font-size: 0;
  >ul{
    li{
      &.banner-slot{
        position: relative;
        margin-bottom: rem(14);
        a{
          &.img-wrap{
            display: inline-block;
            transition: all .5s;
            img{
              width: 100%;
            }
          }
          &.btn-close{
            position: absolute;
            padding: rem(2);
            top: rem(-14);
            right: 0;
          }
        }
        a{
          &:hover{
            &.img-wrap{
              transform: scale(1.05, 1.05);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:1600px) {
  .float-banner{
    
    left: rem(-200);
  }
}