footer{
  margin-top: rem($footer-top-margin);
  background: linear-gradient(to right, $bg-footer 30%, #ffffff 30% );
  letter-spacing: rem($letter-spacing-default);
  .container{
    .footer-wrap{
      display: flex;
      .logo{
        
      }
      .gray-box{
        position: relative;
        flex: 0 0 rem(967);
        padding-top: rem(100);
        padding-bottom: rem(30);
        padding-right: rem(20);
        background-color: $bg-footer;
        border-top-right-radius: rem(60);
        border-bottom-right-radius: rem(60);
        .logo{
          display: inline-block;
        }
        .sns-links{
          display: inline-block;
          position: absolute;
          right: rem(80);
          top: rem(100);
          // width: calc(100% - 350px);
          text-align: right;
          >ul{
            li{
              display: inline-block;
              margin-left: rem(20);
              [class*="icon-"]{
                vertical-align: middle;
              }
            }
          }
        }
        .another-links{
          margin-top: rem(34);
          >ul{
            >li{
              position: relative;
              display: inline-block;
              padding: 0 rem(15);
              &:nth-of-type(1){
                padding-left: 0;
              }
              a{
                display: inline-block;
                line-height: 1;
                font-size: rem(16);
                color: $fc-dark-gray;
                &:after{
                  content: '';
                  display: inline-block;
                  position: absolute;
                  width: 1px;
                  height: 60%;
                  right: 0;
                  top: 25%;
                  border-right: 1px solid $section-border-color;
                }
              }
              &:nth-last-of-type(1){
                a{
                  &:after{
                    content: none;
                  }
                }
              }
            }
          }
        }
        .company-info{
          display: flex;
          justify-content: space-between;
          margin-top: rem(60);
          color: $fc-dark-gray;
          dl{
            flex: 0 1 rem(440);
            dt,dd{
              display: inline-block;
              margin-bottom: rem(18);
              font-size: rem(16);
              color: $fc-dark-gray;
            }
            dt{
              width: 40%;
            }
            dd{
              width: 60%;
              .underline{
                text-decoration: underline;
              }
            }
          }
          .adress{
            flex: 0 1 rem(525);
            .adress-txt{
              margin-bottom: rem(20);
              font-size: rem(18);
            }
            .notice{
              margin-top: rem(30);
              font-size: rem(14);
              letter-spacing: rem(-0.05*14);
            }
            .copyright{
              @include font-manrope(400);
              margin-top: rem(15);
              font-size: rem(16);
              letter-spacing: 0;
            }
          }
        }
      }
      .contact{
        flex: 0 0 rem(433);
        padding-top: rem(100);
        padding-left: rem(100);
        [class*="icon-"]{
          vertical-align: middle;
        }
        .title{
          line-height: 1;
          font-size: rem(18);
          font-weight: 700;
        }
        .cs-number{
          @include font-manrope(700);
          margin-top: rem(15);
          line-height: 1;
          font-size: rem(50);
          letter-spacing: rem(-0.07*50);
        }
        .time{
          @include font-manrope(500);
          margin-top: rem(25);
          line-height: 1.4;
          font-size: rem(18);
          color: lighten($fc-dark-gray, 10%);
        }
        .notice{
          margin-top: 0;
          line-height: 1.88;
          font-size: rem(16);
          color: lighten($fc-dark-gray, 15%);
          letter-spacing: rem(-0.05*16);
        }
        .links{
          display: flex;
          width: 100%;
          margin-top: rem(30);
          li{
            // flex: 0 1 40%;
            margin-right: rem(60);
            a{
              font-size: rem(22);
              font-weight: 700;
              [class*="icon-"]{
                margin-right: rem(5);
              }
            }
            &:nth-of-type(2){
              margin-right: 0
            }
          }
        }
        .family-site{
          @include font-manrope(700);
          margin-top: rem(25);
          width: rem(330);
          .btn-select{
            padding-left: rem(20);
            width: rem(330);
            font-size: rem(18);
            // font-weight: 700;
            &.placeholder{
              @include font-manrope(700);
              color: #333333;
            }
          }
          &.active .btn-select{
            padding-left: rem(20);
          }
        }
      }
    }
  }
}