.form-content{
  margin-top: rem(60);
  
  .toggle-btn-list{
    display: flex;
    padding: rem(30) 0 rem(10) rem(40);
    .btn-toggle{
      display: block;
      position: relative;
      padding-top: rem(24);
      margin-right: rem(10);
      width: rem(160);
      height: rem(90);
      text-align: center;
      &.new-account{
        .text{
          margin: rem(-5) 0 0 0;
        }
      }
      .box{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #e7e7e7;
        border-radius: rem(10);
      }
      .text{
        display: block;
        margin: rem(-2) 0 rem(3) 0;
        width: 100%;
        line-height: rem(24);
        font-size: rem(18);
        color: #333333;
        font-weight: 700;
      }
      .desc{
        display: block;
        width: 100%;
        line-height: rem(20);
        font-size: rem(14);
        color: #333333;
      }
      input{
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        opacity: 0;
      }
      input:checked + span.box{
        border-color: #333;
      }
      &.disabled{
        opacity: 0.4;
        cursor: default;
      }
    }
  }
  
  .input-text{
    @include font-manrope(400);
    padding: 0 rem(20);
    width: rem(260);
    height: rem(50);
    font-size: rem(16);
    color: $fc-dark-gray;
    border: 1px solid #e7e7e7;
    border-radius: rem(10);
    background: #fff;
    &.input-sm{
      width: rem(100);
    }
    &.input-sm2{
      width: rem(150);
    }
    &.input-sm3{
      width: rem(130);
    }
    &.input-md{
      width: rem(200);
    }
    &.input-md0{
      width: rem(216);
    }
    &.input-md1{
      width: rem(226);
    }
    &.input-md2{
      width: rem(250);
    }
    &.input-md3{
      width: rem(300);
    }
    &.input-md4{
      width: rem(400);
    }
    &.input-md5{
      width: rem(240);
    }
    &.input-md6{
      width: rem(220);
    }
    &.input-lg{
      width: rem(500);
    }
    &.input-lgs{
      width: rem(460);
    }
    &.input-xs{
      width: rem(700);
    }
    &.input-xs2{
      width: rem(610);
    }
    &.input-full{
      width: 100%;
    }
  }
  
  .input-text + p.text-count{
    margin-top: rem(20);
    width: 100%;
    text-align: right;
    line-height: 1;
    font-size: rem(16);
    color: #818286;
  }
  textarea.input-text{
    padding: rem(15) rem(20);
    height: rem(470);
    line-height: rem(26);
    overflow: hidden;
    overflow-y: auto;
    resize: none;
    &.height-md{
      height: rem(200);
    }
  }
  .input-text:read-only{
    color: #bcbdc1!important;
    background: #f8f8f8;
  }
  .input-text.alignr{
    text-align: right;
  }
  .input-text.alignc{
    text-align: center;
  }
  .radio-wrap{
    padding: rem(12) 0;
  }
  .check-wrap{
    padding: rem(10) 0;
  }
  .unit-text{
    margin: 0 rem(10);
    line-height: rem(50);
    font-size: rem(16);
    letter-spacing: rem(-0.05*16);
    color: #333333;
  }
  .desc-text{
    margin-top: rem(10);
    width: 100%;
    line-height: rem(24);
    font-size: rem(16);
    color: #333333;
  }
  .btn{
    padding: 0 rem(15);
    margin: rem(6) 0;
    min-width: rem(80);
    text-align: center;
  }
  .info-text{
    margin-left: rem(20);
    line-height: rem(50);
    font-size: rem(16);
    color: #333333;
    b{
      font-size: rem(18);
      @include font-manrope(700);

    }
  }
  .file-box{
    position: relative;
    padding-right: rem(130);
    width: rem(450);
    .input-text{
      color: #58595b!important;
      background: #fff;
    }
    .btn-file{
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
      min-width: rem(120);
    }
    .input-file{
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 10;
    }
  }
  .file-upload-list{
    margin-top: rem(20);
    .file-upload-box{
      position: relative;
      margin-top: rem(10);
      height: rem(30);
      &:first-child{
        margin-top: 0;
      }
      .file-name{
        @include ellipse;
        position: relative;
        padding: 0 rem(30);
        width: rem(320);
        height: rem(30);
        line-height: rem(26);
        font-size: rem(14);
        color: #818286;
        border: 1px solid #e7e7e7;
        border-radius: rem(15);
        .icon{
          position: absolute;
          left: rem(14);
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .btn-delete{
        display: block;
        position: absolute;
        left: rem(295);
        top: rem(5);
        padding: rem(6);
        line-height: 1;
        z-index: 10;
        .icon{
          display: block;
        }
      }
      .file-size{
        position: absolute;
        left: rem(330);
        top: 0;
        line-height: rem(30);
        font-size: rem(14);
        color: #818286;
      }
    }
  }
  
  .form-title-box{
    // height: rem(60);
    .form-title{
      line-height: 1;
      font-size: rem(22);
      color: #333333;
      font-weight :700;
      margin-bottom: rem(20);
    }
  }
  .form-list{
    padding: rem(20) 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #e7e7e7;
    + p.caution-text{
      margin-top: rem(15);
    }
  }
  .form-box{
    display: flex;
    flex-flow: wrap;
    position: relative;
    padding: rem(10) 0 rem(10) rem(200);
    &.text{
      padding-top: 0;
      padding-bottom: 0;
      .form-label{
        top: 0;
      }
    }
    &.phone-box{
      .input-text{
        &.input-sm2{
          width: rem(90);
        }
      }
    }
    p{
      line-height: rem(50);
      font-size: rem(16);
      letter-spacing: rem(-0.05*16);
      color: #333333;
      &.date{
        @include font-manrope(400);
      }
    }
    .form-label{
      position: absolute;
      left: 0;
      top: rem(10);
      padding-left: rem(30);
      font-weight: 700;
    }
    .notice{
      font-size: rem(16);
      color: #818286;
    }
    .fc-primary{
      color: $fc-primary-darken;
    }
    .fc-emphas{
      color: $fc-emphas;
    }
    &.inline{
      flex-flow: unset;
    }
  }
  .form-desc{
    padding: rem(20) 0 rem(20) rem(40);
    p{
      line-height: rem(24);
      font-size: rem(16);
      color: #818286;
      letter-spacing: rem(-0.05*16);
      &.dot{
        position: relative;
        padding-left: rem(12);
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: rem(-2);
          width: rem(4);
          height: rem(4);
          border-radius: 50%;
          background: #bcbdc1;
        }
      }
    }
  }
  .form-line{
    margin: rem(20) 0;
    border-top: 1px solid #e7e7e7;
  }
  .form-enter{
    width: 100%;
  }
  .shipping-input-box{
    display: none;
  }
  .form-box.agree-box{
    padding-left: rem(40);
    .form-label{
      position: relative;
      left: auto;
      top: auto;
      padding-left: 0;
    }
    .agree-text{
      margin-bottom: rem(10);
      p{
        line-height: rem(28);
        font-size: rem(16);
        color: #818286;
      }
    }
    .check-wrap{
      margin-left: rem(-5);
    }
  }
  .sns-account-list{
    li{
      display: flex;
      padding: rem(10);
      .icon-account{
        margin-right: rem(16);
        width: rem(100);
        height: rem(37);
        border: 1px solid #e7e7e7;
        border-radius: rem(19);
        .icon{
          display: block;
          width: 100%;
          height: 100%;
          filter: grayscale(100%);
        }
      }
      p{
        width: rem(290);
        height: rem(37);
        line-height: rem(37);
        font-size: rem(16);
        color: #333333;
      }
      .btn-connect{
        margin: 0;
        padding: 0;
        width: rem(90);
        text-align: center;
      }
      &.payco .icon-account .icon{
        opacity: 0.3;
        background: url("../img/icons/icon_account_payco.png") no-repeat center center;
      }
      &.kakao .icon-account .icon{
        background: url("../img/icons/icon_account_kakao.png") no-repeat center center;
      }
      &.naver .icon-account .icon{
        opacity: 0.4;
        background: url("../img/icons/icon_account_naver.png") no-repeat center center;
      }
      &.apple .icon-account .icon{
        opacity: 0.2;
        background: url("../img/icons/icon_account_apple.png") no-repeat center center;
      }
      &.connected .icon-account .icon{
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }
  .account-apply{
    display: flex;
    align-items: center;
    padding: rem(10);
    p{
      width: rem(406);
      height: rem(37);
      line-height: rem(37);
      font-size: rem(16);
      color: #333333;
      &.no-account{
        color: $fc-light-gray;
      }
      .account{
        @include font-manrope(500);
      }
      .name{
        display: inline-block;
        line-height: 1;
        border-left: 1px solid $section-border-color;
        padding-left: rem(10);
        margin-left: rem(10);
      }
    }
    .btn-connect{
      margin: 0;
      padding: 0;
      width: rem(90);
      text-align: center;
    }
  }
  .count-down-time{
    position: relative;
    .time{
      position: absolute;
      right: rem(25);
      top: rem(15);
      @include font-manrope(300);
      color: $fc-gray;
      font-size: rem(16);
      letter-spacing: rem(-0.05*16);
    }
  }
}

.drop-down{
  position: relative;
  .btn-drop-down, .btn-down-menu{
    position: relative;
    display: inline-block;
    padding: 0 rem(5);
    min-width: rem(50);
    line-height: rem(30);
    font-size: rem(16);
    color: #58595b;
    white-space: nowrap;
  }
  .btn-drop-down{
    padding: 0 rem(30) 0 rem(5);
    &:after{
      display: block;
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: rem(30);
      height: rem(30);
      background: url('../img/icons/icon_arrow_more.png') no-repeat center center;
    }
  }
  .drop-down-list {
    display: none;
    // display: inline-block;
    position: absolute;
    left: 0;
    top: rem(30);
    border: 1px solid #333333;
    border-radius: rem(20);
    padding: rem(20);
    width: auto;
    min-width: rem(100);
    background-color: #ffffff;
    z-index: 1;
    &.align-r{
      left: auto;
      right: 0;
    }
    li {
      line-height: 1;
      margin-bottom: rem(15);

      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }

      a {
        line-height: 1;
        font-size: rem(16);
      }
    }

    
  }
  &.active {
    .drop-down-list{
      display: inline-block;
      z-index: 100;
    }
    .btn-drop-down{
      &:after{
        transform: rotate(180deg);
      }
    }
  }
  &.filter-good{
    .drop-down-list{
      min-width: rem(150);
      li{
        margin-bottom: rem(15);
        &:nth-last-of-type(1) {
          margin-bottom: 0;
        }
        a{
          width: 100%;
          &.btn-down-menu{
            padding-left: 0;
            padding-right: 0;
            p{
              display: inline-block;
              &.star{
                width: rem(40);
                font-weight: 700;
                [class*="icon-"]{
                  margin-right: rem(3);
                }
              }
              &.count{
                font-size: rem(16);
                color: $fc-dark-gray;
              }
            }
          }
        }
      }
    }
  }
  &.filter-type{
    .drop-down-list {
      width: rem(440);
      left: auto;
      right: 0;
      >ul{
        display: flex;
        width: 100%;
        >li{
          flex: 1 1 33%;
          .title{
            font-size: rem(18);
            font-weight: 700;
          }
          .check-list{
            margin-top: rem(20);
            .check-wrap{
              margin-bottom: rem(10);
              &:nth-last-of-type(1){
                margin-bottom: 0;
              }
              label{
                .checkbox{
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

//셀렉트 박스
.select-drop-down{
  position: relative;
  display: inline-block;
  select{
    // cursor: pointer;
    // position: absolute;
    // left: 0;
    // top: 0;
    // width: 100%;
    // height: 100%;
    // font-size: rem(16);
    // color: #333;
    // opacity: 0;
    // z-index: 10;
    display: none;
  }
  &.readonly{
    .btn-select{
      color: #bcbdc1!important;
      background: #f2f2f2;
    }
  }
  &:not(.select-option) .btn-select{
    @include ellipse;
    display: inline-block;
    position: relative;
    padding:0 rem(30) 0 rem(20);
    min-width: rem(118);
    height: rem(50);
    line-height: rem(48);
    font-size: rem(16);
    color: #333;
    font-weight: 500;
    border: 1px solid #e7e7e7;
    border-radius: rem(12);
    &:after{
      display: block;
      content: "";
      position: absolute;
      right: rem(10);
      top: 50%;
      margin-top: rem(-10);
      width: rem(20);
      height: rem(20);
      background: url('../img/icons/icon_arrow_more.png') no-repeat center center;
    }
    &.placeholder{
      font-weight: 400;
      color: #bcbdc1;
    }
  }
  &.select-option{
    display: block;
    width: 100%;
    .btn-select{
      @include ellipse;
      display: block;
      padding: 0 rem(80) 0 rem(50);
      height: rem(70);
      line-height: rem(68);
      font-size: rem(18);
      letter-spacing: rem(-0.05*18);
      font-weight: 500;
      color: #58595b;
      border: 1px solid #f5f5f5;
      border-radius: rem(12);
      background: #f5f5f5;
      &:after{
        display: block;
        content: "";
        position: absolute;
        right: rem(50);
        top: 50%;
        margin-top: rem(-4);
        width: rem(13);
        height: rem(8);
        background: url('../img/icons/icon_arrow_select.png') no-repeat center center;
      }
    }
  }
  &.underline:not(.active){
    .btn-select{
      border: 0;
      border-bottom: 1px solid $fc-dark-gray;
      border-radius: 0;
    }
  }
  &.active{
    z-index: 20;
    .btn-select{
      border-color: #333;
      border-bottom-color: #fff;
      border-radius: rem(12) rem(12) 0 0;
      &:after{
        transform: rotate(180deg);
      }
    }
    &.select-option{
      .btn-select{
        border-color: #333;
        border-bottom-color: #fff;
        border-radius: rem(12) rem(12) 0 0;
        background: #fff;
      }
    }
    .select-drop-list{
      display: block;
    }
  }
  &.alignt{
    .btn-select:after{
      transform: rotate(180deg);
    }
    &.active .btn-select:after{
      transform: rotate(0deg);
    }
    .btn-select{
      border-color: #333;
      border-top-color: #fff;
      border-radius: 0 0 rem(12) rem(12);
    }
    .select-drop-list{
      top: auto;
      bottom: 100%;
      margin-top: 0;
      margin-bottom: rem(-5);
      padding: rem(13) 0 0 0;
      border: 1px solid #333333;
      border-bottom: 0;
      border-radius: rem(12) rem(12) 0 0;
    }
  }
  .select-drop-list{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: rem(-6);
    padding: 0 0 rem(13) 0;
    width: 100%;
    border: 1px solid #333333;
    border-top: 0;
    border-radius: 0 0 rem(12) rem(12);
    background: #fff;
    .btn-menu{
      display: block;
      padding: 0 rem(20);
      line-height: rem(30);
      font-size: rem(16);
      color: #58595b;
      font-weight: 500;
      &.active{
        color: #333;
        font-weight: 700;
      }
    }
  }
  &.select-option .select-drop-list{
    padding: rem(10) 0 rem(20) 0;
    &:before{
      display: block;
      content: "";
      position: absolute;
      left: rem(50);
      top: 0;
      right: rem(50);
      height: 1px;
      background: #e7e7e7;
    }
    margin-top: 0;
    .btn-menu{
      padding: rem(5) rem(80) rem(5) rem(50);
      line-height: 1.4;
      font-size: rem(18);
    }
  }
  &.select-sm{
    .btn-select{
      min-width: rem(100);
    }
  }
  &.select-sm2{
    .btn-select{
      min-width: rem(150);
    }
  }
  &.select-md{
    .btn-select{
      min-width: rem(200);
    }
  }
  &.select-md2{
    .btn-select{
      min-width: rem(400);
    }
  }
  &.select-lg{
    .btn-select{
      min-width: rem(500);
    }
  }
  &.select-xs{
    .btn-select{
      min-width: rem(700);
    }
  }
  &.select-full{
    width: 100%;
    .btn-select{
      width: 100%;
      min-width: 0;
    }
  }
  & ~ .check-wrap{
    .checkbox{
      margin-left: 0;
    }
  }
}


//셀렉트 메뉴 펼침
.select-drop-box{
  display: inline-block;
  position: relative;
  &.select-wide{
    display: block;
    width: 100%;
    .btn-select{
      display: block;
    }
  }
  &.select-alignc{
    .btn-select{
      text-align: center;
      &:after{
        display: inline-block;
        position: relative;
        margin-left: rem(15);
        right: auto;
        top: auto;
      }
    }
  }
  .btn-select{
    position: relative;
    display: inline-block;
    padding: 0 rem(80) 0 rem(50);
    height: rem(70);
    line-height: rem(70);
    font-size: rem(18);
    font-weight: 500;
    color: #58595b;
    border-radius: rem(12);
    background: #f5f5f5;
    &:after{
      display: block;
      content: "";
      position: absolute;
      right: rem(50);
      top: 50%;
      margin-top: rem(-4);
      width: rem(13);
      height: rem(8);
      background: url('../img/icons/icon_arrow_select.png') no-repeat center center;
    }
  }
}

//리뷰 도움 버튼
.btn-review-helpful{
  @include transition(0.2);
}

.content-desc-box{
  text-align: center;
  padding-bottom: rem(30);
  .icon-box{
    height: rem(90);
  }
  p{
    line-height: rem(32);
    font-size: rem(22);
    color: #333;
  }
}

.loading-box{
  @include transition(0.2s);
  // display: none;
  opacity: 0;
  visibility: hidden;
  margin-top: rem(40);
  height: rem(64);
  &.active{
    // display: block;
    opacity: 1;
    visibility: visible;
    .icon{
      -webkit-animation: animation-loading 1.2s infinite cubic-bezier(0.7, 0.3, 0.9, 1);
      animation: animation-loading 1.2s infinite cubic-bezier(0.7, 0.3, 0.9, 1);
    }
  }
  .icon{
    display: block;
    margin: 0 auto;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@-webkit-keyframes animation-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animation-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}