@use "sass:math";

@function rem($px){
	$result: math.div($px, 16) + rem;
	@return $result;
};
@function vw($px){
	$result: math.div($px, $pc-default) * 100 + vw;
	@return $result;
};
@function vh($px){
	$result: math.div($px, $pc-default-height) * 100 + vh;
	@return $result;
};
@function vwm($px){
	$result: math.div($px, $mobile-portrait-width-default) * 100 + vw;
	@return $result;
};
@function vhm($px){
	$result: math.div($px, $mobile-default-height) * 100 + vh;
	@return $result;
};
