.graph{
  position: relative;
  width: 100%;
  height: rem(6);
  border-radius: rem(3);
  background: #dddddd;
  overflow: hidden;
  .graph-bar{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: rem(6);
    border-radius: rem(3);
    background: $primary;
  }
}