header{
	position: fixed;
	// top: 0;
	top: rem(- $gnb-header-height - $gnb-header-margin-top);
	left: 0;
	width: 100%;
	background-color: #ffffff;
	border-bottom: 1px solid #e7e7e7;
	z-index: $z-index-header;
	transition: opacity .5s;
	transition: all .3s;
	&.active{
		top: 0;
	}
	.gnb{
		@include suffix-prefix;
		width: rem($default-container-width);
		margin-left: auto;
		margin-right: auto;
		margin-top: rem($gnb-header-margin-top);
		height: rem($gnb-header-height);
		align-items: center;
		
		.prefix{
			// flex: 0 1 30%;
			flex: 0 0 rem(296);
			width: rem(296);
			h1{
				a{
					display: inline-block;
				}
			}
		}
		.suffix{
			flex: 0 1 20%;
			.mypage-group{
				display: flex;
				width: 100%;
				justify-content: flex-end;
				li{
					display: flex;
					margin-left: rem(40);
					justify-content: flex-end;
					align-items: center;
					&:nth-of-type(1){
						margin-left: 0;
					}
					a{
					  position: relative;
					  .icon{
					    display: block;
					  }
					  .on{
					    position: absolute;
					    left: 0;
					    top: 0;
					  }
					}
				}
			}
		}
		.center{
			flex: 1 1 60%;
			height: 100%;
			margin-left: rem(90);
		}
		.nav-list{
			display: flex;
			height: 100%;
			flex: 1 1 auto;
			align-items: center;
			> li{
				// flex: 0 1 auto;
				height: 100%;
				margin-right: rem(60);
				&:nth-last-of-type(1){
					margin-right: 0;
				}
				> a{
					position: relative;
					display: inline-flex;
					align-items: center;
					height: 100%;
					font-size: rem(22);
					font-weight: 700;
					color: $fc-default;
					letter-spacing: rem(-0.05*22);
					// border-bottom: rem(5) solid rgba(255,255,255,1);
					&:after{
						content: '';
						display: block;
						position: absolute;
						left: 0;
						right: 100%;
						bottom: -1px;
						height: rem(5);
						background-color: rgba(255,255,255,0);
						z-index: 1;
						@include tab-motion();
					}
				}
				&.active{
					> a{
						// border-bottom: rem(5) solid $fc-default;
						&:after{
							right: 0;
							background-color: $fc-default;
						}
					}
				}
			}
		}
		.nav-btn{
			.icon{
				&.on, &.off{
					position: absolute;
					left: 0;
				}
			}
		}
	}
	.gnb-megadrop{
	  @include transition(0.3s);
		$megadrop-list-width: 207;
		$megadrop-min-height: 680;
		position: relative;
		background-color: #ffffff;
		border-top: 1px solid #e7e7e7;
		height: 0;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		&.open{
		  height: rem($megadrop-min-height);
      opacity: 1;
      visibility: visible;
		}
		.container{
			position: relative;
			padding-top: rem(60);
      padding-bottom: rem(100);
			display: none;
			&.active{
			  display: block;
			  &.show{
			    > .banner, > .banner-wrap, > .review-banner{
            opacity: 1;
          }
			  }
			}
			
			> .banner, > .banner-wrap, > .review-banner{
			  @include transition(0.3s);
			  opacity: 0;
			}
			
			&.category{
				.depth-01{
					position: relative;
					display: inline-block;
					width: rem($megadrop-list-width);
					> li{
						> a{
							display: block;
							position: relative;
							font-size: rem(22);
							font-weight: 300;
							height: rem(54);
							line-height: rem(54);
							letter-spacing: rem(-1);
							&:after{
                @include transition(0.3s);
                content:'';
                display: block;
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0;
                @extend .icon-gnb-arrow;
              }
						}
						&.active{
							> a {
								font-weight: 700;
								line-height: rem(51);
								&:after{
									right: 0;
									opacity: 1;
								}
							}
							> .depth-02{
                opacity: 1;
                visibility: visible;
                .depth-02-list{
                  transform: translateX(0);
                }
							}
						}
						.depth-02{
						  @include transition(0.3s);
							position: absolute;
							display: block;
							flex-wrap: wrap;
							flex-direction: column;
							left: rem($megadrop-list-width + 80);
							top: 0;
							height: 100%;
              opacity: 0;
              visibility: hidden;
							.depth-02-list{
							  @include transition(0.3s);
							  background: #fff;
							  transform: translateX(-30px);
								>li{
									width: rem(200);
									>a{
										display: block;
										position: relative;
										font-size: rem(22);
										font-weight: 300;
										height: rem(48);
                    line-height: rem(48);
										letter-spacing: rem(-1);
									}
									&:hover{
										a{
											font-weight: 500;
											text-decoration: underline;
										}
									}
								}
							}
							.img-list{
								position: absolute;
								left: rem(310);
								width: rem(400);
								top: 0;
								padding-right: rem(20);
								li{
									margin-bottom: rem(20);
									.item{
										display: flex;
										align-items: center;
										height: rem(140);
										.img-slot{
											flex: 0 0 rem(140);
											border-radius: rem(20);
										}
										.product-info-slot{
											margin-top: 0;
											padding-left: rem(20);
											
											.product-name{
												font-size: rem(18);
												letter-spacing: rem(-1);
											}
											.slot-bottom{
												margin-top: rem(14);
												.price-wrap{
													.price{
														font-size: rem(18);
														em{
															font-size: rem(22);
														}
													}
													.before-sale{
														font-size: rem(18);
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.banner{
					position: absolute;
					right: 0;
					top: rem(60);
					width: rem(400);
					.img-wrap{
						border-radius: rem(30);
						overflow: hidden;
						img{
							width: 100%;
						}
					}
					.phrase{
						margin-top: rem(30);
						font-size: rem(22);
						font-weight: 700;
						line-height: 1;
					}
				}
			}
			&.event{
				.depth-01{
					position: relative;
					display: inline-block;
					width: rem($megadrop-list-width);
					> li{
						> a{
							display: block;
							position: relative;
							font-size: rem(22);
							font-weight: 300;
							padding-top: rem(15);
							padding-bottom: rem(15);
							letter-spacing: rem(-1);
						}
					}
				}
				.banner-wrap{
					position: absolute;
					right: 0;
					top: rem(60);
					.banner{
						display: inline-block;
						width: rem(400);
						margin-right: rem(40);
						&:nth-last-of-type(1){
							margin-right: 0;
						}
						a{
							display: inline-block;
							.img-wrap{
								border-radius: rem(30);
								overflow: hidden;
								img{
									width: 100%;
								}
							}
							.title{
								margin-top: rem(23);
								font-size: rem(16);
								font-weight: 500;
								line-height: 1;
							}
							.duration{
								@include font-manrope(500);
								margin-top: rem(15);
								font-size: rem(16);
								color: $fc-dark-gray;
							}
						}
					}
				}
			}
			&.reward{
				.depth-01{
					position: relative;
					display: inline-block;
					width: rem($megadrop-list-width);
					> li{
						> a{
							display: block;
							position: relative;
							font-size: rem(22);
							font-weight: 300;
							padding-top: rem(15);
							padding-bottom: rem(15);
							letter-spacing: rem(-1);
						}
					}
				}
				.review-banner{
					position: absolute;
					right: 0;
					top: rem(60);
					.review-detail-list{
						display: flex;
						height: rem(470);
						.review-comment-box{
							position: relative;
							display: inline-block;
							border: 0;
							width: rem(370);
							margin-right: rem(40);
							&:nth-last-of-type(1){
								margin-right: 0;
							}
							.img-box{
								position: relative;
								right: auto;
								top: auto;
								width: rem(370);
								height: rem(270);
								border-radius: rem(15);
							}
							.info-box{
								display: flex;
								height: auto;
								margin-top: rem(14);
								line-height: 1;
								.user-box{
									float: none;
									.user-name{
										font-size: rem(20);
									}
								}
							}
							.text-area{
								padding-right: 0;
								padding-top: 0;
								min-height: auto;
								p{
									@include ellipsen(2);
									$fontSize:16;
									$lineHeight: 1.4;
									font-size: rem($fontSize);
									font-weight: 300;
									line-height: 1.4;
									height: rem($fontSize*2*$lineHeight);
								}
								.title{
									margin-top: rem(20);
									margin-bottom: rem(14);
									line-height: 1;
									font-size: rem(18);
									font-weight: 500;
									color: #333333;
								}
							}
							.filter-list{
								margin-top: rem(30);
							}
						}
						
					}
					&.bordered{
						border-top: 1px solid #e7e7e7;
					}
				}
			}
			&.search{
				width: rem(1000);
				.header{
					.input-search{
						display: flex;
						border-bottom: 2px solid #333333;
						padding-bottom: rem(30);
						input{
							display: inline-block;
							// flex-basis: 80%;

							width: 100%;
							border: 0;
							// background-color: red;
							font-size: rem(42);
							font-weight: 700;
							letter-spacing: rem(-2);
							color: #000000;
						}
						.search{
							display: flex;
							justify-content: center;
							align-items: center;
							flex: 0 0 #{rem(110)};
							a{
								display: inline-block;
								height: rem(27);
								width: rem(27);
							}
						}
					}
				}
				.popular-keyword-list{
					margin-top: rem(70);
					.title{
						position: relative;
						font-size: rem(26);
						font-weight: 500;
						[class*="btn-"]{
							display: inline-block;
							position: absolute;
							right: rem(10);
							top: 0;
							&.btn-prev{
								right: rem(30);
							}
						}
					}
					.rank{
						margin-top: rem(40);						
						counter-reset: pop-rank;
						li{
							position: relative;
							&:before{
								font-size: rem(18);
								counter-increment: pop-rank;
								content: '0'counter(pop-rank);
								@include font-manrope(700);
							}
							a{
								display: inline-block;
								margin-left: rem(23);
								line-height: 2.6;
								font-size: rem(18);
								letter-spacing: rem(-1);
								color: $fc-default;
							}
							[class*="icon-rank"]{
								position: absolute;
								right: rem(30);
								top: rem(20);
								width: rem(8);
								height: rem(5);
							}
							[class*="num-"]{
								position: absolute;
								right: rem(10);
								top: rem(10);
							}
							.num-up{
								font-size: rem(16);
								font-weight: 700;
								color: #7a953c;
							}
							.num-down{
								font-size: rem(16);
								font-weight: 700;
								color: #ed1c24;
							}
						}
					}
				}
				.recommand-keyword-list{
					display: none;
					margin-top: rem(70);
					height: rem(300);
					ol{
						counter-reset: recommand;
						display: flex;
						width: 100%;
						height: 100%;
						flex-direction: column;
						flex-wrap: wrap;
						// background-color: red;
						li{
							// flex: 0 1 50%;
							height: rem(50);
							&:before{
								@include font-manrope(700);
								counter-increment: recommand;
								content: '0'counter(recommand);
								margin-right: rem(25);
								font-size: rem(18);
							}
							&:nth-of-type(n+10){
								&:before{
									counter-increment: recommand;
									content: counter(recommand);
								}
							}
							a{
								font-size: rem(18);
								
							}
						}
					}
				}
			}
		}
		.bottom-wrap{
			position: absolute;
			bottom: rem(40);
			right: rem(20);
			.close-btn{
			  display: block;
			}
			.icon-gnb-close{
				@include img-only;
				font-size: 0;
			}
		}
	}
}
#gnb-mask{
  @include transition(0.3s);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 19;
  &.active{
    opacity: 1;
    visibility: visible;
  }
}

header{
  .gnb {
    .nav-list > li > a{
      transition: all .3s ease-in-out;
    }
    .nav-btn .on,
    .mypage-group .on{
      transition: all .3s ease-in-out;
      opacity: 0;
    }
  }
}

header.trans:not(:hover){
  &:not(.scroll) {
    border-bottom: rgba(255,255,255,0);
    background: rgba(255,255,255,0);
    .gnb{
      .nav-list{
        > li{
          > a{
            color: #fff;
          }
        }
      }
      .nav-btn .off,
      .mypage-group .off{
        opacity: 0;
      }
      .nav-btn .on,
      .mypage-group .on{
        opacity: 1;
      }
    }
  }
}

//gnb
header{
  $gnb-sub-height: 650;
  .gnb{
    position: relative;
    z-index: 20;
  }
  .nav-btn{
    position: absolute;
    left: rem(345);
    top: rem(42);
    z-index: 10;
    .btn-gnb-close{
      @include transition(0.2s);
      display: block;
      position: absolute;
      left: rem(-9);
      top: rem(-9);
      padding: rem(10);
      opacity: 0;
      visibility: hidden;
      z-index: 10;
      .icon{
        text-indent: -9999px;
      }
    }
    .icon-category-menu{
      @include transition(0.2s);
    }
    &.active {
      .btn-gnb-close{
        opacity: 1;
        visibility: visible;
      }
      .icon-category-menu{
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  .nav-list{
    > li.active{
      .gnb-sub-menu{
        height: rem($gnb-sub-height);
        // opacity: 1;
        visibility: visible;
      }
    }
    .gnb-sub-menu{
      @include transition(0.3s);
      position: absolute;
      left: 0;
      top: rem(132 - $gnb-header-margin-top);
      width: rem(1400);
      height: 0;
      // opacity: 0;
      visibility: hidden;
      overflow: hidden;
      .sub-list{
        position: relative;
        padding: rem(55) 0 0 rem(48);
        width: rem(298);
        height: 100%;
        background: $bg-data;
        > li > .btn-sub{
          display: inline-block;
        }
        .btn-sub{
          @include transition(0.2s);
          display: block;
          height: rem(44);
          line-height: rem(44);
          font-size: rem(20);
          font-weight: 400;
          color: #818286;
          &:after{
            @include transition(0.2s);
          }
          &:hover{
            font-weight: 700;
            color: #333333;
          }
        }
        > li.active{
          > .btn-sub{
            font-weight: 700;
            color: #333333;
          }
          .subs-list{
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            z-index: 11;
          }
        }
        .subs-list{
          @include transition(0.2s);
          position: absolute;
          left: rem(346);
          top: rem(55);
          min-width: rem(170);
          white-space: nowrap;
          background: #fff;
          transform: translateX(-30px);
          opacity: 0;
          visibility: hidden;
          z-index: 10;
          .btn-sub{
            position: relative;
            padding-right: rem(40);
            &:after{
              display: block;
              content: "";
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              opacity: 0;
              @extend .icon-gnb-arrow;
            }
            &:hover{
              text-decoration: underline;
              &:after{
                opacity: 1;
              }
            }
          }
        }
      }
      
      .sub-bnr{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        right: 0;
        top: rem(60);
        .item-wrap{
          margin-right: rem(30);
          width: rem(310);
          .sub-item-list{
            position: relative;
            .img-list{
              @include transition(0.2s);
              position: absolute;
              left: 0;
              top: 0;
              z-index: 10;
              opacity: 0;
              background: #fff;
							&.thumb-list{
								.item{
									.product-info-slot{
										flex-basis: rem(230);
									}
								}
							}
              &.active{
                opacity: 1;
                z-index: 20;
              }
            }
          }
        }
        .bnr-wrap{
          width: rem(400);
          .btn-bnr{
            display: block;
						.img-wrap{
							width: rem(400);
							height: rem(400);
							img{
								display: block;
								border-radius: rem(30);
								width: 100%;
							}
						}
            .title{
              display: block;
              margin-top: rem(20);
              line-height: 1;
              font-size: rem(18);
              font-weight: 700;
              color: #333;
            }
          }
        }
        .event-list{
          width: rem(780);
          .product-name{
            height: auto;
          }
          .product-date{
            margin-top: rem(10);
          }
        }
        .review-list{
          width: rem(780);
					.img-slot{
						.img-wrap{
							width: 100%;
							height: rem(280);
						}
					}
          .user-slot{
            margin-top: rem(15);
            .name{
              .icon{
                margin-right: rem(10);
              }
              font-size: rem(20);
              font-weight: 700;
              color: #333333;
            }
          }
          .product-info-slot{
            margin-top: rem(15);
            .product-name{
							display: inline-block;
              @include ellipse;
              height: auto;
							width: 100%;
            }
            .product-desc{
              @include ellipsen(2);
              margin-top: rem(10);
            }
          }
        }
      }
    }
  }
  
  .header-search{
    @include transition(0.3s);
    height: 0;
    overflow: hidden;
    visibility: hidden;
    &.active{
      height: rem($gnb-sub-height);
      visibility: visible;
			border-top: 1px solid #e7e7e7;
    }
    .container{
      padding-top: rem(60);
      width: rem(1000);
    }
    .header{
      .input-search{
        display: flex;
        border-bottom: 2px solid #333333;
        padding-bottom: rem(30);
        input{
          display: inline-block;
          // flex-basis: 80%;

          width: 100%;
          border: 0;
          // background-color: red;
          font-size: rem(42);
          font-weight: 700;
          letter-spacing: rem(-2);
          color: #000000;
        }
        .search{
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 0 0 #{rem(110)};
          a{
            display: inline-block;
            height: rem(27);
            width: rem(27);
          }
        }
      }
    }
    .popular-keyword-list{
      margin-top: rem(70);
      .title{
        position: relative;
        font-size: rem(26);
        font-weight: 500;
        [class*="btn-"]{
          display: inline-block;
          position: absolute;
          right: rem(10);
          top: 0;
          &.btn-prev{
            right: rem(30);
          }
        }
      }
      .rank{
        margin-top: rem(40);            
        counter-reset: pop-rank;
        li{
          position: relative;
          &:before{
            font-size: rem(18);
            counter-increment: pop-rank;
            content: '0'counter(pop-rank);
            @include font-manrope(700);
          }
          a{
            display: inline-block;
            margin-left: rem(23);
            line-height: 2.6;
            font-size: rem(18);
            letter-spacing: rem(-1);
            color: $fc-default;
          }
          [class*="icon-rank"]{
            position: absolute;
            right: rem(30);
            top: rem(20);
            width: rem(8);
            height: rem(5);
          }
          [class*="num-"]{
            position: absolute;
            right: rem(10);
            top: rem(10);
          }
          .num-up{
            font-size: rem(16);
            font-weight: 700;
            color: #7a953c;
          }
          .num-down{
            font-size: rem(16);
            font-weight: 700;
            color: #ed1c24;
          }
        }
      }
    }
    .recommand-keyword-list{
      display: none;
      margin-top: rem(70);
      height: rem(300);
      ol{
        counter-reset: recommand;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        // background-color: red;
        li{
          // flex: 0 1 50%;
          height: rem(50);
          &:before{
            @include font-manrope(700);
            counter-increment: recommand;
            content: '0'counter(recommand);
            margin-right: rem(25);
            font-size: rem(18);
          }
          &:nth-of-type(n+10){
            &:before{
              counter-increment: recommand;
              content: counter(recommand);
            }
          }
          a{
            font-size: rem(18);
            
          }
        }
      }
    }
  }
  
  .header-bg{
    @include transition(0.3s);
    position: absolute;
    left: 0;
    top: rem(132);
    right: 0;
    height: 0;
    background: #fff;
    visibility: hidden;
    // opacity: 0;
    &.active{
      height: rem($gnb-sub-height);
      visibility: visible;
      // opacity: 1;
    }
  }
}
.header-mask{
  @include transition(0.3s);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: 19;
  visibility: hidden;
  opacity: 0;
  &.active{
    visibility: visible;
    opacity: 1;
  }
}
