h2{
  display: inline-block;
  font-size: rem(40);
  letter-spacing: rem(-0.05*40);
  font-weight: 700;
  line-height: 1;
  &.align-c{
    display: block;
    text-align: center;
    font-size: rem(46);
    letter-spacing: rem(-0.05*46);
  }
  em{
    color: $primary;
  }
  .en{
    @include font-manrope(800);
    letter-spacing: 0;

  }
}
.sub-phrase{
  display: inline-block;
  margin-left: rem(20);
  font-size: rem(18);
  line-height: 1;
  letter-spacing: rem(-0.05*18);
  color: $fc-dark-gray;
  &.align-c{
    display: block;
    text-align: center;
    margin-left: 0;
    margin-top: rem(20);
    margin-bottom: rem(60);
    // font-size: rem(16);
  }
}
h3{
  font-size: rem(36);
  font-weight: 700;
  line-height: 1;
  letter-spacing: rem(-0.05*36);
  .emphas{
    color: $fc-primary;
  }
}
h4{
  font-size: rem(28);
  letter-spacing: rem(-0.05*28);
  font-weight: 700;
  line-height: 1;
  .emphas{
    color: $fc-primary;
  }
}
h5{
  font-size: rem(22);
  letter-spacing: rem(-0.05*22);
  font-weight: 500;
  line-height: 1;
  .emphas{
    color: $fc-primary;
  }
}