@use 'sass:math';
.home{
	$mainbanner-width: 1200;
	$mainbanner-height: 640;

	&.content-wrap{
		min-width: rem($default-container-width);
	}
	section{
		&.bg-gray{
			background-color: #f6f6f6;
		}
		&.bg-gray02{
			background-color: #f5f5f5;
		}
		&.bg-gray03{
			background-color: #f1f1f5;
		}
		&.best-photoreview-wrap{
			position: relative;
			&:before{
				content: '';
				display: block;
				position: absolute;
				background-color: #ffffff;
				left: 0;
				right: 0;
				bottom: 0;
				height: rem(150);
			}
		}
		&.online-only-bg{
			background-image: url(../img/bg/online_only_01.png), url(../img/bg/online_only_02.png);
			background-repeat: no-repeat;
			background-position: left -10% center, right -10% center;
		}
	}
	h2{
		line-height: 1;
		font-size: rem(46);
		letter-spacing: rem($letter-spacing-title);
		font-weight: 700;
		text-align: center;
	}
	.tab{
		margin-top: rem(60);
		
	}
	.main-bnr-slide{
		width: 100%;
		position: relative;
		transition: background-color 0.3s;
		padding-top: rem(60);
		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 150px;
			background-color: #ffffff;
		}
		.swiper-wrapper{
			.swiper-slide{
				position: relative;
				width: rem($mainbanner-width);
				height: rem($mainbanner-height);
				background-position: center;
				background-size: 120%;
				background-repeat: no-repeat;
				border-radius: rem(70);
				transition: background-size 5s cubic-bezier(.31,.77,.56,1.05);
				&.swiper-slide-active{
					background-size: 100%;
				}
				.text-box{
					padding-top: rem(140);
					padding-left: rem(120);
					.title{
						line-height: 1;
						font-size: rem(46);
						font-weight: 500;
						letter-spacing: rem(-3);
						color: #000000;
						&.bold{
							@include font-manrope(700);
							margin-top: rem(30);
							line-height: 1;
							font-size: rem(60);
						}
					}
					.sub-text{
						margin-top: rem(40);
						font-size: rem(26);
						line-height: 1.2;
						color: $fc-default;
					}
					&.white-type{
						.title, .sub-text {
							color: #ffffff;
						}
					}
				}
				.btn{
					position: absolute;
					bottom: rem(140);
					left: rem(120);
					// margin-left: rem(120);
					// margin-top: rem(75);
					font-size: rem(22);
					font-weight: 500;
					color: #000000;
					// padding-left: rem(43);
					// padding-right: rem(43);
					width: rem(180);
					&.white{
						color: #fff;
						border: 1px solid $btn-outline-white;
					}
				}
				.flag{
					position: absolute;
					display: inline-block;
					left: rem(-42);
					top: rem(7);
					font-size: rem(18);
					color: rgba(255,255,255,.7);
					// writing-mode: vertical-rl;
					// text-orientation: sideways;
					letter-spacing: -1px;
					opacity: 0;
					transition: all .3s;
					transition-delay: .5s;
					transform: rotate(90deg) translate(0, #{rem(-15)});transform-origin : 0 50%;
					&:before{
						content: '';
						display: inline-block;
						position: absolute;
						left: 0;
						top: rem(30);
						width: rem(50);
						height: 1px;
						border-bottom: 2px solid #ffffff;
						opacity: 0;
						transition: all .3s;
						transition-delay: .5s;
					}
				}
				&.swiper-slide-active{
					.flag{
						opacity: 1;
						&:before{
							opacity: 0.6;
						}
					}
				}
			}
		}
		.slider-arrow{
			position: relative;
			width: rem($mainbanner-width);
			margin-left: auto;
			margin-right: auto;
			.btn-slider{
				position: absolute;
				top: rem(-345);
				@include icon;
				width: rem(25);
				height: rem(46);
				background-image: url('../img/icons/icon_arrow_main_slide.png');
				z-index: 1;
				&.slider-prev{
					left: rem(30);
				}
				&.slider-next{
					right: rem(30);
					transform: rotate(180deg);
				}
				&.swiper-button-disabled{
					opacity: .5;
				}
			}
		}
		.swiper-indicater-wrap{
			position: absolute;
			bottom: rem(50);
			left: 50%;
			text-align: center;
			transform: translateX(-50%);
			width: rem($mainbanner-width);
			height: rem(20);
			z-index: 1;
			.swiper-pagination{
				display: inline-flex;
				margin: auto;
				position: relative;
				max-width: rem(790);
				.square-bullet{
					flex: 1 1 rem(150);
				}
			}
			.swiper-stop{
				display: inline-block;
				width: rem(7);
				height: rem(12);
				background-image: url('../img/icons/icon_slide_stop.png');
				z-index: 9999;
				cursor: pointer;
				vertical-align: bottom;
				&.stopped{
					@extend .icon-slider-arrow-white;
					transform: rotate(180deg);
				}
			}
		}
		.square-bullet{
			display: inline-block;
			max-width: rem(150);
			height: rem(4);
			margin: 0 rem(5);
			background: #ffffff;
			opacity: .2;
			border-radius: rem(10);
			&.swiper-pagination-bullet-active {
				opacity: 1;
				background-color: #ffffff;
			}
		}
	}
	.swiper-container-horizontal{
		>.swiper-pagination-bullets{
			bottom: rem(30);
		}
	}

	.container{
		margin-top: rem(100);
		$slide-width: 335;
		&.wide-type-popular{
			width: rem($default-container-width + ($slide-width + 20)*2);
			max-width: 100%;
			// padding-bottom: rem(70);
			overflow: hidden;
			.tab{
				margin-top: rem(50);
				.tab-item{
					@include font-manrope(500);
				}
				.active{
					.tab-item {
						@include font-manrope(700);
					}
				}
			}
		}
		.popular-items-slide{
			position: relative;
			margin-top: rem(40);
			height: rem(572);
			.swiper-container{
				&:not(.active){
					visibility: hidden;
				}
				position: absolute;
				height: rem(572);
				width: rem($default-container-width);
				overflow: visible;
				left: 50%;
				top: 0;
				transform: translateX(-50%);
			}
			.img-list{
				.item{
					width: rem($slide-width);
					.img-slot{
						border: 1px solid #eeeeee;
						height: rem($slide-width);
						border-radius: rem(30);
						.product-img{
							margin-top: rem(30);
						}
					}
				}
			}
			.btn-slider-arrow {
				@include transition(0.2s);
				display: block;
				position: absolute;
				top: rem(170);
				left: rem(20);
				width: rem(50);
				transform: translateY(-50%);
				height: rem(50);
				border-radius: rem(8);
				// background: rgba(0, 0, 0, 0.0);
				background: rgba(0, 0, 0, 0.3);
				z-index: 10;

				&:before {
					display: block;
					content: "";
					position: absolute;
					left: 50%;
					top: 50%;
					margin: rem(-6) 0 0 rem(-4);
					width: rem(8);
					height: rem(13);
					background: url('../img/icons/icon_slider_arrow_white.png') no-repeat center center;
				}

				&.slider-next {
					left: auto;
					right: rem(20);

					&:before {
						transform: rotate(180deg);
					}
				}
			}

			&:hover {
				.btn-slider-arrow {
					background: rgba(0, 0, 0, 0.3);
				}
			}
			.swiper-scrollbar{
				left: rem(0);
				right: rem(0);
				bottom: 0;
				width: auto;
				height: rem(6);
				background-color: #e7e7e7;
				.scrollbar-drag{
					display: inline-block;
					position: absolute;
					top: 0;
					width: 30%;
					background-color: $btn-outline-black;
					height: rem(6);
					border-radius: rem(3);
					transition: transform ease-out 0.5s;
				}
			}
		}
		&.time-discount{
			// display: flex;
			height: rem(500);
			padding-top: rem(80);
			padding-bottom: rem(50);
			margin-top: rem(120);
			background-repeat: no-repeat;
			background-position: left 45% bottom;
			background-size: contain;
			.event-container{
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: rem(480);
				h2{
					position: relative;
					font-size: rem(56);
					font-weight: 700;
					letter-spacing: rem(-0.05*56);
					[class*="icon-"]{
						position: absolute;
						right: rem(-50);
						top: rem(7);
					}
				}
				.sub-text{
					@include ellipsen($line: 2);
					margin-top: rem(25);
					font-size: rem(18);
					line-height: 1.2;
					color: $fc-dark-gray;
					letter-spacing: rem(-0.05*18);
					width: rem(350);
					em{
						font-weight: 500;
					}
				}
				.due-date{
					position: absolute;
					top: rem(145);
					left: 0;
					display: inline-block;
					text-align: center;
					min-width: rem(90);
					// margin-top: rem(50);
					padding-left: rem(30);
					height: rem(30);
					line-height: rem(30);
					font-size: rem(16);
					color: #ffffff;
					@extend .icon-dday;
				}
				.time{
					position: absolute;
					top: rem(200);
					left: 0;
					@include font-manrope(700);
					// margin-top: rem(30);
					> span{
						font-size: rem(60);
						line-height: 1;
						&:after{
							content: '';
							display: inline-block;
							margin-left: rem(15);
							margin-right: rem(15);
							margin-top: rem(-10);
							@extend .icon-time-semicolon;
							vertical-align: middle;
						}
						&:nth-last-of-type(1){
							&:after{
								content: none;
							}
						}
					}
				}
				.product-list{
					position: absolute;
					top: rem(310);
					left: 0;
					// margin-top: rem(60);
					.thumb-img{
						display: inline-block;
						position: relative;
						width: rem(50);
						height: rem(50);
						border-radius: 50%;
						overflow: hidden;
						margin-right: rem(10);
						img{
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							opacity: 0.5;
						}
						&.active{
							img{
								opacity: 1;
							}
						}
					}
				}
			}
			.product-info{
				position: relative;
				display: none;
				&.active{
					display: inline-block;
				}
				// flex: 0 0 35%;
				.img-area{
					display: inline-block;
					width: rem(335);
					vertical-align: top;
					.product-img{
						// position: absolute;
						// left: rem(-     335);
						.img-wrap{
							width: rem(335);
							height: rem(335);
							border-radius: rem(20);
							overflow: hidden;
							img{
								width: 100%;
							}
						}
						.circle-red{
							position: absolute;
							display: inline-flex;
							flex-direction: column;
							justify-content: center;
							top: rem(-44);
							left: rem(-65);
							width: rem(130);
							height: rem(130);
							border-radius: 50%;
							text-align: center;
							color: #ffffff;
							font-size: rem(18);
							letter-spacing: rem(-0.05*18);
							background-color: #da382d;
							em{
								@include font-manrope(400);
								letter-spacing: rem(-0.05*28);
								font-size: rem(28);
							}
							.unit{
								font-size: rem(16);
							}
							p{
								line-height: 1.2;
							}
						}
					}
				}
				.info-area{
					display: inline-block;
					padding-left: rem(100);
					vertical-align: top;
					width: rem(570);
					.sub-title{
						font-size: rem(18);
						@include ellipsen($line: 2);
					}
					.product-name{
						width: rem(350);
						margin-top: rem(10);
						font-size: rem(28);
						font-weight: 500;
						letter-spacing: rem(-1.4);
						line-height: rem(36);
						@include ellipsen($line: 2);
					}
					.price-wrap{
						display: flex;
						align-items: flex-end;
						margin-top: rem(50);
						.price{
							@include font-manrope(700);
							display: flex;
							align-items: flex-end;
							font-size: rem(52);
							letter-spacing: rem(-2.6);
							line-height: 1;
							.unit{
								font-size: rem(32);
								margin-bottom: rem(4);
							}
						}
						.price-before-discount{
							@include font-manrope(400);
							display: flex;
							position: relative;
							flex: 0 1 rem(100);
							align-items: flex-end;
							justify-content: center;
							margin-left: rem(20);
							font-size: rem(36);
							letter-spacing: rem($letter-spacing-price);
							line-height: 1;
							color: #bcbdc1;
							.unit{
								font-size: rem(22);
								margin-bottom: rem(2);
							}
							&:after{
								content: "";
								display: inline-block;
								position: absolute;
								left: 50%;
								top: 55%;
								width: 110%;
								border-bottom: 2px solid #bcbdc1;
								transform: translateX(-50%);
							}
						}
						.discount-percent{
							@include font-manrope(700);
							display: flex;
							justify-content: flex-end;
							align-items: flex-end;
							font-size: rem(42);
							letter-spacing: rem($letter-spacing-price);
							line-height: 1;
							color: #ed1c24;
							flex: 1 1 auto;
							.unit{
								font-size: rem(20);
								margin-bottom: rem(4);
							}
						}
					}
					.btn-wrap{
						margin-top: rem(40);
						.btn{
							width: rem(180);
							height: rem(50);
							font-size: rem(22);
							margin-right: rem(10);
						}
					}
				}
				
				
			}
		}
		&.banner-band{
			a{
				display: block;
				img{
					width: 100%;
				}
			}
		}
		&.ranking{
			overflow: hidden;
			width: 100%;
			padding-left: calc((100% - #{$default-container-width}px) / 2);
			$rank-tab-width: 500;
			$slide-width: 500;
			$slide-next-width: 450;
			.tab-wrap{
				display: inline-block;
				position: absolute;
				width: rem($rank-tab-width);
				vertical-align: top;
				z-index: 9;

				.tab{
					margin-top: rem(45);
					&.tab-underline{
						>ul{
							justify-content: center;
							li{
								flex: 1 1 50%;
								.tab-item{
									font-size: rem(22);
								}
								&.active{
									a{
										&:after{
											width: 100%;
										}
									}
								}
							}
						}
					}
				}
				.tab-area{
					height: rem(71*6);
					&.realtime-best, &.week-best{
						counter-reset: realtime-rank;  
						ol{
							display: flex;
							// height: rem(70*6);
							flex-direction: column;
							li{
								flex: 1 1 rem(71);
								&.active{
									// background-color: #f8f8f8;
									a{
										font-weight: 700;
										color: #557705;
										&:before{
											font-weight: 700;
											color: #557705;
										}
									}
								}
								&:hover{
									background-color: #f8f8f8;
								}
								a{
									display: flex;
									flex-direction: row;
									height: rem(70);
									align-items: center;
									font-size: rem(18);
									font-weight: 400;
									color: $fc-dark-gray;
									border-bottom: 1px solid $section-border-color;
									letter-spacing: rem(-0.05*18);
									&:before{
										display: inline-block;
										width: rem(45);
										margin-left: rem(40);
										counter-increment: realtime-rank;
										content: '0'counter(realtime-rank);
										font-size: rem(18);
										@include font-manrope(500);
									}
									.product-name{
										@include ellipse;
										width: rem(340);
									}
									.rank-direction{
										flex: 1 1 auto;
										display: flex;
										justify-content: flex-end;
										padding-right: rem(27);
										[class*="icon-"]{
											width: rem(8);
										}
									}
								}
							}
						}
					}
				}
			}
			.product-item-slide{
				&.swiper-container{
					display: inline-block;
					width: rem($slide-width);
					// height: rem(645);
					margin-left: rem(580);
					overflow: visible;
					z-index: 0;
				}
				.product-item{
					position: relative;
					width: rem($slide-width);
					opacity: 0;
					transition: all 0.3s;
					&.swiper-slide-active{
						opacity: 1;
						.img-slot{
							opacity: 1;
						}
					}
					&.swiper-slide-next{
						margin-top: rem(50);
						opacity: 1;
						.img-slot{
							opacity: 0.3;
							height: rem($slide-next-width);
							width: rem($slide-next-width);
						}
						.product-info-slot,
						.tag-wrap {
							width: rem($slide-next-width);
						}
						.ranking{
							font-weight: 300;
							color: #bcbdc1;
						}
					}
					.img-slot{
						position: relative;
						width: rem($slide-width);
						height: rem($slide-width);
						opacity: 0;
						transition: all 0.3s;
						> img{
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							left: 0;
						}
						.badge-list{
							width: rem(120);
						}
					}
					.ranking{
						position: absolute;
						left: rem(-25);
						top: rem(30);
						@include font-manrope(700);
						font-size: rem(70);
						color: darken($fc-primary, 20%);
						z-index: 1;
					}
					.product-info-slot{
						width: 100%;
						margin-top: rem(20);
						.product-name{
							font-size: rem(22);
							line-height: 1;
							height: rem(44);
						}
						.slot-bottom{
							// margin-top: rem(20);
						}
					}
					.tag-wrap{
						margin-top: rem(30);
						.tag-list{
							margin-top: 0;
						}
					}
				}
			}
		}
		&.banner-wide-band{
			a{
				// background-image: url('../img/temp/wide_banner_bg.jpg');
				background-repeat: repeat-x;
			}
		}
		&.banner-wide-band, &.banner-wide-band-02{
			margin-left: auto;
			width: 100%;
			a{
				display: block;
				position: relative;
				width: 100%;
				overflow: hidden;
				height: rem(320);
				img{
					position: absolute;
					left: 50%;
					top: 0;
					transform: translateX(-50%);
					height: 100%;
				}
			}
		}
		&.banner-wide-band-02{
			a{
				height: rem(440);
			}
		}
		.recommand-wrap{
			position: relative;
			// padding-left: rem(95);
			// padding-right: rem(95);
			.recommand-slide{
				margin-top: rem(40);
				// height: rem(940);
				.swiper-wrapper{
					.swiper-slide{
						width: 100%;
						display: flex;
						flex-wrap: wrap;
						align-content: flex-start;
						.item{
							&:nth-of-type(4n){
								margin-right: 0;
							}
							&:nth-of-type(n+5){
								margin-top: rem(60);
							}
							.img-slot{
								display: inline-block;
								width: 100%;
								height: rem(335);
							}
						}
					}
				}
			}
			.btn-slider-arrow {
				display: block;
				position: absolute;
				left: rem(-85);
				top: 40%;
				margin-top: rem(-23);
				width: rem(25);
				height: rem(46);
				background: url('../img/icons/icon_arrow_slider.png') no-repeat center center;
				background-size: contain;
				&::before{
					content: none;
				}
				&.slider-next {
					left: auto;
					right: rem(-85);
					transform: rotate(180deg);
				}
			}
		}
		&.online-only{
			position: relative;
			height: rem(340);
			padding-top: rem(80);
			
			
			h2{
				@include font-manrope(400);
				font-size: rem(52);
				
				em{
					font-weight: 800;
				}
			}
			.sub-text{
				font-size: rem(18);
				line-height: 1;
				margin-top: rem(20);
				margin-bottom: rem(30);
				color: #000000;
				letter-spacing: rem(-0.05*18);
			}
			.btn{
				padding: 0 rem(20);
				&.btn-fill{
					&.green{
						background-color: #6b8138;
					}
				}
			}
			.event-products-list{
				display: inline-block;
				position: absolute;
				left: rem(440);
				top: rem(50);
				li{
					display: inline-block;
					margin-right: rem(150);
					&:nth-last-of-type(1){
						margin-right: 0;
					}
					.product-summary{
						width: rem(210);
						.img-wrap{
							text-align: center;
							img{
								width: auto;
								max-width: 100%;
							}
						}
						.product-name{
							margin-top: rem(35);
							text-align: center;
							font-size: rem(18);
							font-weight: 500;
							line-height: 1.4;
							letter-spacing: rem(-0.05*18);
							@include ellipsen($line: 2);
						}
					}
				}
			}
		}
		&.brand-line{
			$banner-width: 600;
			margin-top: rem(100);
			.banner-wrap{
				display: inline-block;
				width: rem($banner-width);
				vertical-align: top;
				float: left;
				height: rem(600);
				a{
					display: inline-block;
					position: relative;
					width: rem(600);
					height: rem(600);
					border-radius: rem(50);
					overflow: hidden;
					img{
						width: 100%;
					}
					.dim{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(0,0,0,0);
						transition: background-color .3s ease-in;
					}
					&:hover{
						.dim{
							background-color: rgba(0,0,0,.6);
						}
					}
				}
			}
			.brand-list-wrap{
				display: inline-block;
				width: rem($default-container-width - $banner-width);
				height: rem(600);
				padding-left: rem(50);
				.category{
					margin-top: rem(10);
					@include font-manrope(700);
					font-size: rem(24);
					color: #3a5542;
					letter-spacing: rem(-1.2);
					>span{
						font-weight: 400;
					}
				}
				.title{
					font-size: rem(36);
					font-weight: 700;
					line-height: 1;
					margin-top: rem(30);
					letter-spacing: rem(-0.05*36);
				}
				.sub-text{
					margin-top: rem(20);
					font-size: rem(18);
					letter-spacing: rem(-0.05*18);
					line-height: rem(26);
					color: $fc-dark-gray;
				}
				.slider-wrap{
					position: relative;
					margin-top: rem(40);
					//브랜드라인 슬라이드
					.brand-line-slider{
						position: relative;
						
						&.img-list{
							&.tag-bottom {
								.tag-wrap {
									// margin-top: rem(20);

									.tag-list {
										margin: auto;
									}
								}
							}
							.swiper-slide{
								&.slide-item{
									position: relative;
									width: rem(240);
									// padding: rem(40) rem(15);
									.img-slot{
										// padding: rem(46);
										border-radius: rem(30);
										
									}
									.product-info-slot{
										// margin-top: rem(30);
										.product-name{
											font-size: rem(18);
										}
										.slot-bottom{
											// margin-top: rem(10);
											.price{
												font-size: rem(18);
												em{
													font-size: rem(22);
												}
											}
										}
									}
								}
							}
						}
						
					}
					.slider-arrow-box {
						top: rem(-75);
					}
				}
			}
			.banner-group{
				margin-top: rem(80);
				ul{
					display: flex;
					justify-content: space-between;
					width: 100%;
					li{
						// flex: 1 1 auto;
						height: rem(440);
						a{
							display: inline-block;
							width: rem(440);
							height: rem(440);
							border-radius: rem(30);
							overflow: hidden;
							img{
								width: 100%;
							}
						}
					}
				}
			}
			
		}
		&.best-photoreview{
			padding-top: rem(80);
			
			h2{
				position: relative;
				.btn-all-link{
					position: absolute;
					right: 0;
					bottom: 0;
				}
			}
			.review-card{
				margin-top: rem(48);
				>ul{
					display: flex;
					width: 100%;
					justify-content: space-between;
					>li{
						position: relative;
						flex: 0 1 rem(335);
						.review-link{
							position: relative;
							border-radius: rem(30);
							overflow: hidden;
							width: 100%;
							height: rem(335);
							display: inline-block;
							color: #ffffff;
							&:hover{
								.img-wrap{
									> img{
										transform: scale(1.05);
									}
								}
							}
							.img-wrap{
								height: rem(335);
								img{
									width: 100%;
									transition: transform 0.3s ease-in-out;
								}
							}
							.review-wrap{
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								padding: rem(50) rem(30) rem(40);
								background-color: rgba(0,0,0,.5);

								.title{
									@include ellipse;
									line-height: 1;
									font-size: rem(22);
									font-weight: 700;
								}
								.review{
									@include ellipsen($line:4);
									line-height: 1.5;
									letter-spacing: rem($letter-spacing-default);
									margin-top: rem(30);
									font-size: rem(16);
									font-weight: 300;
								}
								.profile{
									position: absolute;
									bottom: rem(50);
									width: calc(100% - #{rem(60)});
									.id{
										display: inline-block;
										font-weight: 500;
									}
									.wish-count{
										display: inline-block;
										position: absolute;
										right: 0;
									}
								}
							}
							
						}
						.product-link{
							display: flex;
							align-items: center;
							// width: rem(335);
							margin-top: rem(30);
							.thumb-img{
								// flex: 0 0 rem(80);
								display: inline-block;
								width: rem(80);
								height: rem(80);
								border: 1px solid #e7e7e7;
								border-radius: rem(20);
								overflow: hidden;
								img{
									width: 100%;
									vertical-align: middle;
								}
							}
							.product-info{
								display: inline-block;
								padding-left: rem(20);
								.name{
									font-size: rem(16);
									letter-spacing: rem($letter-spacing-default);
								}
								.price-wrap{
									.price{
										@include font-manrope(700);
										font-size: rem(18);
										letter-spacing: rem($letter-spacing-price);
									}
									.unit{
										font-size: rem(14);
									}
									.before-sale {
										position: relative;
										margin-left: rem(10);
										letter-spacing: rem($letter-spacing-price);
										line-height: 1;
										color: $fc-light-gray;
										font-size: rem(14);
										font-weight: 700;
										em{
											font-size: rem(18);
											@include font-manrope(500);
										}
										&:after {
											content: '';
											display: inline-block;
											position: absolute;
											left: -5%;
											top: 50%;
											width: 110%;
											border-bottom: rem(2) solid $fc-light-gray;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		&.banner-half-wrap{
			position: relative;
			height: rem(180);
			.banner-half{
				position: absolute;
				display: inline-block;
				top: 0;
				border-radius: rem(30);
				overflow: hidden;
				&:nth-of-type(1){
					left: 0;
				}
				&:nth-of-type(2){
					right: 0;
				}
				a{
					display: block;
					width: rem(680);
					height: rem(180);
					img{
						width: 100%;
					}
				}
			}
		}
		&.md-choice{
			margin-top: rem(120);
			padding-bottom: rem(80);
			border-bottom: 1px solid $section-border-color;
			h2{
				@include font-manrope(700);
				letter-spacing: 0;
			}
			.mdchoice-wrap{
				position: relative;
				// padding-left: rem(95);
				// padding-right: rem(95);
				.mdchoice-slide{
					margin-top: rem(40);
					.swiper-wrapper{
						.swiper-slide{
							width: 100%;
							&.item{
								.img-slot{
									display: inline-block;
									width: rem(335);
									height: rem(335);
								}
								.product-info-slot{
									.product-name{
										font-size: rem(18);
										font-weight: 500;
										letter-spacing: rem($letter-spacing-default);
									}
									.price{

										font-weight: 500;
									}
								}
							}
						}
					}
				}
				.btn-slider-arrow {
					display: block;
					position: absolute;
					left: rem(-85);
					top: 40%;
					margin-top: rem(-23);
					width: rem(25);
					height: rem(46);
					background: url('../img/icons/icon_arrow_slider.png') no-repeat center center;
					background-size: contain;

					&::before {
						content: none;
					}

					&.slider-next {
						left: auto;
						right: rem(-85);
						transform: rotate(180deg);
					}
				}
			}
		}
		&.sns-community{
			margin-top: rem(80);
			h2, .sub-phrase{
				@include font-manrope(700);
				letter-spacing: 0;
			}
			.sub-phrase{
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: normal;
			}
			.sns-wrap{
				width: rem(1400);
				margin-left: auto;
				margin-right: auto;
				margin-bottom: rem(63);
				ul{
					display: flex;
					justify-content: space-between;
					width: 100%;
					li{
						a{
							display: inline-block;
							width: rem(260);
							height: rem(260);
							border-radius: rem(30);
							overflow: hidden;
							img{
								width: 100%;
							}
						}
					}
				}
			}
			.follow-us{
				text-align: center;
				.phrase{
					display: inline-block;
					@include font-manrope(800);
					vertical-align: middle;
					font-size: rem(22);
				}
				.bar{
					display: inline-block;
					margin: 0 rem(30);
					height: 2px;
					width: rem(130);
					background-color: $fc-default;
				}
				>ul{
					display: inline-block;
					height: rem(26);
					vertical-align: bottom;
					>li{
						display: inline-block;
						margin: 0 rem(10);
						a{
							vertical-align: middle;
						}
					}
				}
			}
		}
		&.notice-wrap{
			margin-bottom: rem(120);
			.notice, .news-media{
				display: inline-flex;
				justify-content: space-between;
				width: rem(695);
				.label{
					flex: 0 1 rem(150);
					font-size: rem(22);
					font-weight: 700;
				}
				.notice-list{
					ul{
						li{
							
							a{
								display: flex;
								justify-content: space-between;
								width: 100%;
								font-size: rem(16);
								line-height: 2;
								letter-spacing: rem(-1);
								font-weight: 300;
								color: $fc-dark-gray;
								.title{
									@include ellipse;
									width: rem(400);
									margin-right: rem(15);
								}
							}
						}
					}
				}
			}
			.notice{
				padding-right: rem(40);
				border-right: 1px solid $section-border-color;
			}
			.news-media{
				padding-left: rem(40);
			}
		}
	}
}

@media screen and (max-width:1600px) {
  .home .container{
    .banner-slide-wrap{
      .btn-slider-arrow.slider-prev{
        left: rem(10)!important;
      }
      .btn-slider-arrow.slider-next{
        right: rem(10)!important;
      }
    }
  }
}
