@mixin icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
@mixin icon-margin($val){
  margin: rem(-2) rem($val) 0 0;
  vertical-align: middle;
}
.icon-alignc{
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icon-logo{
  @include icon;
  @include img-only;
  width: rem(296);
  height: rem(23);
  background-image: url('../img/icons/icon_logo_main.png');
}

.icon-category-menu {
  @include icon;
  @include img-only;
  width: rem(21);
  height: rem(21);
  background-image: url('../img/icons/icon_category_menu.png');
}
.icon-category-menu-on{
  @include icon;
  @include img-only;
  width: rem(21);
  height: rem(21);
  background-image: url('../img/icons/icon_category_menu_on.png');
}

.icon-cart{
  @include icon;
  width: rem(24);
  height: rem(29);
  background-image: url('../img/icons/icon_cart_gray.png');
}
.icon-wish{
  @include icon;
  width: rem(28);
  height: rem(25);
  background-image: url('../img/icons/icon_wish_gray.png');
}
.icon-wish-check{
  @include icon;
  width: rem(28);
  height: rem(25);
  background-image: url('../img/icons/icon_wish_white_check.png');
}
.icon-cart-white{
  @include icon;
  width: rem(24);
  height: rem(29);
  background-image: url('../img/icons/icon_cart_white.png');
}
.icon-wish-white{
  @include icon;
  width: rem(28);
  height: rem(25);
  background-image: url('../img/icons/icon_wish_white.png');
}
.icon-good{
  @include icon;
  width: rem(13);
  height: rem(12);
  background-image: url('../img/icons/icon_good.png');
}
.icon-good-white{
  @include icon;
  width: rem(13);
  height: rem(12);
  background-image: url('../img/icons/icon_good_white.png');
}
.icon-good-lg{
  @include icon;
  width: rem(35);
  height: rem(34);
  background-image: url('../img/icons/icon_good_lg.png');
}
.icon-good-lg-white{
  @include icon;
  width: rem(35);
  height: rem(34);
  background-image: url('../img/icons/icon_good_lg_white.png');
  &.on{
    background-image: url('../img/icons/icon_good_lg_green.png');
  }
}
.icon-good-lg-primary{
  @include icon;
  width: rem(35);
  height: rem(34);
  background-image: url('../img/icons/icon_good_lg_green.png');
}
.icon-good-lg-green{
  @include icon;
  width: rem(35);
  height: rem(34);
  background-image: url('../img/icons/icon_good_lg_green.png');
}

.icon-gnb-cart{
  @include icon;
  background-image: url('../img/icons/icon_gnb_cart.png');
  width: rem(28);
  height: rem(32);
}
.icon-gnb-logout{
  @include icon;
  background-image: url('../img/icons/icon_gnb_logout.png');
  width: rem(34);
  height: rem(31);
}
.icon-gnb-login{
  @include icon;
  background-image: url('../img/icons/icon_gnb_login.png');
  width: rem(34);
  height: rem(31);
}
.icon-gnb-mypage{
  @include icon;
  background-image: url('../img/icons/icon_gnb_mypage.png');
  width: rem(28);
  height: rem(31);
}
.icon-gnb-search{
  @include icon;
  background-image: url('../img/icons/icon_gnb_search.png');
  width: rem(27);
  height: rem(27);
}
.icon-gnb-cart-on{
  @include icon;
  background-image: url('../img/icons/icon_gnb_cart_on.png');
  width: rem(28);
  height: rem(32);
}
.icon-gnb-logout-on{
  @include icon;
  background-image: url('../img/icons/icon_gnb_logout_on.png');
  width: rem(34);
  height: rem(31);
}
.icon-gnb-login-on{
  @include icon;
  background-image: url('../img/icons/icon_gnb_login_on.png');
  width: rem(34);
  height: rem(31);
}
.icon-gnb-mypage-on{
  @include icon;
  background-image: url('../img/icons/icon_gnb_mypage_on.png');
  width: rem(28);
  height: rem(31);
}
.icon-gnb-search-on{
  @include icon;
  background-image: url('../img/icons/icon_gnb_search_on.png');
  width: rem(27);
  height: rem(27);
}
.icon-breadcrumb-home{
  @include icon;
  background-image: url('../img/icons/icon_breadcrumb_home.png');
  width: rem(20);
  height: rem(20);
}
.icon-arrow-down-location{
  @include icon;
  background-image: url('../img/icons/icon_arrow_down_location.png');
  width: rem(10);
  height: rem(6);
}
.icon-chk{
  @include icon;
  width: rem(20);
  height: rem(20);
  // background-image: url('../img/icons/checkbox.png');
}
.icon-chk-large{
  @include icon;
  width: rem(30);
  height: rem(30);
  // background-image: url('../img/icons/checkbox_large.png');
}
.icon-close-pop{
  @include icon;
  width: rem(50);
  height: rem(50);
  background-image: url('../img/icons/icon_close_pop.png');
}
.icon-setup-gear{
  @include icon;
  width: rem(26);
  height: rem(27);
  background-image: url('../img/icons/icon_setup_gear.png');
}
.icon-link{
  @include icon;
  width: rem(8);
  height: rem(11);
  background-image: url('../img/icons/icon_arrow_link.png');
  &.icon-md{
    width: rem(8);
    height: rem(14);
    background-image: url('../img/icons/icon_arrow_link_md.png');
  }
  &.green{
    background-image: url('../img/icons/icon_link_green.png');
  }
}
.icon-arrow-up,
.icon-arrow-down{
  @include icon;
  width: rem(11);
  height: rem(8);
  background-image: url('../img/icons/icon_arrow_more.png');
}
.icon-arrow-up{
  transform: rotate(180deg);
  &.icon-alignc{
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
.icon-arrow-link{
  @include icon;
  width: rem(8);
  height: rem(13);
  background-image: url('../img/icons/icon_arrow_category.png');
}
.icon-print{
  @include icon;
  width: rem(19);
  height: rem(18);
  background-image: url('../img/icons/icon_print.png');
}
.icon-order-list{
  @include icon;
  width: rem(22);
  height: rem(24);
  background-image: url('../img/icons/icon_order_list.png');
}

.icon-tooltip{
  cursor: pointer;
  position: relative;
  @include icon;
  width: rem(18);
  height: rem(18);
  background-image: url('../img/icons/icon_tooltip.png');
  &.icon-sm{
    width: rem(14);
    height: rem(14);
    background-image: url('../img/icons/icon_tooltip_sm.png');
  }
}
.icon-help{
  @include icon;
  width: rem(16);
  height: rem(16);
  background-image: url('../img/icons/icon_help.png');
}
.icon-share-url{
  @include icon;
  width: rem(23);
  height: rem(21);
  background-image: url('../img/icons/icon_share_url.png');
}
.icon-share-facebook{
  @include icon;
  width: rem(12);
  height: rem(24);
  background-image: url('../img/icons/icon_share_facebook.png');
}
.icon-share-kakao{
  @include icon;
  width: rem(12);
  height: rem(24);
  background-image: url('../img/icons/icon_share_kakao.png');
}
.icon-share-link{
  @include icon;
  width: rem(20);
  height: rem(21);
  background-image: url('../img/icons/icon_share_link.png');
}
.icon-share-close{
  @include icon;
  width: rem(14);
  height: rem(14);
  background-image: url('../img/icons/icon_share_close.png');
}
.icon-review-check{
  @include icon;
  width: rem(13);
  height: rem(13);
  background-image: url('../img/icons/icon_review_check.png');
  &.on{
    background-image: url('../img/icons/icon_review_check_on.png');
  }
}
.icon-qna-q{
  @include icon;
  width: rem(18);
  height: rem(16);
  background-image: url('../img/icons/icon_qna_q_black.png');
}
.icon-qna-a{
  @include icon;
  width: rem(17);
  height: rem(15);
  background-image: url('../img/icons/icon_qna_a.png');
}
.icon-product-pick{
  @include icon;
  width: rem(28);
  height: rem(25);
  background-image: url('../img/icons/icon_product_pick.png');
}
.icon-product-pick-check{
  @include icon;
  width: rem(30);
  height: rem(25);
  background-image: url('../img/icons/icon_product_pick_check.png');
}
.icon-product-cart{
  @include icon;
  width: rem(24);
  height: rem(29);
  background-image: url('../img/icons/icon_product_cart.png');
  &.icon-sm{
    width: rem(18);
    height: rem(16);
    background-image: url('../img/icons/icon_product_pick_sm.png');
  }
}
.on{
  .icon-product-cart {
    &.icon-sm {
      background-image: url('../img/icons/icon_product_pick_sm_black.png');
    }
  }
}
.icon-option-delete{
  @include icon;
  width: rem(24);
  height: rem(24);
  background-image: url('../img/icons/icon_option_delete.png');
}
.icon-lock{
  @include icon;
  width: rem(18);
  height: rem(21);
  background-image: url('../img/icons/icon_lock.png');
}
.icon-count-minus{
  @include icon;
  width: rem(24);
  height: rem(24);
  background-image: url('../img/icons/icon_count_minus.png');
}
.icon-count-plus{
  @include icon;
  width: rem(24);
  height: rem(24);
  background-image: url('../img/icons/icon_count_plus.png');
}
.icon-arrow-slider{
  @include icon;
  width: rem(25);
  height: rem(46);
  background-image: url('../img/icons/icon_arrow_slider.png');
  &.next{
    transform: rotate(180deg);
  }
}
.icon-arrow-slider-black{
  @include icon;
  width: rem(25);
  height: rem(46);
  background-image: url('../img/icons/icon_arrow_slider_black.png');
  &.next{
    transform: rotate(180deg);
  }
}
.icon-arrow-slider-box{
  @include icon;
  width: rem(11);
  height: rem(19);
  background-image: url('../img/icons/icon_slider_arrow_black.png');
}
.icon-arrow-select{
  @include icon;
  width: rem(13);
  height: rem(8);
  background-image: url('../img/icons/icon_arrow_select.png');
}
.icon-circle-link{
  @include icon;
  width: rem(18);
  height: rem(18);
  background-image: url('../img/icons/icon_arrow_circle_link.png');
}
.icon-favorite{
  @include icon;
  width: rem(17);
  height: rem(20);
  background-image: url('../img/icons/icon_product_favorite.png');
}
.icon-close{
  @include icon;
  width: rem(13);
  height: rem(13);
  background-image: url('../img/icons/icon_close.png');
}
.icon-close-black{
  @include icon;
  width: rem(15);
  height: rem(15);
  background-image: url('../img/icons/icon_close_black.png');
}
.icon-close-white{
  @include icon;
  width: rem(15);
  height: rem(15);
  background-image: url('../img/icons/icon_close_white.png');
}
.icon-noti-close{
  @extend .icon-close-black;
  width: rem(12);
  height: rem(12);
}
.icon-close-banner{
  @include icon;
  width: rem(8);
  height: rem(8);
  background-image: url('../img/icons/icon_close_banner.png');
}
.icon-plus{
  @include icon;
  width: rem(10);
  height: rem(10);
  background-image: url('../img/icons/icon_plus.png');
  &.black{
    background-image: url('../img/icons/icon_plus_black.png');
  }
}
.icon-minus{
  @include icon;
  width: rem(10);
  height: rem(10);
  background-image: url('../img/icons/icon_minus.png');
  &.black{
    background-image: url('../img/icons/icon_minus_black.png');
  }
}
.icon-benefit{
  @include icon;
  width: rem(19);
  height: rem(20);
  background-image: url('../img/icons/icon_benefit.png');
}
.icon-payco{
  @include icon;
  width: rem(75);
  height: rem(20);
  background-image: url('../img/icons/icon_payment_payco.png');
  &.on{
    background-image: url('../img/icons/icon_payment_payco_on.png');
  }
}
.icon-naverpay{
  @include icon;
  width: rem(58);
  height: rem(23);
  background-image: url('../img/icons/icon_payment_naverpay.png');
  &.on{
    background-image: url('../img/icons/icon_payment_naverpay_on.png');
  }
}
.icon-kakaopay{
  @include icon;
  width: rem(64);
  height: rem(24);
  background-image: url('../img/icons/icon_payment_kakaopay.png');
  &.on{
    background-image: url('../img/icons/icon_payment_kakaopay_on.png');
  }
}
.icon-customer{
  @include icon;
  width: rem(26);
  height: rem(29);
  background-image: url('../img/icons/icon_customer.png');
}
.icon-search{
  @include icon;
  width: rem(18);
  height: rem(18);
  background-image: url('../img/icons/icon_search.png');
}
.icon-search-black{
  @include icon;
  width: rem(18);
  height: rem(18);
  background-image: url('../img/icons/icon_search_black.png');
}
.icon-customer-help{
  @include icon;
  width: rem(42);
  height: rem(43);
  background-image: url('../img/icons/icon_customer_help2.png');
}
.icon-chat{
  @include icon;
  width: rem(41);
  height: rem(43);
  background-image: url('../img/icons/icon_customer_chat.png');
}
.icon-notice{
  @include icon;
  width: rem(34);
  height: rem(22);
  background-image: url('../img/icons/icon_notice.png');
}
.icon-notice-white{
  @include icon;
  width: rem(34);
  height: rem(20);
  background-image: url('../img/icons/icon_notice_white.png');
}
.icon-q-black{
  @include icon;
  width: rem(21);
  height: rem(23);
  background-image: url('../img/icons/icon_q_black.png');
}
.icon-grade-crown{
  @include icon;
  width: rem(21);
  height: rem(19);
  background-image: url('../img/icons/icon_grade_crown.png');
}
.icon-refresh{
  @include icon;
  width: rem(14);
  height: rem(14);
  background-image: url('../img/icons/icon_filter_refresh.png');
}
.icon-map-point{
  @include icon;
  width: rem(33);
  height: rem(33);
  background-image: url('../img/icons/icon_map_point.png');
}
.icon-map-subway{
  @include icon;
  width: rem(33);
  height: rem(47);
  background-image: url('../img/icons/icon_map_subway.png');
}
.icon-map-bus{
  @include icon;
  width: rem(43);
  height: rem(39);
  background-image: url('../img/icons/icon_map_bus.png');
}
.icon-upload-close{
  @include icon;
  width: rem(8);
  height: rem(8);
  background-image: url('../img/icons/icon_upload_close.png');
}
.icon-upload-clip{
  @include icon;
  width: rem(11);
  height: rem(11);
  background-image: url('../img/icons/icon_upload_clip.png');
}
.icon-upload-plus{
  @include icon;
  width: rem(16);
  height: rem(16);
  background-image: url('../img/icons/icon_upload_plus.png');
}
.icon-point{
  @include icon;
  width: rem(25);
  height: rem(25);
  background-image: url('../img/icons/icon_point.png');
}
.icon-point-green{
  @include icon;
  width: rem(25);
  height: rem(25);
  background-image: url('../img/icons/icon_point_green.png');
}
.icon-point-lg{
  @include icon;
  width: rem(31);
  height: rem(32);
  background-image: url('../img/icons/icon_point_lg.png');
}
.icon-coupon-lg{
  @include icon;
  width: rem(33);
  height: rem(29);
  background-image: url('../img/icons/icon_coupon_lg.png');
}
.icon-account-new{
  @include icon;
  width: rem(27);
  height: rem(28);
  background-image: url('../img/icons/icon_account_new.png');
}
.icon-logo-footer{
  @include icon;
  width: rem(340);
  height: rem(27);
  background-image: url('../img/icons/icon_logo_footer.png');
}
.icon-sns-facebook{
  @include icon;
  width: rem(13);
  height: rem(24);
  background-image: url('../img/icons/icon_sns_facebook.png')
}
.icon-sns-instagram{
  @include icon;
  width: rem(26);
  height: rem(26);
  background-image: url('../img/icons/icon_sns_instagram.png')
}
.icon-sns-youtube{
  @include icon;
  width: rem(28);
  height: rem(20);
  background-image: url('../img/icons/icon_sns_youtube.png')
}
.icon-sns-kakao{
  @include icon;
  width: rem(12);
  height: rem(22);
  background-image: url('../img/icons/icon_sns_kakao.png')
}
.icon-sns-blog{
  @include icon;
  width: rem(15);
  height: rem(21);
  background-image: url('../img/icons/icon_sns_blog.png')
}
.icon-level-new{
  @include icon;
  width: rem(74);
  height: rem(83);
  background-image: url('../img/icons/icon_level_new.png');
}
.icon-level-vip{
  @include icon;
  width: rem(90);
  height: rem(81);
  background-image: url('../img/icons/icon_level_vip.png');
}

.icon-level-vvip{
  @include icon;
  width: rem(91);
  height: rem(91);
  background-image: url('../img/icons/icon_level_vvip.png');
}

.icon-level-svip{
  @include icon;
  width: rem(90);
  height: rem(89);
  background-image: url('../img/icons/icon_level_svip.png');
}
.icon-level-new-black{
  @include icon;
  width: rem(60);
  height: rem(67);
  background-image: url('../img/icons/icon_level_new_black.png');
}
.icon-level-vip-black{
  @include icon;
  width: rem(67);
  height: rem(61);
  background-image: url('../img/icons/icon_level_vip_black.png');
}

.icon-level-vvip-black{
  @include icon;
  width: rem(67);
  height: rem(66);
  background-image: url('../img/icons/icon_level_vvip_black.png');
}

.icon-level-svip-black{
  @include icon;
  width: rem(67);
  height: rem(66);
  background-image: url('../img/icons/icon_level_svip_black.png');
}
.icon-flag{
  @include icon;
  width: rem(50);
  height: rem(43);
  background-image: url('../img/icons/icon_flag.png');
}
.icon-benefit-01{
  @include icon;
  width: rem(54);
  height: rem(54);
  background-image: url('../img/icons/icon_benefit_01.png');
}
.icon-benefit-02{
  @include icon;
  width: rem(53);
  height: rem(53);
  background-image: url('../img/icons/icon_benefit_02.png');
}
.icon-benefit-03{
  @include icon;
  width: rem(54);
  height: rem(54);
  background-image: url('../img/icons/icon_benefit_03.png');
}
.icon-benefit-04{
  @include icon;
  width: rem(54);
  height: rem(54);
  background-image: url('../img/icons/icon_benefit_04.png');
}
.icon-benefit-05{
  @include icon;
  width: rem(54);
  height: rem(54);
  background-image: url('../img/icons/icon_benefit_05.png');
}
.icon-join{
  @include icon;
  width: rem(248);
  height: rem(147);
  background-image: url('../img/icons/icon_join.png');
}
.icon-leaf-sm{
  @include icon;
  width: rem(20);
  height: rem(22);
  background-image: url('../img/icons/icon_leaf_sm.png');
}
.icon-leaf{
  @include icon;
  width: rem(40);
  height: rem(33);
  background-image: url('../img/icons/icon_leaf_on.png');
}
.icon-money-pocket{
  @include icon;
  width: rem(28);
  height: rem(39);
  background-image: url('../img/icons/icon_money_pocket_on.png');
}
.icon-trash{
  @include icon;
  width: rem(30);
  height: rem(31);
  background-image: url('../img/icons/icon_trash.png')
}
.icon-policy{
  @include icon;
  width: rem(22);
  height: rem(21);
  background-image: url('../img/icons/icon_policy.png');
  &.lg{
    @include icon;
    width: rem(34);
    height: rem(33);
    background-image: url('../img/icons/icon_policy_lg.png');
  }
}
.icon-logout{
  @include icon;
  width: rem(18);
  height: rem(16);
  background-image: url('../img/icons/icon_logout.png');
}
.icon-download{
  @include icon;
  width: rem(31);
  height: rem(34);
  background-image: url('../img/icons/icon_download.png');
}
.icon-download-disabled{
  @include icon;
  width: rem(31);
  height: rem(34);
  background-image: url('../img/icons/icon_download_disabled.png');
}
.icon-no-coupone{
  @include icon;
  width: rem(76);
  height: rem(65);
  background-image: url('../img/icons/icon_no_coupone.png');
}
.icon-slider-arrow-white{
  @include icon;
  width: rem(8);
  height: rem(13);
  background-image: url('../img/icons/icon_slider_arrow_white.png');
}
.icon-time-discount{
  @include icon;
  width: rem(43);
  height: rem(46);
  background-image: url('../img/icons/icon_time_discount.png');
}
.icon-time-clock{
  @include icon;
  width: rem(8);
  height: rem(9);
  background-image: url('../img/icons/icon_time_clock.png');
}
.icon-time-semicolon{
  @include icon;
  width: rem(7);
  height: rem(24);
  background-image: url('../img/icons/icon_time_semicolon.png');
}
.icon-rank-down{
  @include icon;
  width: rem(16);
  height: rem(10);
  background-image: url('../img/icons/icon_rank_down.png');
}
.icon-rank-up{
  @include icon;
  width: rem(16);
  height: rem(10);
  background-image: url('../img/icons/icon_rank_up.png');
}
.icon-rank-stay{
  @include icon;
  width: rem(16);
  height: rem(6);
  background-image: url('../img/icons/icon_rank_stay.png');
}
.icon-follow-facebook{
  @include icon;
  width: rem(13);
  height: rem(24);
  background-image: url('../img/icons/icon_follow_facebook.png');
}
.icon-follow-instagram{
  @include icon;
  width: rem(26);
  height: rem(26);
  background-image: url('../img/icons/icon_follow_instagram.png');
}
.icon-follow-youtube{
  @include icon;
  width: rem(28);
  height: rem(20);
  background-image: url('../img/icons/icon_follow_youtube.png');
}
.icon-follow-kakao{
  @include icon;
  width: rem(12);
  height: rem(22);
  background-image: url('../img/icons/icon_follow_kakao.png');
}
.icon-follow-blog{
  @include icon;
  width: rem(15);
  height: rem(24);
  background-image: url('../img/icons/icon_follow_blog.png');
}
.icon-top-anchor{
  @include icon;
  width: rem(12);
  height: rem(7);
  background-image: url('../img/icons/icon_top_anchor.png');
}
.icon-gnb-arrow{
  @include icon;
  width: rem(20);
  height: rem(20);
  background-image: url('../img/icons/icon_gnb_arrow.png');
}
.icon-gnb-close{
  @include icon;
  width: rem(19);
  height: rem(19);
  background-image: url('../img/icons/icon_gnb_close.png');
}
.icon-store{
	@include icon;
	width: rem(38);
	height: rem(37);
	background-image: url('../img/icons/icon_store.png');
}
.icon-membership{
	@include icon;
	width: rem(38);
	height: rem(35);
	background-image: url('../img/icons/icon_membership.png');
}
.icon-download-sm{
  @include icon;
  width: rem(16);
  height: rem(16);
  background-image: url('../img/icons/icon_download_sm.png');
}
.icon-step-arrow{
  @include icon;
  width: rem(14);
  height: rem(26);
  background-image: url('../img/icons/icon_step_arrow.png');
}
.icon-gnb-search{
  @include icon;
  width: rem(27);
  height: rem(27);
  background-image: url('../img/icons/icon_gnb_search.png');
}
.icon-arrow-prev{
  @include icon;
  width: rem(8);
  height: rem(13);
  background-image: url('../img/icons/icon_arrow_prev.png');
}
.icon-arrow-next{
  @include icon;
  width: rem(8);
  height: rem(13);
  background-image: url('../img/icons/icon_arrow_next.png');
}
.icon-q-black{
  @include icon;
  width: rem(21);
  height: rem(23);
  background-image: url('../img/icons/icon_q_black.png');
}
.icon-arrow-white{
  @include icon;
  width: rem(22);
  height: rem(13);
  background-image: url('../img/icons/icon_arrow_detail_white.png');
}
.icon-skin-dry{
  @include icon;
  width: rem(60);
  height: rem(69);
  background-image: url('../img/icons/icon_skin_dry.png')
}
.icon-skin-complex{
  @include icon;
  width: rem(60);
  height: rem(69);
  background-image: url('../img/icons/icon_skin_complex.png')
}
.icon-skin-oily{
  @include icon;
  width: rem(60);
  height: rem(69);
  background-image: url('../img/icons/icon_skin_oily.png')
}
.icon-skin-sensitive{
  @include icon;
  width: rem(64);
  height: rem(68);
  background-image: url('../img/icons/icon_skin_sensitive.png')
}
.icon-skin-dry-off{
  @include icon;
  width: rem(60);
  height: rem(69);
  background-image: url('../img/icons/icon_skin_dry_off.png')
}
.icon-skin-complex-off{
  @include icon;
  width: rem(60);
  height: rem(69);
  background-image: url('../img/icons/icon_skin_complex_off.png')
}
.icon-skin-oily-off{
  @include icon;
  width: rem(60);
  height: rem(69);
  background-image: url('../img/icons/icon_skin_oily_off.png')
}
.icon-skin-sensitive-off{
  @include icon;
  width: rem(64);
  height: rem(68);
  background-image: url('../img/icons/icon_skin_sensitive_off.png')
}
.icon-skin-whitening{
  @include icon;
  width: rem(64);
  height: rem(67);
  background-image: url('../img/icons/icon_skin_whitening.png');
}
.icon-skin-elastic{
  @include icon;
  width: rem(65);
  height: rem(68);
  background-image: url('../img/icons/icon_skin_elastic.png');
}
.icon-skin-moisturizing{
  @include icon;
  width: rem(64);
  height: rem(68);
  background-image: url('../img/icons/icon_skin_moisturizing.png');
}
.icon-skin-sensitive-problem{
  @include icon;
  width: rem(64);
  height: rem(68);
  background-image: url('../img/icons/icon_skin_sensitive_problem.png');
}
.icon-skin-whitening-off{
  @include icon;
  width: rem(64);
  height: rem(67);
  background-image: url('../img/icons/icon_skin_whitening_off.png');
}
.icon-skin-elastic-off{
  @include icon;
  width: rem(65);
  height: rem(68);
  background-image: url('../img/icons/icon_skin_elastic_off.png');
}
.icon-skin-moisturizing-off{
  @include icon;
  width: rem(64);
  height: rem(68);
  background-image: url('../img/icons/icon_skin_moisturizing_off.png');
}
.icon-skin-sensitive-problem-off{
  @include icon;
  width: rem(64);
  height: rem(68);
  background-image: url('../img/icons/icon_skin_sensitive_problem_off.png');
}
.icon-essential-login{
  @include icon;
  width: rem(112);
  height: rem(112);
  background-image: url('../img/icons/icon_essential_login.png');
}
.icon-empty-cart{
  @include icon;
  width: rem(66);
  height: rem(60);
  background-image: url('../img/icons/icon_empty_cart.png');
}
.icon-cart-btn{
  @include icon;
  width: rem(23);
  height: rem(24);
  background-image: url('../img/icons/icon_cart_btn.png');
}

.icon-category-skincare{
  @include icon;
  width: rem(35);
  height: rem(35);
  background-image:url('../img/icons/icon_category_skin.png');
}
.icon-category-clean{
  @include icon;
  width: rem(35);
  height: rem(35);
  background-image:url('../img/icons/icon_category_clean.png');
}
.icon-category-mask{
  @include icon;
  width: rem(35);
  height: rem(35);
  background-image:url('../img/icons/icon_category_mask.png');
}
.icon-category-base{
  @include icon;
  width: rem(35);
  height: rem(35);
  background-image:url('../img/icons/icon_category_base.png');
}
.icon-category-point{
  @include icon;
  width: rem(35);
  height: rem(35);
  background-image:url('../img/icons/icon_category_point.png');
}
.icon-category-suncare{
  @include icon;
  width: rem(35);
  height: rem(35);
  background-image:url('../img/icons/icon_category_suncare.png');
}
.icon-category-body{
  @include icon;
  width: rem(35);
  height: rem(35);
  background-image:url('../img/icons/icon_category_body.png');
}
.icon-category-man{
  @include icon;
  width: rem(55);
  height: rem(35);
  background-image:url('../img/icons/icon_category_man.png');
}
.icon-category-cosmetic{
  @include icon;
  width: rem(34);
  height: rem(35);
  background-image:url('../img/icons/icon_category_cosmetic.png');
}
.icon-category-set{
  @include icon;
  width: rem(35);
  height: rem(35);
  background-image:url('../img/icons/icon_category_set.png');
}
.icon-play{
  @include icon;
  width: rem(80);
  height: rem(80);
  background-image: url('../img/icons/icon_play.png');
}
.icon-loading{
  @include icon;
  width: rem(64);
  height: rem(64);
  background-image: url('../img/icons/icon_loading.png');
}
.icon-more-plus{
  @include icon;
  width: rem(30);
  height: rem(30);
  background-image: url('../img/icons/icon_more_plus.png');
}
.icon-delivery{
  @include icon;
  width: rem(27);
  height: rem(23);
  background-image: url('../img/icons/icon_delivery.png');
}
.icon-error {
  @include icon;
  width: rem(43);
  height: rem(65);
  background-image: url('../img/icons/icon_error.png');
}
.icon-order-processing {
  @include icon;
  width: rem(75);
  height: rem(75);
  background-image: url('../img/icons/icon_order_processing.png');
}
.icon-dday{
  @include icon;
  width: rem(90);
  height: rem(30);
  background-image: url('../img/icons/icon_dday.png');
}
.icon-recent-arrow{
  @include icon;
  width: rem(11);
  height: rem(6);
  background-image: url('../img/icons/icon_recent_arrow.png');
}