.img-list{
  //위아래 간격
  @for $s from 4 through 8 {
    &.space-#{$s*10} {
      .item{
        margin-bottom: rem($s*10);
      }
    }
  }
  //좌우 간격
  @for $s from 4 through 8 {
    &.margin-#{$s*10} {
      padding-left: rem($s*10);
      padding-right: rem($s*10);
    }
  }
  > ul{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    // justify-content: space-between;
  }
  .item{
    position: relative;
    // .col-열수-간격
    @for $i from 2 through 5 {
      &.col-#{$i}-20{
        @include column($divide: $i, $gap: 20);
      }
      &.col-#{$i}-30{
        @include column($divide: $i, $gap: 30);
      }
      &.col-#{$i}-40{
        @include column($divide: $i, $gap: 40);
      }
    }
    

  }
  
  .img-slot{
    position: relative;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: rem(30);
    overflow: hidden;
    // height: rem(335);
    &.round-20{
      display: block;
      border-radius: rem(20);
      img{
        display: block;
      }
    }
    .item-num{
      @include font-manrope(700);
      position: absolute;
      left: 0;
      top: rem(10);
      font-size: rem(22);
      letter-spacing: rem(-0.05*22);
      color: #3c3e26;
      z-index: 1;
      &:after{
        content: '';
        display: inline-block;
        position: absolute;
        width: 105%;
        height: rem(3);
        border-radius: rem(3);
        bottom: 0;
        left: 0;
        background-color: $fc-default;
      }
    }
    img{
      display: inline-block;
      width: 100%;
      transition: transform 0.3s ease-in-out;
    }
    &:hover{
      > img{
        transform: scale(1.05);
      }
    }
    &.bordered{
      border: 1px solid #eeeeee;
      overflow: hidden;
    }
    .badge-list{
      position: absolute;
      right: rem(20);
      top: rem(20);
      width: rem(60);
      >li{
        flex: 0 0 rem(60);
      }
    }
    .quick-btns, .sold-out{
      display: none;
      width: 100%;
    }
    .img-good{
      position: absolute;
      left: rem(15);
      bottom: rem(15);
      width: rem(56);
      height: rem(30);
      line-height: rem(26);
      text-align: center;
      font-size: rem(16);
      color: #333333;
      font-weight: 700;
      border-radius: rem(15);
      background: #fff;
      .icon{
        margin-right: rem(3);
      }
    }
    .img-more{
      position: absolute;
      right: 0;
      bottom: 0;
      width: rem(40);
      height: rem(40);
      line-height: rem(40);
      text-align: center;
      font-size: rem(16);
      font-weight: 700;
      color: #fff;
      background: rgba(0,0,0,0.5);
      border-top-left-radius: rem(20);
      letter-spacing: rem(-0.05*16);
    }
    &:hover{
      .quick-btns{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
    .quick-btns{
      @include transition(0.3s);
      position: absolute;
      display: flex;
      bottom: 0;
      height: rem(60);
      justify-content: center;
      align-items: center;
      // @include full-page(absolute);
      background-color: rgba(0,0,0,.3);
      opacity: 0;
      visibility: hidden;
      transform: translateY(30px);
      >ul{
        display: flex;
        width: 100%;
        height: 100%;
        >li{
          display: flex;
          position: relative;
          flex: 1 1 auto;
          justify-content: center;
          align-items: center;
          &:after{
            content: '';
            display: inline-block;
            position: absolute;
            right: 0;
            top: 50%;
            height: rem(25);
            border-right: 1px solid rgba(255,255,255,.3);
            transform: translateY(-50%);
          }
          &:nth-last-of-type(1){
            &:after{
              content: none;
            }
          }
          .btn-circle{
            @include transition(0.3s);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: rem(66);
            height: rem(66);
            opacity: 0.7;
            &:hover{
              opacity: 1;
            }
            .icon-cart{
              background-image: url('../img/icons/icon_cart_white.png');
            }
            .icon-wish{
              background-image: url('../img/icons/icon_wish_white.png');
            }
            &.checked{
              .icon-wish{
                @extend .icon-wish-check;
              }
            }
            [class*="icon-"]{
              @include img-only;
            }
          }
        }
      }
    }
    .btn-link{
      @include img-only;
      position: absolute;
      top: 0;
      left: 0;
      height: calc(100% - #{rem(80)});
      width: 100%;
    }
  }
  .tag-list{
    position: absolute;
    width: calc(100% - #{rem(20*2)});
    right: rem(20);
    bottom: rem(20);
    text-align: right;
    >li{
      display: inline-block;
      margin-right: rem(4);
      .tag{
        display: inline-block;
        text-align: center;
        min-width: rem(60);
        font-size: rem(16);
        line-height: 1;
        padding: rem(7) 0;
        border-radius: rem(30);
        &.tag-primary{
          background-color: $btn-fill-primary;
          color: #ffffff;
          @include font-manrope(500);
        }
        &.tag-secondary{
          background-color: $btn-fill-secondary;
          color: #ffffff;
          @include font-manrope(400);
        }
        &.tag-tertiary{
          background-color: $btn-fill-tertiary;
          color: #ffffff;
        }
      }
    }
  }
  &.tag-bottom .tag-list, &.tag-top .tag-list{
    position: relative;
    margin: rem(28) 0 0 0;
    width: 100%;
    right: auto;
    bottom: auto;
    text-align: left;
    min-height: rem(30);
    font-size: 0;
  }
  &.tag-top .tag-list{
    margin: 0 0 rem(25) 0;
  }
  .product-info-slot{
    display: block;
    margin-top: rem(20);
    .product-name{
      font-size: rem(18);
      font-weight: 500;
      letter-spacing: rem(-0.05*18);
      color: #333333;
      @include ellipsen(2);
      line-height: 1.2;
      height: rem(42);
    }
    .product-date{
      @include font-manrope(400);
      margin-top: rem(15);
      font-size: rem(16);
      color: $fc-dark-gray;
    }
    .product-desc{
      margin-top: rem(5);
      font-size: rem(16);
      letter-spacing: rem(-0.05*16);
      color: $fc-dark-gray;
      @include ellipsen(3);
    }
    .slot-bottom{
      @include suffix-prefix;
      align-items: center;
      margin-top: rem(3);
      line-height: 1;
      .price-wrap{
        .price{
          color: $fc-default;
          font-size: rem(22);
          font-weight: 500;
          em{
            @include font-manrope(700);
            font-size: rem(26);
            line-height: 1;
            letter-spacing: rem($letter-spacing-price);
          }
        }
        .before-sale{
          letter-spacing: rem($letter-spacing-price);
          position: relative;
          margin-left: rem(15);
          line-height: 1;
          color: $fc-light-gray;
          word-break: keep-all;
          font-size: rem(16);
          @include font-manrope(500);
          em{
            @include font-manrope(500);
            font-size: rem(20);
          }
          &:after{
            content: '';
            display: inline-block;
            position: absolute;
            left: -5%;
            top: calc(50% - 1px);
            width: 110%;
            border-bottom: rem(2) solid $fc-light-gray;
          }
        }
      }
    }
  }
  .wish-count{
    @include font-manrope(400);
    padding-right: rem(20);
    font-size: rem(16);
    .count{
      @include font-manrope(700);
    }
  }
  .badge-slot{
    position: relative;
    margin-top: rem(30);
    text-align: left;
    font-size: 0;
    .badge{
      display: inline-block;
      margin-right: rem(5);
      padding:0 rem(10);
      min-width: rem(60);
      height: rem(30);
      text-align: center;
      line-height: rem(28);
      font-size: rem(14);
      font-weight: 500;
      color: $fc-dark-gray;
      border: 1px solid #e7e7e7;
      border-radius: rem(15);
      background: #fff;
    }
    .dday{
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding:0 rem(10);
      min-width: rem(60);
      height: rem(30);
      text-align: center;
      line-height: rem(28);
      font-size: rem(14);
      font-weight: 700;
      color: #333;
      border: 1px solid #333;
      border-radius: rem(15);
      background: #fff;
      &.soon{
        color: #ed1c24;
        border-color: #ed1c24;
      }
    }
  }
  .btn-link:hover{
    text-decoration: underline;
  }
  .user-slot{
    margin-top: rem(20);
    white-space: nowrap;
    p{
      display: inline-block;
      position: relative;
      padding-left: rem(26);
      line-height: rem(30);
      font-size: rem(15);
      color: $fc-dark-gray;
      &:first-child{
        padding-left: 0;
        &:before{
          display: none;
        }
      }
      &:before{
        display: block;
        content: "";
        position: absolute;
        left: rem(13);
        top: 50%;
        margin-top: rem(-6);
        width: 1px;
        height: rem(13);
        background: #e7e7e7;
      }
    }
  }
  .filter-list{
    margin-top: rem(20);
    height: rem(30);
    white-space: nowrap;
    font-size: 0;
    .filter{
      display: inline-block;
      margin-right: rem(6);
      padding: 0 rem(12);
      height: rem(30);
      line-height: rem(28);
      font-size: rem(14);
      color: $fc-dark-gray;
      border-radius: rem(15);
      border: 1px solid #e7e7e7;
    }
  }
  .tag-wrap{
    position: relative;
    // height: rem(35);
    margin-top: rem(15);
    .wish-count{
      position: absolute;
      bottom: rem(5);
      right: rem(20);
      padding-right: 0;
    }
  }
  
  //양옆 배치
  &.slide-width{
    .slide-item{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: rem(13);
      .img-slot{
        width: rem(234);
      }
      .product-info-slot{
        flex: 1;
        margin-top: 0;
        padding-left: rem(23);
        .slot-bottom{
          display: block;
          .wish-count{
            margin-top: rem(20);
          }
        }
      }
    }
  }
  
  &.event-list{
    .item.ended .img-slot .item-end{
      display: flex;
    }
    .img-slot{
      display: block;
      height: rem(210);
      img{
        display: block;
      }
      .item-end{
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: rem(30);
        text-align: center;
        font-size: rem(22);
        letter-spacing: rem(-0.05*22);
        color: #fff;
        font-weight: 500;
        background: rgba(0,0,0,0.6);
      }
    }
    .product-info-slot{
      .product-name{
        display: inline-block;
        width: 100%;
        font-size: rem(16);
        height: rem(16*1.2);
        @include ellipse;
      }
      .product-date{
        margin-top: rem(10);
      }
    }
    .badge-slot{
      margin-top: rem(20);
    }
  }
  
  .item-check, .check-slot{
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: rem(29.5);
    height: rem(29.5);
  }
  .item-check{
    margin: 0;
    z-index: 11;
    opacity: 0;
    &:checked + div.check-slot{
      background-image: url('../img/icons/checkbox_large_checked.png');
      border: 1px solid #333333;
    }
    &:checked + div.check-slot + div.img-slot{
      border-color: #333;
    }
  }
  .check-slot{
    @include icon;
    background-image: url('../img/icons/checkbox_large.png');
    background-position: center;
    background-size: auto;
    z-index: 10;
    border: 1px solid #eeeeee;
    border-radius: rem(6);
  }
}

.swiper-container{
  .img-list{
    .item{
      // @for $i from 3 through 5 {
        // &.col-#{$i}-20{
          // @include column($divide: $i, $gap: 20, $isSlide: true);
        // }
        // &.col-#{$i}-30{
          // @include column($divide: $i, $gap: 30, $isSlide: true);
        // }
        // &.col-#{$i}-40{
          // @include column($divide: $i, $gap: 40, $isSlide: true);
        // }
      // }
    }
  }
}
//더보기
.item-list-more{
  margin-top: rem(70);
  text-align: center;
  .btn{
    position: relative;
    width: rem(260);
  }
  .btn-list-more:after{
    display: inline-block;
    content: "";
    margin: rem(2) 0 0 rem(6);
    width: 11px;
    height: 8px;
    vertical-align: middle;
    background: url('../img/icons/icon_arrow_more.png') no-repeat center center;
  }
}

//쿠폰 리스트
.item-coupon-list{
  .coupon-box{
    position: relative;
    overflow: hidden;
    &:before, &:after{
      display: block;
      content: "";
      position: absolute;
      left: rem(-11);
      bottom: rem(57);
      width: rem(22);
      height: rem(22);
      border-radius: 50%;
      border: 1px solid $primary;
      background: #fff;
      z-index: 10;
    }
    &:after{
      left: auto;
      right: rem(-11);
    }
    &.time{
      .coupon-slot, .status-slot, &:before, &:after{
        border-color: #e9bb5b;
      }
      .coupon-slot{
        .coupon-info .dday{
          color: #ed1c24;
        }
      }
      .status-slot{
        background: #f8ecd2;
        &:before {
          content: '';
          position: absolute;
          display: inline-block;
          width: 100%;
          height: 1px;
          background-image: url(../img/icons/dash_secondary.jpg);
          background-repeat: repeat-x;
          top: 0;
          left: 0;
        }
        .coupon-status{
          color: #e9bb5b;
          &:before{
            display: inline-block;
            content: "";
            margin: rem(-4) rem(4) 0 0;
            width: rem(19);
            height: rem(19);
            vertical-align: middle;
            background: url("../img/icons/icon_coupon_time.png") no-repeat center center;
          }
        }
      }
    }
    &.end{
      .coupon-slot, .status-slot, &:before, &:after{
        border-color: #e7e7e7;
      }
      .coupon-slot{
        .coupon-price, .coupon-name, .coupon-target, .coupon-target .btn-link, .coupon-info{
          color: #dddddd;
        }
        .coupon-info .dday{
          color: #dddddd;
        }
      }
      .status-slot{
        background: #f8f8f8;
        &:before {
          content: '';
          position: absolute;
          display: inline-block;
          width: 100%;
          height: 1px;
          background-image: url(../img/icons/dash_gray.jpg);
          background-repeat: repeat-x;
          top: 0;
          left: 0;
        }
        .coupon-status{
          color: #dddddd;
        }
      }
    }
  }
  .coupon-slot{
    padding: rem(30) rem(30);
    // height: rem(220);
    border: 1px solid $primary;
    border-bottom: 0;
    border-radius: rem(20) rem(20) 0 0;
    .coupon-info {
      line-height: rem(26);
      font-size: rem(16);
      font-weight: 500;
      color: $fc-dark-gray;
      white-space: nowrap;
      @include font-manrope(500);
      .dday {
        position: relative;
        margin-left: rem(40);

        &:before {
          display: block;
          content: "";
          position: absolute;
          left: rem(-20);
          top: 50%;
          margin-top: rem(-7);
          width: 1px;
          height: rem(14);
          background: #e7e7e7;
        }
      }
    }
    .coupon-price{
      display: inline-block;
      margin-top: rem(20);
      font-size: rem(36);
      line-height: 1;
      font-weight: 700;
      color: $fc-primary;
      .price{
        display: inline-block;
        font-size: rem(52);
        line-height: 1;
        @include font-manrope(700);
        letter-spacing: rem(-0.05*52);
      }
    }
    .coupon-name{
      @include ellipsen(2);
      margin-top: rem(10);
      // height: rem(56);
      // line-height: rem(28);
      font-size: rem(20);
      font-weight: 700;
      color: #333333;
      letter-spacing: rem(-0.05*20);
    }
    .coupon-target{
      display: inline-block;
      margin-top: rem(5);
      line-height: rem(26);
      font-size: rem(16);
      letter-spacing: rem(-0.05*18);
      font-weight: 500;
      color: $fc-dark-gray;
      .btn-link{
        margin-left: rem(20);
        // position: absolute;
        // top: rem(106);
        // right: rem(24);
        font-size: rem(16);
        color: $fc-dark-gray;
        .icon{
          margin-left: rem(5);
        }
      }
    }
    
  }
  .status-slot{
    position: relative;
    height: rem(68);
    text-align: center;
    border: 1px solid $primary;
    border-top: 0;
    border-radius: 0 0 rem(20) rem(20);
    background: #f3f4e6;
    &:before{
      content: '';
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 1px;
      background-image: url(../img/icons/dash_primary.jpg);
      background-repeat: repeat-x;
      top:0;
      left: 0;
    }
    .coupon-status{
      position: relative;
      line-height: rem(68);
      font-size: rem(20);
      font-weight: 700;
      color: $fc-primary;
    }
  }
  .btn-coupon-close{
    display: block;
    position: absolute;
    right: rem(30);
    top: rem(30);
    width: rem(30);
    height: rem(30);
    z-index: 1;
  }
  .btn-coupon-delete{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: rem(20);
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    &:hover{
      opacity: 1;
    }
    &:before{
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.6);
      z-index: 1;
    }
    .icon-box{
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: rem(-33) 0 0 rem(-33);
      width: rem(66);
      height: rem(66);
      border-radius: 50%;
      background: #fff;
      z-index: 2;
    }
  }
}

//상품 썸네일 리스트
.img-list.thumb-list{
  li{
    margin-top: rem(20);
    &:first-child{
      margin-top: 0;
    }
  }
  .item{
    display: flex;
    align-items: center;
    .img-slot{
      flex: 0 0 rem(80);
      width: rem(80);
      border-radius: rem(20);
      img{
        display: block;
      }
    }
    .product-info-slot{
      margin: 0;
      padding-left: rem(20);
      .slot-bottom{
        margin-top: rem(10);
      }
      .product-name{
        height: auto;
        font-size: rem(16);
        font-weight: 700;
      }
      .price-wrap{
        .price, .before-sale{
          font-size: rem(14);
          font-weight: 700;
          em{
            margin-right: rem(3);
            font-size: rem(18);
          }
        }
      }
    }
  }
}

.category-item-wrap{
  .item{
    &.col-4-30{
      .img-slot{
        height: rem(240);
      }
    }
  }
}
.best-list-wrap{
  .item{
    &.col-4-20{
      .img-slot{
        height: rem(335);
      }
    }
  }
}