input {
	box-shadow: none;
}
.input-wrap{
	border: 1px solid $input-outline;
	height: rem(50);
	border-radius: rem(12);
	overflow: hidden;
	input{
		display: block;
		width: 100%;
		height: 100%;
		padding: 0 rem(20);
		font-size: rem(16);
		color: $fc-default;
		background-color: rgba(0,0,0,0);
		border: none;
		&::placeholder{
			font-size: rem(16);
			color: lighten($fc-default, 50%);
			font-family: 'Noto Sans KR';
		}
	}
}