.intro{
    letter-spacing: -0.05em;
    width:100%;
    button {
        font-family: 'Noto Sans KR', '맑은고딕', 'Malgun Gothic', dotum, gulim, sans-serif;
        letter-spacing: -0.05em;
    }
    &.pop-visible {
        width:100%;
        height:100%;
        overflow: hidden;
    }
	.mo-visible {
        header {
            text-align:center;
            .logo {
                padding:rem(30) 0;
                a {
                    display:block;
                    width:rem(239);
                    height: rem(73);
                    margin:0 auto;
                    background:url(../../img/sch_pop/m_logo.png) no-repeat center center;
                    background-size:100%;
                    @include img-only;
                }
            }
            .top-btn {
                display:flex;
                width:100%;
                li {
                    flex: 1;
                    background:#5e81af;
                    &:nth-of-type(2) {
                        background:#254875;
                    }
                    &:nth-of-type(3) {
                        background:#395da2;
                    }
                    a {
                        display:block;
                        line-height:rem(80);
                        font-size:rem(24);
                        font-weight:700;
                        color:#f2f3f6;
                        &:after {
                            content:'';
                            display: inline-block;
                            width:rem(13);
                            height:rem(18);
                            background:url(../../img/sch_pop/m_icon_more2.png) no-repeat center center;
                            background-size:100%;
                            margin-left:rem(12);
                        }
                    }
                }
            }
        }
        section {
            .tit {
                font-size:rem(52);
                font-weight:700;
                color:#5b6063;
                text-align:center;
                padding: rem(100) 0 rem(50);
                > a {
                    color:inherit;
                }
            }
            .banner {
                position:relative;
                .owl-dots {
                    margin:0;
                    position:absolute;
                    bottom:rem(40);
                    width:100%;
                }
                .owl-dot span {
                    border-radius: 0;
                    margin:0;
                    width:rem(80);
                    height:rem(6);
                    background:#ffffff;
                    margin: 0 rem(6);
                }
                .owl-dot:hover span {
                    background:#ffffff;
                }
                .owl-dot.active span {
                    background:#10b0ec;
                }
                .owl-nav {
                    display:none;
                }
            }
            .process {
                width:100%;
                border-bottom:rem(12) solid #eee;
                .process-sch {
                    position:relative;
                    display:block;
                    width:100%;
                    line-height:rem(110);
                    background:#215a9f;
                    color:#fff;
                    text-align: center;
                    font-size:rem(28);
                    font-weight:700;
                    &:after {
                        content:'';
                        position:absolute;
                        width:rem(28);
                        height:rem(28);
                        right:rem(33);
                        bottom:rem(41);
                        background:url(../../img/sch_pop/icon_plus.png) no-repeat center center;
                        background-size:100%;
                    }
                }
                .ico-wrap {
                    display:flex;
                    justify-content:space-around;
                    padding:rem(60) rem(30);
                    li {
                        flex: 1;
                        text-align: center;
                        > a {
                            position:relative;
                            display:block;
                            color:#72797d;
                            font-weight:500;
                            font-size:rem(28);
                            line-height:1.2;
                            span {
                                display:block;
                                margin:0 auto;
                                width:rem(160);
                                height:rem(160);
                                background-repeat: no-repeat;
                                background-size:100%;
                                margin-bottom:rem(30);
                            }
                            .icon01 {
                                background-image:url(../../img/sch_pop/m_icon_register01.png);
                                &:after {
                                    content:'';
                                    position:absolute;
                                    width:rem(2);
                                    height:rem(160);
                                    background:#e9eaed;
                                    right:0;
                                    top:0;
                                }
                            }
                            .icon02 {
                                background-image:url(../../img/sch_pop/m_icon_register02.png)
                            }
                        }
                    }
                }
            }
            .notice {
                .board {
                    padding:0 rem(30);
                    li {
                        > a {
                            position: relative;
                            display:block;
                            font-size:rem(26);
                            color:#333;
                            background:#ebeffb;
                            margin-bottom:rem(30);
                            box-sizing: border-box;
                            padding:rem(40);
                            > span {
                                display:-webkit-box;
                                -webkit-line-clamp:2;
                                -webkit-box-orient:vertical;
                                width:rem(555);
                                text-overflow: ellipsis;
                                overflow:hidden;
                            }
                            &:after {
                                content:'';
                                width:rem(30);
                                height:rem(30);
                                background:url(../../img/sch_pop/m_icon_more.png) no-repeat center center;
                                background-size:100%;
                                position:absolute;
                                right:rem(40);
                                top:rem(62);
                                z-index:2;
                            }
                        }
                    }
                }
                .more-btn {
                    display:block;
                    margin:rem(60) auto rem(70);
                    width:rem(60);
                    height:rem(60);
                    background:url(../../img/sch_pop/m_icon_plus.png) no-repeat center center;
                    background-size:100%;
                    @include img-only;
                }
            }
            .video {
                width:100%;
                > a {
                    position:relative;
                    display:block;
                    height:0;
                    padding-top: calc(427 / 750 * 100%);
                    background:url(../../img/sch_pop/m_video_bg.png) no-repeat center bottom;
                    background-size:100%;
                    box-sizing: border-box;
                    font-size:rem(26);
                    color:#333;
                    .str {
                        display:block;
                        font-size:rem(52);
                        font-weight:700;
                        color:#5b6063;
                    }
                    .text-wrap {
                        position:absolute;
                        left:rem(30);
                        bottom:rem(80);
                    }
                    .icon {
                        display:block;
                        width:rem(48);
                        height:rem(48);
                        background:url(../../img/sch_pop/m_icon_play.png) no-repeat center center;
                        background-size:100%;
                        margin-top:rem(48);
                    }
                }
            }
            .recruitment {
                margin-bottom:rem(80);
                ul {
                    padding:0 rem(30);
                    li {
                        > a {
                            display:block;
                            position: relative;
                            width:100%;
                            line-height: rem(90);
                            box-sizing: border-box;
                            font-weight:500;
                            font-size:rem(32);
                            padding:0 rem(28);
                            color:#fff;
                            background:#c1c01c;
                            margin-top:rem(12);
                            &:after {
                                content:'';
                                position:absolute;
                                width:rem(28);
                                height:rem(28);
                                right:rem(30);
                                bottom:rem(31);
                                background:url(../../img/sch_pop/icon_plus.png) no-repeat center center;
                                background-size:100%;

                            }
                        }
                    }
                }
            }
        }
        footer {
            .foot-btns {
                padding-bottom:rem(80);
                display: flex;
                justify-content: space-around;
                li {
                    flex:1;
                }
                a {
                    display:block;
                    text-align:center;
                    font-size:rem(24);
                    color:#43484a;
                    word-break: keep-all;
                    span {
                        display:block;
                        width:rem(80);
                        height:rem(80);
                        margin:0 auto rem(16);
                        background-size:100%;
                        background-repeat: no-repeat;
                    }
                }
                li:nth-of-type(1) span{
                    background-image: url(../../img/sch_pop/m_intro_icon01.png);
                }
                li:nth-of-type(2) span{
                    background-image: url(../../img/sch_pop/m_intro_icon02.png);
                }
                li:nth-of-type(3) span{
                    background-image: url(../../img/sch_pop/m_intro_icon03.png);
                }
                li:nth-of-type(4) span{
                    background-image: url(../../img/sch_pop/m_intro_icon04.png);
                }
                li:nth-of-type(5) span{
                    background-image: url(../../img/sch_pop/m_intro_icon05.png);
                }
            }
        }
    }
    .pc-visible {
        width:100%;
        min-width:rem(1300);
        min-height:100vh;
        background:url(../../img/sch_pop/intro_bg.jpg) no-repeat left center;
        background-size:cover;
        header {
            position:relative;
            width:rem(1300);
            margin:0 auto;
            padding:rem(30) 0 rem(87);
            .logo a {
                display:block;
                width:rem(172);
                height:rem(53);
                background:url(../../img/sch_pop/logo.png) no-repeat center center;
                background-size:100%;
                @include img-only;
            }
            .top-btn {
                position:absolute;
                right:0;
                display:flex;
                top:rem(60);
                li {
                    width:rem(210);
                    border-radius: rem(30);
                    margin-left:rem(10);
                    &:nth-of-type(1) {
                        background:#4366b0;
                    }
                    &:nth-of-type(2) {
                        background:#395da2;
                    }
                    &:nth-of-type(3) {
                        background:#274c8b;
                    }
                }
                a {
                    display:block;
                    text-align:center;
                    line-height:rem(60);
                    font-size:rem(21);
                    font-weight:500;
                    color:#fff;
                    &:after {
                        content:'';
                        display:inline-block;
                        vertical-align: middle;
                        width:rem(10);
                        height:rem(14);
                        margin-left:rem(12);
                        background:url(../../img/sch_pop/icon_more.png) no-repeat center center;
                        background-size:100%;
                        position: relative;
                        top:rem(-2);
                    }
                }
            }
        }
        section {
            width:rem(1300);
            margin:0 auto;
            display:flex;
            justify-content: space-between;
            align-items: flex-start;
            .banner {
                width:rem(770);
                box-shadow: rem(6) rem(10) rem(60) 0 rgba(0, 0, 0, 0.32);
                .item {
                    position:relative;
                    .s-txt {
                        position:absolute;
                        z-index:5;
                        color:#fff;
                        font-size:rem(16);
                        top:rem(200);
                        left:rem(70);
                    }
                }
                .owl-dots {
                    margin:0;
                    position:absolute;
                    bottom:rem(40);
                    width:100%;
                }
                .owl-dot span {
                    border-radius: 0;
                    margin:0;
                    width:rem(6);
                    height:rem(6);
                    background:rgba(255,255,255,.4);
                    margin: 0 rem(4);
                    border-radius: 100%;
                }
                .owl-dot:hover span {
                    background:rgba(255,255,255,.4);
                }
                .owl-dot.active span {
                    position: relative;
                    background:rgba(255,255,255,1);;
                    &:after {
                        content:'';
                        position:absolute;
                        width:rem(8);
                        height:rem(8);
                        border: rem(1) solid #fff;
                        border-radius: 100%;
                        left:50%;
                        top:50%;
                        @include transform(translate(-50%,-50%));
                    }
                }
                .owl-nav {
                    position:absolute;
                    display: flex;
                    justify-content: space-between;
                    top:50%;
                    left:0;
                    width:100%;
                    z-index:10;
                    [class*=owl-] {
                        display:block;
                        width:rem(73);
                        height:rem(34);
                        background-size:100%;
                        background-color: transparent;
                        @include img-only;
                    }
                    .owl-prev {
                        background-image: url(../../img/sch_pop/banner_arrow_prev.png);
                    }
                    .owl-next {
                        background-image: url(../../img/sch_pop/banner_arrow_next.png);
                    }
                    
                }
            }
            .process {
                width:rem(430);
                margin-top:rem(36);
                .process-sch {
                    position:relative;
                    width:100%;
                    padding-bottom: rem(20);
                    font-size:rem(30);
                    line-height: 1;
                    color:#5a6063;
                    text-align: left;
                    border-bottom:rem(3) solid #72797d;
                    &:after {
                        content:'';
                        position:absolute;
                        right:0;
                        bottom:rem(10);
                        width:rem(45);
                        height:rem(45);
                        background:url(../../img/sch_pop/icon_sch.png) no-repeat center center;
                        background-size:100%;
                    }
                }
                .ico-wrap {
                    position:relative;
                    display:flex;
                    padding:rem(42) 0;
                    justify-content: space-between;
                    &:after {
                        content:'';
                        position:absolute;
                        left:50%;
                        top:50%;
                        @include transform(translate(-50%,-50%));
                        width:rem(1);
                        height:rem(80);
                        background:#c4c4c5;
                    }
                    a {
                        position:relative;
                        display:inline-block;
                        padding-top:rem(17);
                        text-align: center;
                        font-size:rem(16);
                        font-weight:500;
                        color:#5a6063;
                        box-sizing: border-box;
                        padding-left:rem(94);;
                        [class*="icon"] {
                            position:absolute;
                            left:0;
                            top:0;
                            width:rem(80);
                            height:rem(80);
                            border-radius: 100%;
                            box-sizing: border-box;
                            background-color:#f6f7fa;
                            background-repeat: no-repeat;
                            background-position: center center;
                            border:rem(1) solid #e2e5e7;
                            &.icon01 {
                                background-image: url(../../img/sch_pop/icon_register01.png);
                            }
                            &.icon02 {
                                background-image: url(../../img/sch_pop/icon_register02.png);
                            }
                        }
                        &:hover {
                            [class*="icon"] {
                                background-color: #395da2;
                                border-color:#e2e5e7;
                            }
                            .icon01 {
                                background-image: url(../../img/sch_pop/icon_register01_ov.png);
                            }
                            .icon02 {
                                background-image: url(../../img/sch_pop/icon_register02_ov.png);
                            }
                            .txt-box {
                                display:block;
                            }
                        }
                        .str {
                            display:block;
                            color:#395da2;
                            font-size:rem(21);
                            font-weight:700;
                        }
                        .txt-box {
                            display:none;
                            position:absolute;
                            z-index:10;
                            top:rem(91);
                            right:0;
                            width:rem(430);
                            background:#fff;
                            border:rem(2) solid #617db5;
                            border-radius: rem(35);
                            font-size:rem(16);
                            font-weight:500;
                            color:#72797d;
                            padding:rem(11) 0 rem(13);
                            .color{
                                color:#395da2;
                            }
                            &:before {
                                content:'';
                                position:absolute;
                                top:rem(-11);
                                right:rem(154);
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 rem(7) rem(11) rem(7);
                                border-color: transparent transparent #617db5 transparent;
                            }
                            &:after {
                                content:'';
                                position:absolute;
                                top:rem(-8);
                                right:rem(156);
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 rem(5) rem(11) rem(5);
                                border-color: transparent transparent #fff transparent;
                            }
                        }
                    }
                }
            }
            .notice {
                padding-top:rem(49);
                h2 {
                    position:relative;
                    font-size:rem(35);
                    a {
                        color:#5a6063;
                        font-weight:500;
                        &:after {
                            content:'';
                            position:absolute;
                            right:0;
                            width:rem(32);
                            height:rem(32);
                            background:url(../../img/sch_pop/icon_plus2.png) no-repeat center center;
                        }
                    }
                }
                .board {
                    padding:rem(40) 0 0;
                    li {
                        position:relative;
                        margin-bottom:rem(20);
                        a {
                            font-size:rem(18);
                            font-weight:200;
                            color:#333;
                            display: inline-block;
                            max-width: calc(100% - #{rem(20)});
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            line-height: 1;
                            &:after {
                                content:'';
                                position:absolute;
                                right:0;
                                top:rem(2);
                                width:rem(17);
                                height:rem(17);
                                background:url(../../img/sch_pop/icon_more02.png) no-repeat center center;
                            }
                            &:hover {
                                color:#000;
                            }
                        }
                    }
                }
            }
            .cont-wrap {
                position:relative;
                width:rem(610);
                border-bottom:rem(2) solid #5a6063;
                .video {
                    position:relative;
                    width:rem(416);
                    height:rem(236);
                    padding-top:rem(50);
                    box-sizing: border-box;
                    > a {
                        display:inline-block;
                        font-size:rem(27);
                        font-weight:500;
                        color:#72797d;
                        .s-txt {
                            display:block;
                            font-size:rem(15);
                            padding-top:rem(10);
                        }
                        .icon {
                            display:block;
                            width:rem(24);
                            height:rem(24);
                            background:url(../../img/sch_pop/icon_play.png) no-repeat center center;
                            background-size:100%;
                            margin-top:rem(21);
                        }
                    }
                    &:after {
                        content:'';
                        position:absolute;
                        right:rem(-44);
                        bottom:rem(-55);
                        width:rem(286);
                        height:rem(334);
                        background:url(../../img/sch_pop/video_bg.png) no-repeat center center;
                        background-size:100%;
                        z-index:3;
                    }
                }
                .recruitment {
                    h2 {
                        position:absolute;
                        font-size:rem(45);
                        color:#5a6063;
                        opacity: .32;
                        font-weight:700;
                        letter-spacing: -0.1em;
                        @include transform(rotate(90deg));
                        bottom:rem(75);
                        right:rem(-133);
                    }
                    ul {
                        position:absolute;
                        right:0;
                        bottom:0;
                        width:rem(210);
                        height:rem(359);
                        background:url(../../img/sch_pop/recruitment_bg.png);
                        box-sizing: border-box;
                        padding:rem(40);
                        li {
                            padding-bottom:rem(20);
                            a {
                                font-size:rem(18);
                                font-weight: 500;
                                color:#fff;
                                line-height: 1;
                            }
                        }
                    }
                }
            }
        }
        footer {
            display:flex;
            width:rem(1300);
            margin:0 auto;
            padding: rem(30) 0 rem(50);
            justify-content: space-between;
            align-items: center;
            .foot-btns {
                display:flex;
                li {
                    margin-right:rem(24);
                    &:nth-of-type(1) .icon {
                        background-image:url(../../img/sch_pop/intro_icon01.png);
                    }
                    &:nth-of-type(2) .icon {
                        background-image:url(../../img/sch_pop/intro_icon02.png);
                    }
                    &:nth-of-type(3) .icon {
                        background-image:url(../../img/sch_pop/intro_icon03.png);
                    }
                    &:nth-of-type(4) .icon {
                        background-image:url(../../img/sch_pop/intro_icon04.png);
                    }
                    &:nth-of-type(5) .icon {
                        background-image:url(../../img/sch_pop/intro_icon05.png);
                    }
                }
                a {
                    display: flex;
                    align-items: center;
                    font-size:rem(16);
                    color:#43484a;
                    word-break: keep-all;
                    &:hover {
                        color:#000;
                    }
                    .icon {
                        display:inline-block;
                        width:rem(42);
                        height:rem(42);
                        background-size:100%;
                        margin-right:rem(9);
                        background-repeat: no-repeat;
                    }
                }
            }
            .address {
                font-size:rem(12);
                color:#999999;
                .copy {
                    display:block;
                    color:#bfbfbf;
                    font-size:rem(9);
                }
            }
        }
    }
}