.content-wrap{
  width: 100%;
  // background-color: rgba(0,0,0,.1);
  margin-top: rem($gnb-header-height + $gnb-header-margin-top);
  &.nr-content-wrap{
    min-width: rem($default-container-width);
  }
}
.container{
  width: rem($default-container-width);
  margin: auto;
  // background-color: rgba(0,255,0,.3);
}

$start: 0;
$end: 20;
@for $i from $start through $end {
  .mb#{$i * 10} {
    margin-bottom: #{rem($i * 10)}!important;
  }
  .mt#{$i * 10} {
    margin-top: #{rem($i * 10)}!important;
  }
  .ml#{$i * 10} {
    margin-left: #{rem($i * 10)}!important;
  }
  .mr#{$i * 10} {
    margin-right: #{rem($i * 10)}!important;
  }
}

/* 서브 헤더 */
.sub-header-title{
  margin: rem(50) 0 rem(40) 0;
}

/* 카테고리 */
.sub-category-wrap{
  display: flex;
  justify-content: space-between;
  margin-top: rem(50);
  width: 100%;
  .category-menu{
    padding-bottom: rem(20);
    width: rem(300);
    // border-bottom: 1px solid #e7e7e7;
    .category-title{
      display: flex;
      height: rem(60);
      align-items: center;
      position: relative;
      padding-bottom: rem(20);
      line-height: 1;
      font-size: rem(36);
      font-weight: 700;
    color: #333;
      // border-bottom:4px solid #31291c;
      &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: rem(4);
        width: 100%;
        background-color: #333333;
        border-radius: rem(5);
      }
      $icon-scale: 0.5;
      > [class*="icon-"]{
        margin-left: rem(10);
      }
    }
    .menu-box{
      padding:rem(10) 0;
      border-top: 1px solid #e7e7e7;
      &:first-child{
        border-top: 0;
      }
      .btn-menu{
        display: block;
        position: relative;
        padding: 0 rem(20);
        line-height: rem(60);
        font-size: rem(22);
        letter-spacing: rem(-0.05*22);
        font-weight: 500;
        color: #333;
        &:after{
          display: block;
          content: "";
          position: absolute;
          right: rem(25);
          top: 50%;
          margin-top: rem(-15);
          width: rem(31);
          height: rem(31);
          border-radius: 50%;
          background: url('../img/icons/icon_arrow_category.png') no-repeat center center;
        }
      }
      &.active{
        .btn-menu{
          color: $primary;
          font-weight: 700;
          &:after{
            background: url('../img/icons/icon_arrow_next.png') no-repeat center center;
          }
        }
      }
      &.menu-open{
        .menu-title{
          font-weight: 700;
        }
        .sub-list{
          display: block;
        }
      }
      .sub-list{
        display: none;
        padding-bottom: rem(20);
        .sub-box{
          .btn-sub{
            display: block;
            position: relative;
            padding: 0 rem(20);
            line-height: rem(40);
            font-size: rem(18);
            font-weight: 400;
            letter-spacing: rem(-0.05*18);
            color: $fc-gray;
            &:hover{
              text-decoration: underline;
              font-weight: 700;
              color: $fc-default;
            }
          }
          &.active{
            .btn-sub{
              text-decoration: underline;
              font-weight: 700;
              color: $fc-default;
            }
          }
        }
      }
      .menu-title{
        padding: 0 rem(20);
        line-height: rem(60);
        font-size: rem(22);
        font-weight: 500;
        color: #333;
      }
      .check-list{
        padding: 0 rem(20) rem(20);
        .check-wrap{
          margin-top: rem(12);
          .checkbox{
            position: relative;
            display: flex;
            align-items: center;
            margin-left: 0;
            margin-right: rem(12);
            input[type="checkbox"]{
              width: rem(30);
              height: rem(30);
              margin: 0;
            }
            input[type="checkbox"]:checked ~ label span{
              font-weight: 600;
              color: $fc-default;
            }
          }
          label{
            display: inline-block;
            padding-left: rem(8);
            > span{
              color: $fc-gray;
              font-weight: 400;
              line-height: 1;
            }
          }
          .icon-good{
            margin: 0 rem(3) 0 rem(6);
          }
        }
        .check-btn{
          margin-top: rem(20);
          .btn-more{
            display: inline-block;
            position: relative;
            padding: 0 rem(5);
            line-height: rem(30);
            font-size: rem(16);
            font-weight: 500;
            color: $fc-dark-gray;
            &:after{
              display: inline-block;
              content: "";
              width: rem(20);
              height: rem(20);
              vertical-align: middle;
              background: url('../img/icons/icon_arrow_more.png') no-repeat center center;
            }
          }
        }
      }
      .price-list{
        padding: 0 rem(20) rem(10);
        li{
          padding: rem(5) 0;
          .btn-price{
            display: inline-block;
            line-height: rem(30);
            font-size: rem(16);
            color: $fc-gray;
            &.active{
              color: #333;
              font-weight: 600;
            }
          }
        }
      }
      .category-search{
        padding: 0 rem(20);
        width: rem(300);
        .input-wrap{
          position: relative;
          margin-top: rem(10);
          width: rem(220);
          overflow: visible;
          &:first-child{
            margin-top: 0
          }
          .unit{
            position: absolute;
            right: rem(-35);
            top: 0;
            line-height: rem(48);
            font-size: rem(16);
            color:$fc-dark-gray;
          }
        }
        .btn-category-search{
          margin-top: rem(15);
        }
      }
    }
  }
  .category-content{
    width: rem(1050);
    .category-title{
      margin-bottom: rem(30);
    }
    .category-bnr-wrap{
      margin-bottom: rem(70);
    }
    .category-result-wrap{
    }
  }
}

//툴팁
.tooltip-popup{
  position: absolute;
  left: rem(-40);
  top: rem(28);
  padding: rem(10) rem(15);
  line-height: rem(26);
  font-size: rem(16);
  font-weight: 500;
  color: #333;
  border: 1px solid #333;
  border-radius: rem(6);
  background: #fff;
  white-space: nowrap;
  z-index: 100;
  letter-spacing: rem(-0.05*16);
}
.round-tip{
  .tooltip-popup{
    font-size: rem(14);
    letter-spacing: rem(-0.05*14);
    padding: 0 rem(10);
    border-radius: rem(17);
    line-height: rem(30);
  }
}
.side-tip{
  .tooltip-popup{
    left: rem(30);
    top: rem(-7);
  }
}

//스크롤바
.popup-window{
  .scrollbar-outer{
    > .scroll-content{
      &.scroll-scrolly_visible{
        left: rem(-26);
        margin-left: rem(26);
      }
    }
  }
}
.scrollbar-outer {
  > .scroll-element.scroll-y{
    .scroll-bar{
      background-color: #e5e3e3;
    }
  }
}

// .scroll-custom-y{
//   overflow: hidden;
//   overflow-y: auto;
// }
// .scroll-custom-y::-webkit-scrollbar {
//   width: 14px;
// }
// .scroll-custom-y::-webkit-scrollbar-track {
//   background: rgba(0,0,0,0);
// }
// .scroll-custom-y::-webkit-scrollbar-thumb {
//   border: 4px solid rgba(0, 0, 0, 0);
//   background-clip: padding-box;
//   border-radius: 9999px;
//   background-color: #bcbdc1;
  
// }
// .scroll-custom-y::-webkit-scrollbar-thumb:hover {
//   border: 4px solid rgba(0, 0, 0, 0);
//   background-clip: padding-box;
//   border-radius: 9999px;
//   background-color: #999;
// }

body.popup-open {
  padding-right: 20px;
  overflow: hidden;
}