.location{
  padding-top: rem(40);
  padding-bottom: rem(15);
  >ul{
    display: flex;
    >li{
      display: inline-block;
      vertical-align: middle;
      font-size: rem(18);
      color: $btn-default-fc;
      &:nth-of-type(n+2){
        position: relative;
        padding-right: rem(20);
        padding-left: rem(20);
        &:after{
          content: '';
          display: inline-block;
          position: absolute;
          right: 0;
          top: 25%;
          height: 50%;
          border-right: 1px solid $section-border-color;
        }
      }
      &:nth-last-of-type(1){
        &:after{
          content: none;
        }
      }
      a{
        color: $btn-default-fc;
      }
      &.has-combobox{
        position: relative;
        > a{
          &:after{
            content: '';
            @extend .icon-arrow-down-location;
            margin-top: rem(-3);
            vertical-align: middle;
            margin-left: rem(10);
          }
        }
        .combo-box{
          display: none;
          // display: inline-block;
          position: absolute;
          left: 0;
          top: rem(40);
          border: 1px solid #333333;
          border-radius: rem(20);
          padding: rem(20);
          width: auto;
          min-width: rem(220);
          background-color: #ffffff;
          li{
            line-height: 1;
            margin-bottom: rem(15);
            &:nth-last-of-type(1){
              margin-bottom: 0;
            }
            a{
              font-size: rem(18);
            }
          }
        }
        &.active{
          .combo-box{
            display: inline-block;
            z-index: 11;
          }
          > a{
           &:after{
             transform: rotate(180deg);
           }
          }
        }
      }
    }
  }
  .to-home{
    .icon-breadcrumb-home{
      @include img-only;
      margin-top: rem(-4);
      vertical-align: middle;
    }
  }
}