.micro-popup{
  position: relative;
  display: inline-flex;
  background-color: #f5f5f5;
  height: rem(60);
  align-items: center;
  padding-left: rem(30);
  padding-right: rem(50);
  margin-left: rem(20);
  border-radius: rem(12);
  font-size: rem(16);
  font-weight: 500;
  white-space: nowrap;
  .btn-close{
    position: absolute;
    right: rem(16);
    top: rem(30 - 6.5);
    line-height: 0;
    font-size: 0;
  }
}