@use "sass:math";
@mixin bg-default-set($size){
	background-repeat: no-repeat;
	background-size: $size;
}
@mixin img-only{
	text-indent: -99999px;
}
@mixin ellipse{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//n줄 말줄임
@mixin ellipsen($line){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin suffix-prefix{
	display: flex;
	justify-content: space-between;
	.suffix, .prefix{
		display: flex;
		flex: 1 1 auto;
		align-items: center;
	}
	.prefix{
		justify-content: flex-start;
	}
	.suffix{
		justify-content: flex-end;
	}
}
@mixin full-page($position){
	position: $position;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
@mixin scrollbar-custom{
	&::-webkit-scrollbar {
		width: rem(8);
		background-color: rgba(0, 0, 0, 0);
	}

	&::-webkit-scrollbar-thumb {
		width: rem(3);
		background-color: rgba(0, 0, 0, .3);
		background-clip: padding-box;
		border: rem(3) solid transparent;
		border-radius: rem(5);
	}
	scroll-behavior: smooth;
}
@mixin shadow{
	box-shadow: rem(5) 0 rem(20) rgba(0, 0, 0, 0.2);
}

@mixin column($divide, $gap, $isSlide: false){
	// flex-grow: 1;
	// flex-shrink: 1;
	// flex-basis: calc(#{math.div(100, $divide)}% - #{rem(math.div($gap * ($divide - 1), $divide))});
	// flex-basis: calc(100% / #{$divide});
	width: calc(#{math.div(100, $divide)}% - #{rem(math.div($gap * ($divide - 1), $divide))});
	margin-right: rem($gap - 1); // IE대응 값보정
	@if $isSlide == false {
		&:nth-of-type(#{$divide}n){
			margin-right: 0;
		}
	}
}


@mixin animationitem{
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  &.active{
    opacity: 1;
    visibility: visible;
  }
}
@mixin transition($sec){
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-duration: $sec;
  -moz-transition-duration: $sec;
  -ms-transition-duration: $sec;
  -o-transition-duration: $sec;
  transition-duration: $sec;
}

@mixin font-manrope($weight) {
  font-family: "Manrope", 'Noto Sans KR', '맑은고딕', 'Malgun Gothic', dotum, gulim, sans-serif;
  font-weight: $weight;
}

@mixin font-notokr($weight) {
  font-family: 'Noto Sans KR', '맑은고딕', 'Malgun Gothic', dotum, gulim, sans-serif;
  font-weight: $weight;
}
@mixin bgcover() {
  background-position: center center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
}
@mixin tab-motion(){
	$sec: 0.2s;
	@include transition($sec);
}