.container{
  &.mypage-top{
    margin-top: rem($gnb-header-height + $gnb-header-margin-top + 60);
  }
}

.mypage-welcome-box{
  // border-bottom: 4px solid #31291c;
  &:after{
    content: '';
    display: block;
    height: rem(4);
    background-color: $btn-fill-black;
    margin-top: rem(12);
    border-radius: rem(4);
  }
  .user-name{
    line-height: rem(45);
    font-size: rem(26);
    font-weight: 500;
    color: #333;
    white-space: nowrap;
    .name{
      color: $primary;
      font-weight: 700;
      font-size: rem(36);
    }
  }
  .btn-user-modify{
    display: inline-block;
    margin-top: rem(25);
    height: rem(40);
    line-height: rem(38);
    font-size: rem(18);
    font-weight: 500;
    color: #333;
    .icon{
      margin: rem(-4) rem(8) 0 0;
      vertical-align: middle;
    }
  }
}

.mypage-userinfo-box{
  display: flex;
  padding: rem(30) 0;
  margin-bottom: rem(60);
  height: rem(170);
  border-radius: rem(20);
  background-color: $grade-vip;
  &.svip{
    background-color: $grade-svip;
  }
  &.vvip{
    background-color: $grade-vvip;
  }
  &.vip{
    background-color: $grade-vip;
  }
  &.new{
    background-color: $grade-new;
  }
  .grade-box{
    position: relative;
    padding: 0 0 0 rem(40);
    // width: rem(460);
    flex: 1 1 auto;
    .grade{
    margin-bottom: rem(30);
      line-height: 1;
      font-size: rem(56);
      font-weight: 700;
      color: #fff;
    }
    .desc{
      line-height: 1;
      font-size: rem(14);
      color: rgba(255,255,255,0.8);
      letter-spacing: rem($letter-spacing-default);
    }
    .btn-grade{
      display: block;
      position: absolute;
      right: rem(30);
      top: rem(10);
      padding: 0 rem(15);
      line-height: rem(36);
    }
  }
  .info-box{
    position: relative;
    padding: rem(20) 0 0 0;
    width: rem(150);
    text-align: center;
    &:before{
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: rem(-55);
      width: 1px;
      height: rem(110);
      background: rgba(255,255,255,0.2);
    }
    .info-title{
      margin-bottom: rem(30);
      line-height: rem(20);
      font-size: rem(18);
      font-weight: 500;
      color: #fff
    }
    .info-val{
      line-height: 1;
      font-size: rem(26);
      @include font-manrope(700);
      color: #fff;
    }
  }
}

.mypage-content-wrap{
  .content-wrap{
    margin-top: rem(100);
    &:first-child{
      margin-top: 0;
    }
    .img-list{
      .item{
        &.col-4-30{
          .img-slot{
            height: rem(240);
          }
        }
      }
    }
  }
  .content-top{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
    margin-bottom: rem(30);
    .content-title{
      line-height: normal;
    }
    .btn-all-link{
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .list-total{
      // margin: rem(12) 0 0 rem(15);
      font-size: rem(18);
      color: #000000;
      .total{
        color: $fc-primary-darken;
        @include font-manrope(700);
      }
    }
    .btn-refresh{
      display: block;
      position: absolute;
      right: 0;
      top: rem(10);
      line-height: rem(36);
      font-size: rem(16);
      color: #58595b;
      .icon{
        margin: rem(-2) 0 0 rem(6);
        vertical-align: middle;
      }
    }
    .desc{
      margin-top: rem(10);
      width: 100%;
      line-height: rem(30);
      font-size: rem(16);
      color: #818286;
      letter-spacing: rem(-0.05*16);
      &.dot{
        position: relative;
        padding-left: rem(12);
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: rem(-2);
          width: rem(4);
          height: rem(4);
          border-radius: 50%;
          background: #bcbdc1;
        }
      }
      &.inline-type{
        display: inline-block;
        width: auto;
        // line-height: rem(52);
        margin-top: 0;
      }
    }
  }
}

.point-summary-box{
  display: flex;
  @include suffix-prefix;
  padding: rem(35) rem(40);
  margin-bottom: rem(50);
  text-align: center;
  border-radius: rem(12);
  background: $bg-data;
  .suffix{
    .label{
      position: relative;
      &:before{
        content: '';
        display: inline-block;
        position: absolute;
        left: rem(-30);
        top: rem(4);
        height: rem(20);
        width: 1px;
        border-left: 1px solid $section-border-color;
      }
    }
  }
  .label{
    display: inline-block;
    margin-right: rem(40);
    vertical-align: middle;
    font-size: rem(18);
    letter-spacing: rem(-0.05*18);
    line-height: rem(30);
    color: #333333;
    font-weight: 700;
    .icon{
      margin: rem(-5) rem(6) 0 0;
      vertical-align: middle;
    }
  }
  .point{
    position: relative;
    display: inline-block;
    font-size: rem(28);
    line-height: rem(30);
    vertical-align: middle;
    color: $fc-primary-darken;
    @include font-manrope(700);
    letter-spacing: rem(-0.05*28);
  }
  .expire-point{
    display: inline-block;
    vertical-align: middle;
    font-size: rem(20);
    letter-spacing: rem(-0.05*20);
    line-height: rem(30);
    color: $fc-primary-darken;
    @include font-manrope(700);
    .icon{
      margin-left: rem(5);
    }
  }

}

//쿠폰 등록
.coupon-add-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(40);
  padding: rem(30) 0;
  border-radius: rem(20);
  background: $bg-data;
  .label{
    line-height: rem(50);
    font-size: rem(22);
    font-weight: 700;
    color: #333333;
  }
  .input-search{
    margin: 0 rem(20);
    width: rem(400);
    height: rem(50);
    font-size: rem(16);
    padding: 0 rem(20);
    color: #333;
    border: 1px solid #e7e7e7;
    border-radius: rem(12);
    background: #fff;
    &::placeholder{
      font-family: 'Noto Sans KR';
      letter-spacing: rem(-0.05*16);
    }
  }
  .btn-search{
  }
}

.my-coupon{
  .caution-list-box{
    margin-top: rem(60);
    border-top: 1px solid $section-border-color;
    padding-top: rem(35);
  }
}
.reward-policy-info{
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(40);
  
  .policy-box{
    padding: rem(22) 0 0 0;
    width: 49%;
    height: rem(115);
    border-radius: rem(12);
    background-color: $bg-data;
    .policy-title{
      margin-bottom: rem(15);
      line-height: rem(30);
      text-align: center;
      font-size: rem(18);
      letter-spacing: rem(-0.05*18);
      font-weight: 500;
      color: $fc-default;
      .icon{
        margin: rem(-4) rem(6) 0 0;
        vertical-align: middle;
      }
    }
    .policy-point{
      display: flex;
      justify-content: center;
      text-align: center;
      .point-box{
        display: flex;
        position: relative;
        justify-content: center;
        text-align: center;
        &:first-child{
          margin-right: rem(60);
          &:after{
            display: block;
            content: "";
            position: absolute;
            right: rem(-31);
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: rem(13);
            background: #e7e7e7;
          }
        }
        .label{
          line-height: 1;
          font-size: rem(16);
          color: #333;
          letter-spacing: rem(-0.05*16)
        }
        .point{
          @include font-manrope(700);
          margin: 0 0 0 rem(12);
          line-height: 1;
          font-size: rem(16);
          color: #6b8138;
        }
      }
    }
  }
}

.mypage-content-wrap .review-comment-list{
  .review-comment-box{
    padding-top: 0;
    padding-bottom: rem(50);
    padding-left: rem(40);
    padding-right: rem(40);
    margin-top: rem(30);
    border: 1px solid #e7e7e7;
    border-radius: rem(20);
    &:first-child{
      margin-top: 0;
    }
    .order-item-box{
      margin-bottom: rem(40);
      border-bottom: 1px solid #e7e7e7;
    }
  }
}

.mypage-content-wrap .password-area{
  padding: rem(80) 0 rem(100) 0;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  .text-box{
    margin: rem(25) 0 rem(35) 0;
    line-height: rem(34);
    font-size: rem(22);
    letter-spacing: rem(-0.05*22);
  }
  .password-box{
    .btn-password{
      margin-left: rem(20);
      width: rem(100);
    }
  }
}

.mypage-content-wrap .modify-area{
  .btn-right{
    text-align: right;
    .btn-drop{
      display: inline-block;
      line-height: rem(30);
      font-size: rem(16);
      font-weight: 700;
      color: #58595b;
      .icon{
        margin: rem(-4) rem(4) 0 0;
        vertical-align: middle;
      }
    }
  }
  .count-down-wrap{
    flex: 1 1 auto;
    .count-down-time{
      display: inline-block;
      .input-text{
        padding-right: rem(65);
      }
    }
  }
}

.content-wrap.mypage-drop-content{
  background: url("../img/ui/bg_mypage_drop.jpg") no-repeat center center;
  background-size: cover;
  .drop-area{
    position: relative;
    min-height: rem(800);
    height: calc(100vh - #{rem($gnb-header-height + $gnb-header-margin-top)});
    .drop-box{
      position: absolute;
      left: 50%;
      top: 48%;
      transform: translate(-50%, -50%);
      padding-top: rem(80);
      width: rem(700);
      height: rem(550);
      text-align: center;
      border-radius: rem(20);
      background: rgba(255,255,255,1);
      box-shadow: rem(10) rem(10) rem(40) rgba(0,0,0,0.1);
      .text-box{
        margin: rem(30) 0 rem(80) 0;
        line-height: rem(26);
        font-size: rem(18);
        font-weight: 500;
        color: #818286;
        .title{
          margin: rem(10) 0 rem(20) 0;
          line-height: rem(40);
          font-size: rem(32);
          font-weight: 500;
          color: #333333;
          letter-spacing: rem(-0.05*32);
        }
        p{
          letter-spacing: rem(-0.05*16);
        }
      }
      .btn-home{
        width: rem(280);
        height: rem(60);
        font-size: rem(22);
        font-weight: 700;
      }
    }
  }
}

.mypage-content-wrap .drop-area{
  .drop-top{
    padding: rem(70) 0;
    text-align: center;
    border-top: 1px solid #333;
    // border-bottom: 1px solid #e7e7e7;
    .label{
      margin: rem(20) 0 rem(10) 0;
      line-height: rem(30);
      font-size: rem(22);
      font-weight: 700;
      color: #333;
      letter-spacing: rem(-0.05*22);
    }
    .desc{
      line-height: rem(24);
      font-size: rem(18);
      color: #333;
      letter-spacing: rem(-0.05*18);
    }
  }
  .form-content textarea.input-text{
    height: rem(200);
  }
  .drop-agree{
    margin-top: rem(10);
    margin-bottom: rem(50);
    text-align: left;
    .check-wrap{
      display: inline-block;
    }
  }
}
.mypage-skininfo{
  padding-top: rem(40);
  border-top: 1px solid $bc-top;
  h4{
    font-size: rem(22);
    font-weight: 700;
    margin-bottom: rem(20);
    letter-spacing: rem(-0.05*22);
  }
  .img-list {
    .item-check, .check-slot{
      left: rem(20);
      top: rem(20);
    }
  }
  >ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(40);
    >li{
      flex: 1 1 rem(240);
      margin-right: rem(30);
      &:nth-of-type(4n){
        margin-right: 0;
      }
      >div{
        display: flex;
        height: rem(240);
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: rem(20);
        &.img-slot{
          border: 1px solid #e7e7e7;
          .icon-skin-dry {
            @extend .icon-skin-dry-off;
          }

          .icon-skin-complex {
            @extend .icon-skin-complex-off;
          }

          .icon-skin-oily {
            @extend .icon-skin-oily-off;
          }

          .icon-skin-sensitive {
            @extend .icon-skin-sensitive-off;
          }

          .icon-skin-whitening {
            @extend .icon-skin-whitening-off;
          }

          .icon-skin-elastic {
            @extend .icon-skin-elastic-off;
          }

          .icon-skin-moisturizing {
            @extend .icon-skin-moisturizing-off;
          }

          .icon-skin-sensitive-problem {
            @extend .icon-skin-sensitive-problem-off;
          }
        }
        .text{
          margin-top: rem(35);
          text-align: center;
          font-size: rem(18);
          font-weight: 700;
        }
      }
      .item-check{
        &:checked+div.check-slot+div.img-slot {

          .text{
            color: $fc-dark-gray;
            font-weight: 700;
          }
          .icon-skin-dry-off{
            @extend .icon-skin-dry;
          }
          .icon-skin-complex-off{
            @extend .icon-skin-complex;
          }
          .icon-skin-oily-off{
            @extend .icon-skin-oily;
          }
          .icon-skin-sensitive-off{
            @extend .icon-skin-sensitive;
          }
          .icon-skin-whitening-off{
            @extend .icon-skin-whitening;
          }
          .icon-skin-elastic-off{
            @extend .icon-skin-elastic;
          }
          .icon-skin-moisturizing-off{
            @extend .icon-skin-moisturizing;
          }
          .icon-skin-sensitive-problem-off{
            @extend .icon-skin-sensitive-problem;
          }
        }
      }
    }
  }
}