.nr-content-wrap{
  .nr-list{
    margin-bottom: rem(180);
    .list-box{
      display: flex;
      justify-content: space-between;
      margin-top: rem(100);
      &:nth-child(n+2) {
        margin-top: rem(120);
      }
      &:nth-of-type(1){
        .na-animate{
          &.thumb-slot{
            margin-top: rem(100);
            &.animated{
              margin-top: 0;
            }
          }
          &.item-slot{
            margin-top: rem(180);
            &.animated{
              margin-top: rem(80);
            }
          }
        }
      }
      &:nth-of-type(2){
        .na-animate{
          &.thumb-slot{
            margin-top: rem(100);
            &.animated{
              margin-top: 0;
            }
          }
          &.item-slot{
            margin-top: rem(180);
            &.animated{
              margin-top: rem(80);
            }
          }
        }
      }
      &:nth-of-type(3){
        .na-animate{
          &.thumb-slot{
            margin-top: rem(100);
            &.animated{
              margin-top: 0;
            }
          }
          &.item-slot{
            margin-top: rem(180);
            &.animated{
              margin-top: rem(80);
            }
          }
        }
      }
    }
    .thumb-slot{
      width: rem(660);
      .img-box{
        img{
          display: block;
          width: 100%;
          border-radius: rem(50);
        }
      }
      .text-box{
        position: relative;
        margin-top: rem(40);
        padding: 0 0 0 rem(20);
        p{
          line-height: rem(40);
          font-size: rem(32);
          font-weight: 500;
          letter-spacing: rem(-0.05*32);
          color: #333333;
          b{
            font-weight: 700;
          }
          .en{
            @include font-manrope(400);
          }
        }
        .btn-link{
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          padding-left: rem(40);
          width: rem(252);
          height: rem(60);
          line-height: rem(60);
          font-size: rem(18);
          font-weight: 700;
          color: #ffffff;
          border-radius: rem(12);
          background: #31291c;
          .icon{
            display: block;
            position: absolute;
            right: rem(40);
            top: 50%;
            margin-top: rem(-7);
          }
        }
      }
    }
    .item-slot{
      // flex: 0 0 rem(660);
      position: relative;
      margin-top: rem(80);
      margin-bottom: rem(30);
      padding: rem(100) rem(80) 0 rem(80);
      width: rem(660);
      border-radius: rem(50);
      background: $bg-data;
      .tag-list{
        position: absolute;
        right: rem(60);
        top: rem(80);
        .tag{
          @include font-manrope(700);
          width: rem(80);
          height: rem(80);
          line-height: rem(80);
          text-align: center;
          font-size: rem(24);
          letter-spacing: rem(-0.025*24);
          color: #fff;
          border-radius: 50%;
          background: $primary;
          margin-bottom: rem(5);
        }
      }
      .text-box{
        // height: rem(260);
        .title{
          margin-bottom: rem(30);
          line-height: 1;
          font-size: rem(42);
          font-weight: 500;
          color: #333333;
          letter-spacing: rem(-0.05*42);
          .en{
            @include font-manrope(500);
          }
          b{
            display: inline-block;
            font-size: rem(50);
            line-height: 1;
            font-weight: 700;
            &.en{
              font-size: rem(56);
              font-weight: 700;
            }
          }
        }
        .desc{
          line-height: 1;
          font-size: rem(22);
          color: $fc-dark-gray;
          letter-spacing: rem(-0.05*22);
        }
      }
      .pd-name{
        @include ellipsen(2);
        line-height: 1;
        font-size: rem(32);
        letter-spacing: rem(-0.05*32);
        font-weight: 700;
        color: #333333;
        margin-top: rem(120);
      }
      .price-wrap{
        display: flex;
        align-items: center;
        margin-top: rem(25);
        .price{
          line-height: 1;
          font-size: rem(32);
          color: #333333;
          font-weight: 700;
          b{
            display: inline-block;
            @include font-manrope(700);
            font-size: rem(52);
            letter-spacing: rem(-0.05*52);
          }
        }
        .before-sale{
          position: relative;
          padding-top: rem(14);
          line-height: 1;
          margin-left: rem(20);
          font-size: rem(22);
          color: $fc-light-gray;
          b{
            @include font-manrope(400);
            font-size: rem(36);
            letter-spacing: rem(-0.05*36);
          }
          &:after{
            content: '';
            display: inline-block;
            position: absolute;
            left: -5%;
            bottom: 36%;
            width: 110%;
            border-bottom: rem(2) solid $fc-light-gray;
          }
        }
        .sale{
          @include font-manrope(700);
          padding-top: rem(7);
          line-height: 1;
          margin-left: rem(40);
          font-size: rem(20);
          color: $red;
          b{
            display: inline-block;
            font-size: rem(42);
            letter-spacing: rem(-0.05*42);
          }
        }
      }
      .quick-btns{
        display: flex;
        margin-top: rem(35);
        .btn-wish,
        .btn-cart{
          position: relative;
          margin-right: rem(10);
          width: rem(60);
          height: rem(60);
          border-radius: 50%;
          background: #bbbbbb;
        }
      }
    }
    .na-animate{
      opacity: 0;
      @include transition(.5s);
      &.item-slot{
        transition-delay: 0.5s;
      }
      &.thumb-slot{

      }
      &.animated{
        opacity: 1;
      }
    }
  }
  
  .brand-bottom-wrap{
    margin-top: rem(180);
    .title-box{
      margin-bottom: rem(50);
    }
    .brand-bnr-wrap{
      padding: 0;
      .swiper-slide{
        .img-slot{
          img{
            display: block;
          }
          border-radius: rem(30);
          background: #f7f8fc;
        }
      }
      .slider-arrow-box{
        top: rem(-80);
      }
    }
  }
  
  .nr-tv-wrap{
    
    margin: rem(100) 0;
    .title{
      @include font-manrope(800);
      margin-bottom: rem(40);
      line-height: 1;
      text-align: center;
      font-size: rem(46);
      color: #333333;
    }
    .tv-wrap{
      position: relative;
      background: #f8f3f0;
      &:before{
				content: '';
				display: block;
				position: absolute;
				background-color: #ffffff;
				left: 0;
				right: 0;
				top: 0;
				height: rem(360);
			}
      height: rem(684);
      &.wide-video{
        height: rem(534);
        &:before{
          content: '';
          display: block;
          position: absolute;
          background-color: #ffffff;
          left: 0;
          right: 0;
          top: 0;
          height: rem(260);
        }
        .tv-box{
          width: rem(768);
          height: rem(432);
        }
        .info-wrap{
          padding-left: rem(845);
          padding-top: rem(30);
          height: rem(432);
          .product-line{
            bottom: 0;
          }
        }
      }
      .container{
        position: relative;
      }
      
      .tv-box{
        position: absolute;
        left: 0;
        height: rem(600);
        width: rem(600);
        border-radius: rem(50);
        overflow: hidden;
        box-shadow: rem(6) rem(13) rem(24) rem(0) rgba(0, 0, 0, 0.25);
        
        video{
          width: 100%;
          background-color: #333333;
        }
        .play-btn{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          &.playing{
            display: none;
          }
        }
        
      }
      .info-wrap{
        display: inline-block;
        width: 100%;
        padding-left: rem(700);
        padding-top: rem(80);
        height: rem(600);
        .product-info{
          .sub-title{
            font-size: rem(42);
            letter-spacing: rem(-0.05*42);
            color: $fc-gray;
            line-height: 1;
          }
          .name{
            margin-top: rem(30);
            font-size: rem(56);
            font-weight: 700;
            letter-spacing: rem(-0.05*56);
            color: #31291c;
            line-height: 1.1;
          }
        }
        .product-line{
          position: absolute;
          bottom: rem(52);
          p{
            line-height: 1;
            font-size: rem(26);
            em{
              font-weight: 700;
            }
          }
          .btn{
            margin-top: rem(30);
          }
        }
        
      }
    }
    
  }
  
  .category-result-wrap{
    margin-top: rem(100);
    .list-filter-wrap{
      border-bottom: 1px solid #e7e7e7;
    }
    .filter-top{
      .list-total{
        padding-bottom: rem(30);
        font-size: rem(36);
        letter-spacing: rem(-0.05*36);
        color: #000000;
        .total{
          @include font-manrope(700);
          font-size: rem(40);
          color: #000000;
        }
      }
    }
  }
}
