$notibar-height: 60;
body{
  &.notibar{
    padding-top: rem($notibar-height);
    .header-notibar{
      top: 0;
    }
    header{
      &.active{
        top: rem($notibar-height);
      }
    }
    .tab-scroll.active{
      &.sticky{
        .tab{
          top: rem($notibar-height);
        }
      }
      .tab{
        top: rem(131 + $notibar-height);
      }
    }
  }
}
.header-notibar{
  position: fixed;
  top:rem(-60);
  left: 0;
  right: 0;
  height: rem($notibar-height);
  z-index: 99;
  transition: 0.3s;
  .container{
    position: relative;
    height: 100%;
    text-align: center;
    .btn-link{
      display: block;
      height: rem(60);
    }
    .btn-close{
      position: absolute;
      right: 0;
      top: rem(20);
      font-size: rem(16);
      letter-spacing: rem(-0.05*16);
      .icon{
        margin-left: rem(5);
      }
    }
  }
}