.order-step-list{
  border-top: 1px solid #e7e7e7;
  text-align: center;
  overflow: hidden;
  &.noborder{
    margin-top: rem(-20);
    border-top: 0;
  }
  > ul{
    display: flex;
    width: calc(100% + 50px);
    padding: rem(40) 0 rem(50) 0;
  }
  .step-list{
    flex: 1;
    position: relative;
    &:before{
      display: block;
      content: "";
      position: absolute;
      right: rem(20);
      top: 50%;
      margin-top: rem(-13);
      width: rem(14);
      height: rem(26);
      background: url('../img/icons/icon_arrow_order_step.png') no-repeat center center;
    }
    &:last-child:before{
      display: none;
    }
    &.active{
      .step-box{
        background: #31291c;
        .step-text{
          font-weight: 700;
          color: #fff;
        }
      }
    }
    &.apply .step-box:before{
      background: url('../img/icons/icon_order_step_apply.png') no-repeat center center;
    }
    &.payment .step-box:before{
      background: url('../img/icons/icon_order_step_payment.png') no-repeat center center;
    }
    &.prepare .step-box:before{
      background: url('../img/icons/icon_order_step_prepare.png') no-repeat center center;
    }
    &.delivery .step-box:before{
      background: url('../img/icons/icon_order_step_delivery.png') no-repeat center center;
    }
    &.complete .step-box:before{
      background: url('../img/icons/icon_order_step_complete.png') no-repeat center center;
    }
    &.confirm .step-box:before{
      background: url('../img/icons/icon_order_step_confirm.png') no-repeat center center;
    }
    &.apply.active .step-box:before{
      background: url('../img/icons/icon_order_step_apply_on.png') no-repeat center center;
    }
    &.payment.active .step-box:before{
      background: url('../img/icons/icon_order_step_payment_on.png') no-repeat center center;
    }
    &.prepare.active .step-box:before{
      background: url('../img/icons/icon_order_step_prepare_on.png') no-repeat center center;
    }
    &.delivery.active .step-box:before{
      background: url('../img/icons/icon_order_step_delivery_on.png') no-repeat center center;
    }
    &.complete.active .step-box:before{
      background: url('../img/icons/icon_order_step_complete_on.png') no-repeat center center;
    }
    &.confirm.active .step-box:before{
      background: url('../img/icons/icon_order_step_confirm_on.png') no-repeat center center;
    }
  }
  .step-box{
    position: relative;
    padding-top: rem(88);
    width: rem(130);
    height: rem(130);
    border-radius: 50%;
    background: #f8f8f8;
    &:before{
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: rem(110);
    }
    .step-text{
      line-height: 1;
      font-size: rem(16);
      letter-spacing: rem(-0.05*16);
      font-weight: 500;
      color: #333;
    }
    .step-badge{
      position: absolute;
      right: 0;
      top: 0;
      width: rem(40);
      height: rem(40);
      line-height: rem(40);
      text-align: center;
      font-size: rem(18);
      font-weight: 500;
      color: #fff;
      border-radius: 50%;
      background: $primary;
    }
  }
}

.order-recent-list{
  .list-box{
    margin-top: rem(20);
    padding: 0 rem(40);
    border: 1px solid #e7e7e7;
    border-radius: rem(20);
  }
  .list-box:first-child{
    margin-top: 0
  }
  .order-top{
    border-bottom: 1px solid #e7e7e7;
    .btn-link{
      display: block;
      position: relative;
      line-height: rem(66);
      font-size: rem(16);
      font-weight: 500;
      color: #333;
      @include font-manrope(500);
      .label{
        position: relative;
        margin-left: rem(25);
        padding-right: rem(25);
        font-family: 'Noto Sans KR';
        font-size: rem(16);
        font-weight: 500;
        &:after{
          display: block;
          content: "";
          position: absolute;
          right: rem(12);
          top: 50%;
          margin-top: rem(-6);
          width: 1px;
          height: rem(13);
          background: #e7e7e7;
        }
        &:first-child{
          margin-left: 0;
        }
      }
      .icon{
        display: block;
        position: absolute;
        right: rem(20);
        top: 50%;
        margin-top: rem(-6);
      }
    }
  }
  &.noborder{
    .list-box{
      padding: 0 rem(90) 0 0;
      border: 0;
      border-bottom: 1px solid #e7e7e7;
      border-radius: 0;
    }
    .order-top{
      border-bottom: 0;
      .btn-link{
        line-height: rem(30);
      }
    }
    .order-item-box{
      height: rem(120);
    }
  }
}

.order-item-box{
  display: flex;
  justify-content: space-between;
  min-height: rem(140);
  padding-top: rem(30);
  padding-bottom: rem(30);
  .order-check{
    display:flex;
    align-items: center;
    width: rem(35);
  }
  .order-info{
    display:flex;
    align-items: center;
    flex: 1;
    padding-left: rem(14);
    .item-box{
      display: flex;
      align-items: center;
      .img-slot{
        &.md{
          width: rem(90);
          border-radius: rem(20);
        }
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: rem(90);
        height: rem(90);
        border-radius: rem(20);
        overflow: hidden;
        img{
          display: inline-block;
          width: 100%;
        }
        &.disabled{
          position: relative;
          &:after{
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.05);
            z-index: 10;
          }
          img{
            opacity: 0.5;
          }
        }
      }
      .info-slot{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: rem(20);
        flex: 1 1 rem(800);
        .product-name{
          margin-bottom: rem(15);
          font-size: rem(18);
          line-height: 1.2;
          font-weight: 700;
          letter-spacing: rem($letter-spacing-default);
          color: #333;
          @include ellipsen(2);
        }
        .product-desc{
          margin-bottom: rem(20);
          font-size: rem(16);
          line-height: 1.2;
          letter-spacing: rem($letter-spacing-default);
          color: #818286;
          @include ellipsen(1);
        }
        .product-opt{
          font-size: rem(16);
          color: #818286;
          b{
            margin-right: rem(5);
            font-weight: 700;
            color: #58595b; 
          }
          .btn-change{
            margin-left: rem(12);
            color: #333333;
            font-weight: 700;
            .icon{
              margin-left: rem(5);
            }
            &:before{
              content:"\A";
              white-space:pre;
              line-height: 30px;
            }
          }
        }
        .opt-box{
          line-height: 1;
          > p{
            display: inline-block;
            position: relative;
            margin-left: rem(25);
            vertical-align: middle;
            line-height: 1;
            &:after{
              display: block;
              content: "";
              position: absolute;
              left: rem(-12);
              top: 50%;
              margin-top: rem(-6);
              width: 1px;
              height: rem(13);
              background: #e7e7e7;
            }
          }
          > p:first-child{
            margin-left: 0;
            &:after{
              display: none;
            }
          }
        }
        .product-price{
          display: inline-block;
          position: relative;
          vertical-align: middle;
          line-height: rem(30);
          font-size: rem(14);
          font-weight: 700;
          color: #333;
          .price{
            @include font-manrope(700);
            letter-spacing: rem($letter-spacing-price);
            font-size: rem(18);
          }
        }
        .product-old-price{
          display: inline-block;
          position: relative;
          vertical-align: middle;
          line-height: rem(30);
          font-size: rem(13);
          font-weight: 700;
          color: #bcbdc1;
          text-decoration: line-through;
          .price{
            font-size: rem(16);
            @include font-manrope(500);
            letter-spacing: rem($letter-spacing-price);
          }
        }
        .product-payment, .product-count{
          display: inline-block;
          vertical-align: middle;
          line-height: rem(30);
          font-size: rem(14);
          font-weight: 700;
          color: #333;
        }
        .product-introduce{
          margin-bottom: rem(18);
          font-size: rem(16);
          line-height: 1;
          letter-spacing: rem($letter-spacing-default);
          color: $fc-primary;
        }
      }
    }
  }
  .order-point{
    display:flex;
    align-items: center;
    justify-content: center;
    width: rem(340);
    text-align: center;
    .point-text{
      line-height: 1;
      font-size: rem(18);
      color: #333;
      .point{
        display: block;
        margin-top: rem(8);
        color: #6b8138;
        @include font-manrope(700);
      }
    }
  }
  .order-status{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: rem(240);
    text-align: center;
    // padding-right: rem(40);
    .status-text{
      line-height: 1;
      font-size: rem(18);
      color: #333;
    }
    .status-date{
      margin-top: rem(12);
      line-height: 1;
      font-size: rem(14);
      color: #818286;
    }
  }
  .order-count{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(30);
    width: rem(180);
    text-align: center;
    .opt-count{
      position: relative;
      padding: 0 rem(39);
      height: rem(38);
      &.disabled{
        .btn-count{
          cursor: not-allowed;
        }
        .count{
          cursor: not-allowed;
          color: #bcbdc1;
        }
      }
      .btn-count{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: rem(40);
        height: rem(36);
        border: 1px solid #ddd;
        border-radius: rem(6) 0 0 rem(6);
        &.count-up{
          left: auto;
          right: 0;
          border-radius: 0 rem(6) rem(6) 0;
        }
      }
      .count{
        width: rem(42);
        height: rem(36);
        line-height: rem(34);
        text-align: center;
        font-size: rem(18);
        font-weight: 700;
        color: #58595b;
        border: 1px solid #ddd;
      }
    }
    .count-text{
      @include font-manrope(700);
      font-size: rem(18);
    }
  }
  .order-price{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: rem(40);
    width: rem(340);
    text-align: center;
    &.old-price{
      justify-content: flex-end;
      text-align: right;
      .price-text .price{
        font-size: rem(22);
        letter-spacing: rem($letter-spacing-price);
      }
    }
    .price-text{
      line-height: 1;
      font-size: rem(18);
      color: #333;
      word-break: keep-all;
      .price{
        @include font-manrope(700);
        letter-spacing: rem($letter-spacing-price);
      }
    }
    .old-price-text{
      margin-top: rem(8);
      line-height: 1;
      font-size: rem(13);
      color: #bcbdc1;
      text-decoration: line-through;
      .price{
        font-size: rem(16);
        @include font-manrope(500);
        letter-spacing: rem($letter-spacing-price);
      }
    }
  }
  .order-btn{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: rem(100);
    white-space: nowrap;
    .btn-box{
      width: 100%;
    }
    .btn{
      display: flex;
      padding: 0;
      margin-top: rem(10);
      width: 100%;
      text-align: center;
      &:first-child{
        margin-top: 0;
      }
    }
    .btn-delete{
      display: block;
      position: absolute;
      right: 0;
      top: rem(-27);
      padding: rem(6);
      width: rem(25);
      height: rem(25);
      .icon{
        display: block;
      }
    }
    .soldout{
      color: #bcbdc1;
      background: #f8f8f8;
    }
    .point-text{
      margin-top: rem(10);
      font-size: rem(14);
      color: #818286;
    }
  }
  .tooltip-drop-down{
    cursor: pointer;
    position: relative;
    padding-right: rem(20)!important;
    &:before{
      display: block;
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: rem(-6);
      width: rem(12);
      height: rem(12);
      background: url('../img/icons/icon_arrow_more.png') no-repeat center center;
    }
    &.active{
      &:before{
        transform: rotate(180deg);
      }
      .tooltip-box{
        opacity: 1;
        visibility: visible;
      }
    }
    .tooltip-box{
      @include animationitem;
      display: block;
      position: absolute;
      left: 0;
      top: 100%;
      margin-top: rem(10);
      padding: rem(10) rem(20);
      // min-height: rem(40);
      line-height: 1;
      border: 1px solid #333333;
      border-radius: rem(6);
      background: #fff;
      white-space: nowrap;
      &.alignr{
        left: auto;
        right: 0;
      }

      > span{
        display: inline-block;
        position: relative;
        padding-left: rem(32);
        line-height: 1;
        font-size: rem(14);
        font-weight: 500;
        color: #818286;
        &.emphas-label{
          color: #333;
        }
        .price{
          @include font-manrope(700);
          letter-spacing: rem($letter-spacing-price);
        }
        &:first-child{
          padding-left: 0;
          color: #333333;
          &:before{
            display: none;
          }
        }
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: rem(16);
          top: 50%;
          margin-top: rem(-6);
          width: 1px;
          height: rem(13);
          background: #e7e7e7;
        }
      }
    }
  }
}

.tooltip-msg{
  position: absolute;
  left: 50%;
  top: 100%;
  transform:translateX(-50%);
  padding: 0 rem(15);
  margin-top: rem(10);
  height: rem(38);
  line-height: rem(36);
  font-size: rem(15);
  color: #000;
  font-weight: 500;
  border: 1px solid #333;
  border-radius: rem(6);
  white-space: nowrap;
  &:before, &:after{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: -5px;
    margin-left: rem(-3);
    width: rem(8);
    height: rem(8);
    transform: rotate(45deg);
    background: #333;
  }
  &:after{
    top: -4px;
    margin-left: rem(-3);
    background: #fff;
  }
}

.order-detail-top{
  position: relative;
  padding: rem(25) rem(30);
  margin-bottom: rem(50);
  height: rem(80);
  border-radius: rem(12);
  background-color: $bg-data;
  .order-info{
    line-height: rem(30);
    font-size: rem(18);
    color: #58595b;
    @include font-manrope(700);
    .label{
      position: relative;
      margin-left: rem(60);
      padding-right: rem(25);
      font-family: 'Noto Sans KR';
      &:first-child{
        margin-left: 0;
      }
      &:after{
        display: block;
        content: "";
        position: absolute;
        right: rem(12);
        top: 50%;
        margin-top: rem(-8);
        width: 1px;
        height: rem(17);
        background: #e7e7e7;
      }
    }
  }
  .btn-print{
    position: absolute;
    right: rem(20);
    top: rem(25);
    padding:0 rem(10);
    font-size: rem(16);
    letter-spacing: rem(-0.05*16);
    font-weight: 700;
    color: #58595b;
    .icon{
      margin: rem(-3) rem(6) 0 0;
      vertical-align: middle;
    }
  }
  + p.caution-text{
    margin: rem(-38) 0 rem(40) 0;
  }
}

.order-detail-list{
  .detail-list-wrap{
    margin-top: rem(80);
    &:first-child{
      margin-top: 0;
    }
  }
  .item-list-more{
    margin-top: rem(60);
  }
  .detail-header, .detail-footer{
    position: relative;
    padding: rem(20) 0;
    // min-height: rem(60);
    border-bottom: 1px solid #333;
    .order-title{
      line-height: 1;
      font-size: rem(22);
      font-weight: 700;
      color: #333;
      letter-spacing: rem(-0.05*22);
    }
    .order-info{
      display: block;
      position: relative;
      line-height: rem(37);
      font-size: rem(16);
      font-weight: 500;
      color: #333;
      .label{
        position: relative;
        margin-left: rem(25);
        padding-right: rem(25);
        &:after{
          display: block;
          content: "";
          position: absolute;
          right: rem(12);
          top: 50%;
          margin-top: rem(-6);
          width: 1px;
          height: rem(13);
          background: #e7e7e7;
        }
        &:first-child{
          margin-left: 0;
        }
      }
      .icon{
        display: block;
        position: absolute;
        right: rem(20);
        top: 50%;
        margin-top: rem(-6);
      }
    }
    .btn{
      position: absolute;
      padding: 0;
      right: rem(30);
      bottom: rem(20);
      width: auto;
      min-width: rem(100);
      text-align: center;
    }
    .price-total{
      position: absolute;
      right: 0;
      bottom: rem(10);
      line-height: rem(37);
      font-size: rem(18);
      color: #333;
      .price{
        @include font-manrope(700);
        margin-left: rem(15);
        font-size: rem(22);
        letter-spacing: rem($letter-spacing-price);
      }
      .tooltip-msg{
        top: 70%;
        background-color: #ffffff;
      }
    }
    .check-wrap{
      display: inline-block;
      vertical-align: middle;
      label{
        color: $fc-gray;
        span{
          font-weight: 400;
        }
        .checkbox{
          margin-left: 0;
        }
      }
    }
  }
  .detail-footer{
    .btn{
      top: rem(20);
    }
  }
  .detail-footer{
    border-bottom: 0;
    p{
      letter-spacing: rem(-0.05*16);
      color: $fc-dark-gray;
    }
  }
  .detail-list .order-item-box{
    border-bottom: 1px solid #e7e7e7;
    .item-box .img-slot{
      width: rem(90);
      border-radius: rem(15);
    }
    .check-wrap{
      label .checkbox{
        margin-left: 0;
      }
    }
    .order-info{
      padding-left: rem(40);
    }
    .order-point{
      width: rem(160);
    }
    .order-status{
      width: rem(160);
    }
    .order-price{
      width: rem(160);
    }
    .order-btn{
      padding:0 rem(40) 0 rem(30);
      width: rem(160);
    }
  }
}
.popup-window{
  .order-detail-list{
    .detail-list{
      .order-item-box{
        .order-info{
          padding-left: rem(30);
        }
      }
    }
  }
  .order-detail-table{
    th, td{
      padding-left: rem(30);
      padding-right: 0;
    }
  }
}

.order-detail-list .detail-table-box{
  padding: rem(25) 0;
  &.bordered{
    border-bottom: 1px solid #e7e7e7;
  }
  &.total{
    padding-bottom: 0;
  }
}
.order-detail-table{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  th, td{
    padding: rem(10) rem(10) rem(10) rem(40);
    text-align: left;
  }
  p{
    font-size: rem(16);
    color: #333;
    letter-spacing: rem(-0.05*16);
  }
  th p{
    font-weight: 700;
  }
  td.price{
    padding-right: rem(40);
    text-align: right;
    @include font-manrope(700);
  }
  td.order-name{
    .name{
      display: inline-block;
    }
    .btn-name-change{
      margin-left: rem(15);
      padding: 0 rem(10);
      min-width: rem(80);
      height: rem(37);
      text-align: center;
    }
  }
}
.order-detail-total{
  margin-top: rem(40);
  padding: rem(15) rem(40);
  height: rem(70);
  border-radius: rem(12);
  background: #f8f8f8;
  .label{
    float: left;
    line-height: rem(40);
    font-size: rem(18);
    color: #333;
    font-weight: 700;
  }
  .price{
    float: right;
    line-height: rem(40);
    font-size: rem(18);
    font-weight: 500;
    color: $primary-darken;
    letter-spacing: rem(-0.05*18);
    b{
      @include font-manrope(700);
      font-size: rem(28);
    }
  }
}

.order-gift-list{
  .detail-header{
    .order-gift-info{
      position: absolute;
      right: rem(25);
      top: rem(20);
      // height: rem(30);
      p{
        position: relative;
        padding-left: rem(30);
        float: left;
        line-height: 1;
        font-size: rem(16);
        color: #818286;
        .label{
          margin-right: rem(8);
        }
        b{
          @include font-manrope(700);
          letter-spacing: rem($letter-spacing-price);
          font-size: rem(18);
          color: $fc-default;
          &.fc-priamry{
            color: $fc-primary-darken;
          }
        }
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: rem(14);
          top: 50%;
          margin-top: rem(-7);
          width: 1px;
          height: rem(16);
          background: #e7e7e7;
        }
        &:first-child:before{
          display: none;
        }
      }
    }
  }
  .gift-list{
    display: flex;
    flex-flow: row wrap;
    .list-box{
      position: relative;
      padding-top: rem(30);
      width: calc(100% / 7);
      height: rem(285);
      text-align: center;
      .badge{
        position: absolute;
        right: rem(20);
        top: rem(20);
        width: rem(32);
        height: rem(32);
        line-height: rem(30);
        text-align: center;
        font-size: rem(16);
        font-weight: 700;
        color: #fff;
        border-radius: 50%;
        background-color: $btn-outline-black;
        z-index: 10;
      }
      .item-box{
        &:hover{
          opacity: 1;
        }
        &.selected{
          .img-slot{
            border-color: $btn-outline-black;
          }
          .count-slot{
            opacity: 1;
          }
          .info-slot{
            .product-price{
              color: $fc-default;
            }
          }
        }
        &.soldout{
          .img-slot{
            position: relative;
            &:after{
              display: block;
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: rgba(0,0,0,0.05);
            }
            img{
              opacity: 0.2;
            }
          }
          .info-slot .product-price{
            color: #d47475;
          }
        }
      }
      .img-slot{
        position: relative;
        margin: 0 auto;
        margin-bottom: rem(10);
        width: rem(90);
        border: 1px solid transparent;
        border-radius: rem(20);
        overflow: hidden;
        box-sizing: content-box;
        img{
          display: block;
          width: 100%;
        }
      }
      .info-slot{
        p{
          @include ellipse;
          line-height: rem(20);
          font-size: rem(14);
          color: #333333;
        }
        .product-favorite{
          color: $primary;
          margin-bottom: rem(15);
          font-weight: 500;
        }
        .product-name{
          font-weight: 500;
          @include ellipsen(2);
          white-space: normal;
          height: rem(20*2);
        }
        .product-price{
          margin-top: rem(5);
          color: $fc-light-gray;
          font-weight: 500;
          .price{
            @include font-manrope(700);
            font-size: rem(18);
            letter-spacing: rem($letter-spacing-price);
          }
        }
      }
      .count-slot{
        position: relative;
        margin: 0 auto;
        margin-top: rem(15);
        width: rem(79);
        height: rem(32);
        opacity: 0.15;
        .btn-count{
          display: block;
          position: relative;
          width: rem(40);
          height: rem(32);
          border: 1px solid #333;
          border-radius: rem(5) 0 0 rem(5);
        }
        .btn-count.count-up{
          position: absolute;
          right: 0;
          top: 0;
          border-radius: 0 rem(5) rem(5) 0;
        }
      }
    }
    &.bordered{
      .list-box{
        .img-slot{
          border-color: $img-slot-bc;
        }
      }
    }
  }
}

//주문 취소 환불 요청
.order-cancel-list{
  .check-list-wrap{
    .detail-header{
      height: auto;
      .order-title{
        line-height: 1;
        margin-bottom: rem(20);
      }
    }
  }
  .detail-list{
    .order-item-box{
      .order-count{
        width: rem(240);
      }
      .order-status{
        width: rem(180);
      }
      .order-price{
        width: rem(180);
      }
    }
  }
}

//배송 주소록
.order-address-list{
  .list-box{
    position: relative;
    padding: rem(30) rem(40);
    margin-top: rem(20);
    border: 1px solid #e7e7e7;
    border-radius: rem(20);
    &:first-child{
      margin-top: 0;
    }
    &.default{
      border-color: $bc-tab-active;
    }
    .check-wrap{
      display: inline-block;
      margin-bottom: rem(15);
      label{
        justify-content: flex-start;
        .checkbox{
          margin: 0;
        }
      }
      
    }
    
    .info{
      line-height: rem(24);
      font-size: rem(18);
      letter-spacing: rem(-0.05*18);
      color: $fc-dark-gray;
      em{
        color: #333333;
        font-weight: 700;
      }
      .line{
        display: inline-block;
        margin: rem(-3) rem(14) 0 rem(16);
        width: 1px;
        height: rem(16);
        vertical-align: middle;
        background: #ddd;
      }
      .phone{
        @include font-manrope(400);
      }
    }
    
    .address{
      margin-top: rem(13);
      line-height: rem(24);
      font-size: rem(16);
      color: #818286;
      letter-spacing: rem(-0.05*16);
    }
    .btn-box {
      display: flex;
      justify-content: flex-end;
      // gap: 0 rem(10);
      position: relative;
      margin-top: rem(25);
      right: auto;
      top: auto;
      transform: none;
      width: auto;
      .btn{
        margin-left: rem(10);
      }
    }
    .default {
      position: absolute;
      bottom: rem(30);
      left: rem(40);
      padding: 0;
      margin-bottom: 0;
      width: rem(156);
      font-size: rem(14);
      min-width: auto;
    }
  }
}

.order-address-wrap{
  .btn-address-add{
    width: rem(180);
    text-align: center;
    font-size: rem(22);
    font-weight: 700;
  }
  .list-empty-box{
    &.bordered{
      border-top-color: #333;
    }
  }
}

.order-return-step{
  margin-top: rem(70);
  .step-title{
    height: rem(50);
    line-height: rem(36);
    font-size: rem(22);
    color: #333333;
    font-weight: 700;
  }
  .return-step-list{
    display: flex;
    padding: rem(40) 0 rem(40) rem(45);
    height: rem(200);
    border-top: 1px solid #333;
    border-bottom: 1px solid #e7e7e7;
    .step-list{
      position: relative;
      flex: 1;
      width: rem(350);
      height: rem(140);
      &:before{
        display: block;
        content: "";
        position: absolute;
        right: rem(35);
        top: 50%;
        margin-top: rem(-13);
        width: rem(14);
        height: rem(26);
        background: url('../img/icons/icon_arrow_order_step.png') no-repeat center center;
      }
      &:last-child:before{
        display: none;
      }
    }
    .step-box{
      display: flex;
      align-items: center;
      .icon-box{
        position: relative;
        padding-top: rem(94);
        width: rem(130);
        height: rem(130);
        line-height: 1;
        text-align: center;
        font-size: rem(16);
        color: #333333;
        font-weight: 500;
        border-radius: 50%;
        background: #f8f8f8;
        letter-spacing: rem(-0.05*16);
        &:before{
          display: block;
          content: "1";
          position: absolute;
          left: rem(12);
          top: rem(12);
          font-size: rem(22);
          color: #333;
          font-weight: 700;
        }
      }
      .text-box{
        padding-left: rem(20);
        line-height: rem(22);
        font-size: rem(14);
        color: #333333;
        letter-spacing: rem(-0.05*14);
      }
    }
    .step-list:nth-child(1) .icon-box{
      &:before{
        content: "1";
      }
      background: $bg-data url('../img/icons/icon_return_step_01.png') no-repeat center 38%;
    }
    .step-list:nth-child(2) .icon-box{
      &:before{
        content: "2";
      }
      background: $bg-data url('../img/icons/icon_return_step_02.png') no-repeat center 38%;
    }
    .step-list:nth-child(3) .icon-box{
      &:before{
        content: "3";
      }
      background: $bg-data url('../img/icons/icon_return_step_03.png') no-repeat center 38%;
    }
  }
  .cancel-step-list{
    .step-list:nth-child(1) .icon-box{
      background: #f8f8f8 url('../img/icons/icon_cancel_step_01.png') no-repeat center 38%;
    }
    .step-list:nth-child(2) .icon-box{
      background: #f8f8f8 url('../img/icons/icon_cancel_step_02.png') no-repeat center 38%;
    }
    .step-list:nth-child(3) .icon-box{
      background: #f8f8f8 url('../img/icons/icon_cancel_step_03.png') no-repeat center 38%;
    }
  }
}

// 결제진행중
.order-processing{
  text-align: center;
  h2{
    margin-bottom: rem(60);
    font-size: rem(46);
  }
  .icon-box{
    text-align: center;
    margin-bottom: rem(60);
  }
  .sub-text{
    font-size: rem(18);
    font-weight: 500;
    color: $fc-default;
    letter-spacing: rem(-0.05*18);
  }
  .progressbar{
    width: rem(404);
    margin-top: rem(40);
    margin-left: auto;
    margin-right: auto;
    .graph-bar{
      width: 100%;
      height: rem(6);
    }
    &.loop{
      @keyframes loading-loop {
        from {
          transform: translate(-100%);
        }
      
        to {
          transform: translate(400%);
        }
      }
      .graph-bar{
        overflow: hidden;
        background-color: $btn-outline-lightgray;
        .bar{
          height: rem(6);
          animation-duration: 3s;
          animation-name: loading-loop;
          animation-iteration-count: infinite;
          background-color: #333333;
        }
      }
    }
  }
  .btn-wrap{
    margin-top: rem(60);
    .btn{
      &.btn-lg{
        width: rem(200);
      }
    }
    .btn+.btn{
      margin-left: rem(10);
    }
  }
  .notice{
    color: $fc-gray;
    margin-top: rem(40);
    font-size: rem(16);
    letter-spacing: rem(-0.05*16);
    .underline{
      display: inline-block;
      border-bottom: 1px solid $fc-default;
      color: $fc-default;
      font-weight: 500;
    }
  }
}


// 주문완료
.order-complete{
  .gray-box{
    padding-top: rem(60);
    padding-bottom: rem(60);
    text-align: center;
    background-color: $bg-data;
    border-radius: rem(20);
    .phrase{
      font-size: rem(36);
      letter-spacing: rem(-0.05*36);
      font-weight: 700;
      line-height: 1;
    }
    .sub-description{
      margin-top: rem(30);
      font-size: rem(22);
      letter-spacing: rem(-0.05*22);
      font-weight: 500;
      line-height: 1;
      .emphas{
        color: $fc-primary-darken;
      }
    }
  }
  .order-detail-list{
    margin-top: rem(60);
    .detail-list-wrap{
      margin-top: rem(70);
      &:first-child{
        margin-top: 0;
      }
    }
    .detail-header, .detail-footer{
      position: relative;
      padding: rem(15) 0;
      min-height: rem(60);
      border-bottom: 1px solid #333;
      .order-title{
        line-height: rem(37);
        font-size: rem(22);
        letter-spacing: rem(-0.05*22);
        font-weight: 700;
        color: #333;
      }
      .order-info{
        display: block;
        position: relative;
        line-height: rem(37);
        font-size: rem(16);
        font-weight: 500;
        color: #333;
        .label{
          position: relative;
          margin-left: rem(25);
          padding-right: rem(25);
          &:after{
            display: block;
            content: "";
            position: absolute;
            right: rem(12);
            top: 50%;
            margin-top: rem(-6);
            width: 1px;
            height: rem(13);
            background: #e7e7e7;
          }
          &:first-child{
            margin-left: 0;
          }
        }
        .icon{
          display: block;
          position: absolute;
          right: rem(20);
          top: 50%;
          margin-top: rem(-6);
        }
      }
      .btn{
        position: absolute;
        padding: 0;
        right: rem(30);
        top: rem(12);
        width: auto;
        min-width: rem(100);
        text-align: center;
      }
      .price-total{
        position: absolute;
        right: 0;
        bottom: rem(5);
        line-height: rem(37);
        font-size: rem(18);
        color: #333;
        .price{
          margin-left: rem(15);
          font-size: rem(22);
          font-weight: 700;
        }
        
      }
      .check-wrap{
        display: inline-block;
        vertical-align: middle;
      }
    }
    .detail-footer{
      border-bottom: 0;
    }
    .detail-list .order-item-box{
      border-bottom: 1px solid #e7e7e7;
      .item-box .img-slot{
        width: rem(90);
        border-radius: rem(15);
      }
      .order-info{
        padding-left: rem(40);
      }
      .order-point{
        width: rem(160);
      }
      .order-status{
        width: rem(160);
      }
      .order-price{
        width: rem(160);
      }
      .order-btn{
        padding:0 rem(30);
        width: rem(160);
      }
    }
  }
  .order-detail-list .detail-list .order-item-box{
    height: auto;
    .order-price{
      width: rem(140);
    }
    .order-btn{
      padding:0 rem(50) 0 rem(60);
      width: rem(230);
    }
  }
  .form-content{
    .form-list{
      .value{
        height: rem(50);
        font-size: rem(16);
      }
      &.no-border-bottom{
        border-bottom: 0;
      }
    }
    .total-price{
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: rem(25) rem(60) rem(25) rem(30);
      margin-top: rem(20);
      background-color: $bg-gray;
      border-radius: rem(15);
      .label{
        font-size: rem(18);
        letter-spacing: rem(-0.05*18);
        font-weight: 700;
        line-height: 1;
        vertical-align: middle;
      }
      .value{
        line-height: 1;
        vertical-align: middle;
        font-size: rem(18);
        font-weight: 500;
        color: $primary-darken;
        b{
          @include font-manrope(700);
          font-size: rem(24);
          letter-spacing: rem(-0.05*24);
        }
      }
    }
  }
  .gift-list{
    .detail-list-wrap{
      .detail-header{
        display: flex;
        justify-content: space-between;
        .total-price-gift{
          .label{
            display: inline-block;
            font-size: rem(18);
            font-weight: 500;
            margin-right: rem(10);
          }
          .value{
            @include font-manrope(700);
            font-size: rem(20);
            letter-spacing: rem(-0.05*20);
          }
        }
      }
      .order-item-box{
        .order-info{
          .item-box{
            .info-slot{
              .product-name{
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

.bottom-notice-wrap{
  p{
    text-align: center;
    color: $fc-gray;
    font-size: rem(18);
    letter-spacing: rem($letter-spacing-default);
    a{
      color: $fc-default;
      border-bottom: 1px solid $fc-default;
    }
  }
}