.popup-window{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1000;
  &.nofooter{
    .popup-area{
      padding-bottom: rem(30);
    }
  }
  .popup-area{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: rem(40) rem(40);
    min-width: rem(520);
    // min-height: rem(400);
    border-radius: rem(20);
    background: #fff;
  }
  .popup-header{
    position: relative;
    height: rem($popup-header-height);
    border-bottom: 1px solid #333;
    z-index: 10;
    &.noborder{
      border-bottom: 0;
    }
    .title{
      line-height: 1;
      font-size: rem(22);
      letter-spacing: rem(-0.05*22);
      color: #333;
      font-weight: 700;
    }
    .btn-close{
      display: block;
      position: absolute;
      right: rem(-5);
      top: rem(-5);
      width: rem(30);
      height: rem(30);
    }
  }
  .popup-content{
    padding-top: rem(30);
    &.scroll-wrapper{
      // padding-top: rem(30) !important;
    }
    &.scroll-content {
      padding-top:0;
    }
    .form-content{
      margin-top: rem(-10);
    }
  }
  .popup-footer{
    padding-top: rem($popup-footer-pad-top);
    text-align: center;
    white-space: nowrap;
    .btn{
      margin: 0 rem(5);
      width: rem(150);
      vertical-align: top;
    }
  }
  &.popup-scroll{
    .popup-content{
      // position: absolute;
      // top: rem(90);
      // left: rem(40);
      // right: rem(40);
      // bottom: rem(120);
    }
  }
  
  .form-content .form-box{
    padding-left: rem(180);
    .form-label{
      padding-left: 0;
    }
    &.phone-box{
      .input-text{
        // position: absolute;
        // right: 0;
        // top: rem(10);
        width: rem(220);
        &.input-sm{
          width: rem(100);
        }
      }
    }
  }
}

//상품 상세 리뷰
#popup-review-detail{
  .popup-area{
    width: rem(1050);
    // height: rem(768);
  }
  
  .review-detail-wrap{
    position: relative;
    padding: 0;
    border: 0;
    .btn-slider{
      display: block;
      position: absolute;
      left: rem(-120);
      top: 50%;
      margin-top: rem(-37);
      width: rem(51);
      height: rem(75);
      border-radius: rem(10);
      background: #ffffff;
      &.last{
        .icon-arrow-slider-box{
          opacity: 0.3;
        }
      }
      &.prev{
        transform: rotate(180deg);
      }
      &.next{
        left: auto;
        right: rem(-120);
      }
      &.swiper-button-disabled{
        opacity: .5;
      }
    }
    .review-detail-list{
      height: auto;
    }
    .review-detail-list .review-comment-box{
      width: 100%;
      padding: rem(20) 0 0 rem(460);
      height: auto;
      .img-area{
        position: absolute;
        left: 0;
        top: 0;
        width: rem(420);
        .img-top{
          margin-bottom: rem(20);
          height: rem(420);
          border-radius: rem(20);
          overflow: hidden;
          .popup-review-img-slide{
            position: relative;
            height: 100%;
            img{
              position: absolute;
              display: block;
              width: 100%;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
        .img-bottom{
          >ul{
            display: flex;
            width: 100%;
            // justify-content: space-between;
            li{
              flex: 0 1 rem(76);
              display: inline-block;
              margin-right: rem(10);
              &:nth-last-of-type(1){
                margin-right: 0;
              }
              .thumb-img-wrap{
                position: relative;
                display: inline-block;
                width: rem(76);
                height: rem(76);
                border-radius: rem(20);
                overflow: hidden;
                background-color: $bg-gray;
                img{
                  display: inline-block;
                  width: 100%;
                }
              }
              &.active{
                .thumb-img-wrap{
                  &:before{
                    display: block;
                    content: "";
                    position: absolute;
                    border-radius: rem(20);
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.4);
                    z-index: 10;
                  }

                }
              }
            }
          }
        }
      }
      .info-area{
        margin-bottom: rem(30);
        height: rem(185);
        border-bottom: 1px solid #e7e7e7;
      }
      .text-area{
        padding: 0;
        height: rem(275);
      }
      .point-box{
        .user-box{
          float: left;
          margin: rem(-7) 0 0 rem(25);
        }
      }
      .popup-review-thumb-slide .swiper-slide{
        cursor: pointer;
      }
    }
    .review-item-box{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: rem(40);
      height: rem(80);
      .item-box{
        display: flex;
        flex: 0 0 rem(460);
        width: rem(460);
        align-items: center;
        .img-slot{
          flex: 0 0 rem(80);
          width: rem(80);
          border-radius: rem(20);
          overflow: hidden;
          img{
            display: block;
            width: 100%;
          }
        }
        .info-slot{
          flex: 0 0 rem(340);
          width: rem(340);
          padding-left: rem(20);
          .product-name{
            @include ellipse;
            line-height: rem(24);
            font-size: rem(16);
            color: #333333;
            font-weight: 700;
          }
          .product-price{
            margin-top: rem(5);
            line-height: rem(24);
            font-size: rem(14);
            font-weight: 700;
            color: #333333;
            .price{
              font-size: rem(18);
              @include font-manrope(700);
              letter-spacing: rem($letter-spacing-price);
            }
          }
        }
      }
      .btn-box{
        flex: 1 1 rem(460);
      }
    }
  }
}

//댓글 보기
#popup-reply-detail{
  .popup-area{
    width: rem(700);
    // height: rem(768);
  }
  
  .reply-detail-wrap{
    position: relative;
    padding: 0;
    border: 0;
    .reply-comment-box{
      width: 100%;
      padding: rem(20) 0 0 rem(350);
      height: auto;
      .img-area{
        position: absolute;
        left: 0;
        top: 0;
        width: rem(320);
        .img-top{
          margin-bottom: rem(20);
          height: rem(320);
          border-radius: rem(20);
          overflow: hidden;
          img{
            display: block;
            width: 100%;
          }
        }
      }
      .info-area{
        margin-bottom: rem(30);
        // height: rem(185);
        // border-bottom: 1px solid #e7e7e7;
        .info-box{
          display: flex;

          .user-box, .view-box{
            float: none;
          }
          .user-name{
            float: none;
            margin-right: rem(20);
            font-weight: 700;
          }
          .view-box{
            flex: 1 1 auto;
            text-align: right;
            p{
              padding-left: rem(25);
              letter-spacing: -1px;
              &:before{
                left: rem(12);
              }
              &:first-child{
                padding-left: 0;
              }
              &.date{
                @include font-manrope(400);
              }
            }
          }
        }
      }
      
      .text-area{
        padding: 0;
        height: rem(235);
      }
      .point-box{
        .user-box{
          float: left;
          margin: rem(-7) 0 0 rem(25);
        }
      }
      .popup-reply-thumb-slide .swiper-slide{
        cursor: pointer;
      }
      .reply-item-box{
        display: flex;
        justify-content: space-between;
        margin-top: rem(40);
        height: rem(80);
        .item-box{
          display: flex;
          flex: 1;
          align-items: center;
          .img-slot{
            width: rem(80);
            border-radius: rem(20);
            overflow: hidden;
            img{
              display: block;
              width: 100%;
            }
          }
          .info-slot{
            padding-left: rem(20);
            .product-name{
              line-height: rem(24);
              font-size: rem(16);
              color: #333333;
              font-weight: 700;
            }
            .product-price{
              margin-top: rem(5);
              line-height: rem(24);
              font-size: rem(14);
              font-weight: 700;
              color: #333333;
              .price{
                font-size: rem(18);
                @include font-manrope(700);
                letter-spacing: rem($letter-spacing-price);
              }
            }
          }
        }
        .btn-box{
          padding-top: rem(30);
          width: rem(460);
        }
      }
    }
  }
}
//댓글 작성
#popup-reply-write{
  .popup-area{
    width: rem(700);
    .popup-content{
      max-height: rem($popup-content-max-height);
      box-sizing: border-box;
      .reply-write{
        padding-top: rem(40);
        .title{
          margin-bottom: rem(20);
          font-size: rem(22);
          font-weight: 700;
          line-height: 1;
        }
        .form-content{
          margin-top: 0;
          border-top: 1px solid $section-border-color;
          padding-top: rem(20);
          textarea{
            &.input-text{
              box-sizing: border-box;
            }
          }
          .form-box{
            padding-left: rem(180);
            .form-label{
              padding-left: rem(40);
            }
            &.phone-box{
              .input-text{
                width: rem(90);
              }
            }
            .select-drop-down{
              &.select-md2{
                flex: 1 1 auto;
                .btn-select{
                  width: 100%;
                }
              }
            }
            .unit-text{
              margin-right: 0;
            }
          }
        }
        .write-picture-box{
          padding-bottom: rem(30);
          .title-box{
            display: flex;
            margin-bottom: rem(40);
            height: rem(45);
            border-bottom: 1px solid #333333;
            .title{
              line-height: rem(24);
              font-size: rem(22);
              color: #333333;
              font-weight: 700;
            }
            .desc{
              margin-left: rem(10);
              line-height: rem(24);
              font-size: rem(16);
              color: #58595b
            }
          }
          .upload-list{
            margin-bottom: rem(20);
            // width: 110%;
            height: rem(90);
            li {
              float: left;
              width: rem(95);
            }
            li:first-child{
              .upload-box:before{
                display: none;
                content:"대표";
                position: absolute;
                left: rem(5);
                bottom: rem(5);
                padding: 0 rem(12);
                height: rem(30);
                line-height: rem(30);
                font-size: rem(14);
                color: #fff;
                font-weight: 700;
                border-radius: rem(15);
                background: #8bb23f;
              }
              .upload-box.upload{
                border-color: $btn-outline-black;
                &:before{
                  display: block;
                }
              }
            }
            .upload-box{
              position: relative;
              width: rem(86);
              height: rem(86);
              border: 1px solid #e7e7e7;
              border-radius: rem(20);
              overflow: hidden;
              .input-file{
                cursor: pointer;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                opacity: 0;
              }
              .btn-close{
                display: none;
                position: absolute;
                right: 0;
                bottom: 0;
                width: rem(30);
                height: rem(30);
                background: #7b7c7d;
                border-top-left-radius: rem(20);
                z-index: 11;
              }
              .img{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-position: center center!important;
                background-repeat: no-repeat!important;
                background-size: cover!important;
              }
              &.upload{
                border-color: transparent;
                > .icon{
                  display: none;
                }
                .btn-close{
                  display: block;
                }
              }
            }
          }
          .caution-list-box{
            margin-top: rem(18);
          }
        }
      }
      .notice-list{
        margin-top: rem(20);
        padding-top: rem(15);
        font-size: rem(16);
        line-height: 2.2;
        color: $fc-gray;
        border-top: 1px solid $section-border-color;
        letter-spacing: rem(-0.05*16);
        li{
          position: relative;
          padding-left: rem(15);
          &:before{
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            top: rem(18);
            width: rem(4);
            height: rem(4);
            border-radius: 50%;
            background-color: $fc-light-gray;
          }
        }
      }
    }
  }
}

//상품 리뷰 작성
#popup-review-write{
  .popup-area{
    width: rem(700);
    // height: rem(600);
    .popup-header{
      
    }
    .popup-content{
      max-height: rem($popup-content-max-height);
      .form-content{
        margin-top: 0;
      }
      
      .order-item-box .order-info{
        .info-slot{
          .product-opt{
            @include font-manrope(400);
            display: inline-block;
            line-height: rem(30);
            vertical-align: middle;
            font-size: rem(16);
            color: #333;
          }
        }
      }
      .write-point-box{
        margin-bottom: rem(40);
        padding: rem(30) 0;
        text-align: center;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        .title{
          margin-bottom: rem(15);
          line-height: 1;
          font-size: rem(18);
          color: #333;
          font-weight: 700;
          .icon{
            display: inline-block;
            // width: rem(18);
            // height: rem(20);
            vertical-align: middle;
            margin: rem(-4) 0 0 0;
          }
          em{
            @include font-manrope(700);
            font-size: rem(22);
          }
        }
        .desc{
          margin-top: rem(15);
          line-height: 1;
          font-size: rem(16);
          color: #333;
        }
        .point-box{
          height: rem(35);
          .icon{
            cursor: pointer;
            display: inline-block;
            margin:0 rem(4);
            height: rem(35);
            vertical-align: top;
            opacity: 0.15;
            &.on{
              @extend .icon-good-lg;
              opacity: 1;
            }
          }
        }
      }
      .write-summary-box{
        margin-bottom: rem(40);
        .summary-list{
          .list-box{
            position: relative;
            height: rem(70);
            margin-bottom: rem(40);
            padding-left: rem(130);
            .label{
              position: absolute;
              left: 0;
              top: rem(6);
              line-height: rem(28);
              font-size: rem(18);
              color: #333333;
              font-weight: 700;
              letter-spacing: rem(-0.05*18);
            }
            .check-list{
              display: flex;
              width: rem(340);
              li{
                position: relative;
                &:before{
                  display: block;
                  content: "";
                  position: absolute;
                  left: rem(-25);
                  top: 50%;
                  margin-top: -1px;
                  width: rem(50);
                  height: rem(2);
                  border-top: 2px dotted #e7e7e7;
                }
                &:first-child:before{
                  display: none;
                }
                flex: 1;
                .check-box{
                  cursor: pointer;
                  display: block;
                  position: relative;
                  margin: 0 auto;
                  width: rem(40);
                  height: rem(40);
                  input{
                    cursor: pointer;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: rem(40);
                    height: rem(40);
                    opacity: 0;
                    z-index: 10;
                  }
                  .icon{
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: rem(40);
                    height: rem(40);
                    border: 2px solid #e7e7e7;
                    border-radius: 50%;
                  }
                  .text{
                    display: block;
                    position: absolute;
                    left: 50%;
                    bottom: rem(-30);
                    margin-left: rem(-60);
                    width: rem(120);
                    height: rem(20);
                    line-height: rem(20);
                    text-align: center;
                    font-size: rem(16);
                    color: #bcbdc1;
                  }
                  input:checked{
                    & + span.icon{
                      border-color: #8bb23f;
                      background: #8bb23f url('../img/icons/icon_review_white.png') no-repeat center center;
                    }
                    & + span.icon + span.text{
                      color: #333333;
                      font-weight: 700;
                    }
                  }
                }
              }
            }
          }
        }
        .desc-box{
          text-align: center;
          border-radius: rem(18);
          background: #f8f8f8;
          p{
            line-height: rem(70);
            font-size: rem(16);
            color: #333333;
            letter-spacing: rem(-0.05*16);
            b{
              font-weight: 700;
            }
          }
        }
      }
      .write-picture-box{
        // padding-bottom: rem(30);
        margin-bottom: rem(60);
        // border-bottom: 1px solid #e7e7e7;
        .title-box{
          display: flex;
          margin-bottom: rem(20);
          // height: rem(45);
          // border-bottom: 1px solid #333333;
          .title{
            line-height: rem(24);
            font-size: rem(22);
            color: #333333;
            font-weight: 700;
          }
          .desc{
            margin-left: rem(10);
            line-height: rem(24);
            font-size: rem(16);
            color: #58595b
          }
        }
        .upload-list{
          margin-bottom: rem(20);
          // width: 110%;
          height: rem(90);
          li {
            float: left;
            width: rem(95);
          }
          li:first-child{
            .upload-box:before{
              display: none;
              content:"대표";
              position: absolute;
              left: rem(5);
              top: rem(5);
              padding: 0 rem(10);
              height: rem(22);
              line-height: rem(22);
              font-size: rem(14);
              color: #fff;
              font-weight: 700;
              border-radius: rem(15);
              background: $btn-fill-black;
              z-index: 1;
            }
            .upload-box.upload{
              border-color: #333333;
              &:before{
                display: block;
              }
            }
          }
          .upload-box{
            position: relative;
            width: rem(86);
            height: rem(86);
            border: 1px solid #e7e7e7;
            border-radius: rem(18);
            overflow: hidden;
            .input-file{
              cursor: pointer;
              display: block;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              z-index: 10;
              opacity: 0;
            }
            .btn-close{
              display: none;
              position: absolute;
              right: 0;
              bottom: 0;
              width: rem(30);
              height: rem(30);
              background: #7b7c7d;
              border-top-left-radius: rem(20);
              z-index: 11;
            }
            .img{
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background-position: center center!important;
              background-repeat: no-repeat!important;
              background-size: cover!important;
            }
            &.upload{
              border-color: transparent;
              > .icon{
                display: none;
              }
              .btn-close{
                display: block;
              }
            }
          }
        }
        .caution-list-box{
          margin-top: rem(18);
        }
      }
      .write-comment-box{
        .title{
          margin-bottom: rem(20);
          line-height: rem(22);
          font-size: rem(22);
          color: #333333;
          font-weight: 700;
        }
        .input-text{
          width: 100%;
          height: rem(100);
          box-sizing: border-box;
        }
      }
    }
  }
}
//상품사용기간
.popup-deadline{
  .popup-area{
    width: rem(700);
    // height: rem(800);
    .popup-header{
      
    }
    .popup-content{
      max-height: rem($popup-content-max-height);
      .deadline-table{
        table{
          border-spacing: 0;
          border-collapse: collapse;
          border-top: 1px solid #333333;
          thead{
            background-color: $bg-gray;
            th{
              padding: rem(30) 0;
              text-align: center;
              font-size: rem(18);
              letter-spacing: rem(-0.05*18);
              font-weight: 500;
            }
          }
          tbody{
            tr{
              border-bottom: 1px solid $section-border-color;
              td{
                text-align: center;
                padding: rem(30) 0;
              }
            }
          }
        }
      }
    }
  }
}
//상품사용기간
.popup-material{
  .popup-area{
    width: rem(700);
    // height: rem(800);
    .popup-header{
      
    }
    .popup-content{
      max-height: rem($popup-content-max-height);
      .material-table{
        table{
          border-spacing: 0;
          border-collapse: collapse;
          border-top: 1px solid #333333;
          thead{
            background-color: $bg-gray;
            th{
              padding: rem(30) 0;
              text-align: center;
              font-size: rem(18);
              letter-spacing: rem(-0.05*18);
              font-weight: 500;
            }
          }
          tbody{
            tr{
              border-bottom: 1px solid $section-border-color;
              td{
                text-align: center;
                vertical-align: middle;
                padding: rem(30) rem(10);
                color: $fc-dark-gray;
                font-weight: 300;
                &:first-child{
                  color: $dark-gray;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }
}
//전성분표기팝업
.popup-product-compose{
  .popup-area{
    width: rem(700);
    .popup-content{
      .title{
        margin-bottom: rem(20);
        font-size: rem(18);
        font-weight: 700;
      }
      .product-compose{
        line-height: 1.6;
        font-size: rem(16);
        font-weight: 300;
        color: $fc-dark-gray;
      }
    }
  }
}
//빠른답변확인 팝업
.popup-faq-detail{
  .popup-area{
    width: rem(700);
    .popup-content{
      max-height: rem($popup-content-max-height);
      &.scroll-wrapper{
        padding-top: rem(30) !important;
      }
      .title{
        margin-bottom: rem(20);
        font-size: rem(18);
        font-weight: 700;
        &.question{
          position: relative;
          padding-left: rem(25);
          &:before{
            display: block;
            content:"";
            position: absolute;
            left: 0;
            top: 0;
            margin-top: rem(5);
            width: rem(20);
            height: rem(20);
            background: url('../img/icons/icon_qna_q_black.png') no-repeat center center;
          }
        }
      }
      .answer-content{
        position: relative;
        padding-left: rem(25);
        line-height: 1.6;
        font-size: rem(16);
        font-weight: 300;
        color: $fc-dark-gray;
        &:before{
          display: block;
          content:"";
          position: absolute;
          left: 0;
          top: rem(3);
          width: rem(20);
          height: rem(20);
          background: url('../img/icons/icon_qna_a.png') no-repeat center center;
        }
      }
    }
  }
}
//상품상세 주의사항
.popup-product-notice{
  .popup-area{
    width: rem(700);
    .popup-content{
      .title{
        margin-bottom: rem(20);
        font-size: rem(18);
        font-weight: 700;
      }
      .product-notice{
        line-height: 1.6;
        font-size: rem(16);
        font-weight: 300;
        color: $fc-dark-gray;
        >ul{
          >li{
            padding-left: rem(16);
            margin-bottom: rem(5);
            line-height: 2;
            text-indent: rem(-16);
            letter-spacing: rem(-0.8);
            >ul{
              >li{
                text-indent: rem(-16);
                padding-left: rem(16);
                line-height: 1.6;
              }
            }
          }
        }
      }
    }
  }
}

// 상품문의
.popup-product-question{
  .popup-area{
    width: rem(1000);
    .popup-content{
      max-height: rem($popup-content-max-height);
      // margin-bottom: rem(20);
      .title{
        font-size: rem(18);
        font-weight: 700;
      }
      .product-question{
        &.form-content{
          // margin-top: 0;
          .form-list{
            padding-top: 0;
            border-top: 0;
            border-bottom: 0;
          }
          .form-box{
            &.options{
              .select-drop-down{
                margin-right: rem(20);
                .btn-select{
                  width: rem(260);
                }
              }
            }
            &.title{
              .input-text{
                width: rem(540);
              }
            }
            &.question-text{
              textarea.input-text{
                height: rem(240);
              }
              .check-wrap{
                position: absolute;
                bottom: rem(-13);
                left: rem(180);
                label{
                  .checkbox{
                    margin-left: 0;
                  }
                }
              }
            }
          }
        }
      }

      .notice-list{
        // margin-top: rem(30);
        font-size: rem(16);
        line-height: 2.2;
        color: $fc-gray;
        li{
          position: relative;
          padding-left: rem(15);
          &:before{
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            top: rem(18);
            width: rem(4);
            height: rem(4);
            border-radius: 50%;
            background-color: $fc-light-gray;
          }
        }
      }
    }
  }
}

//취소환불 상세정보
#popup-ordercancel-detail{
  .popup-area{
    width: rem(700);
    
    .popup-header{
    }
    
    .popup-content{
      max-height: rem($popup-content-max-height);
    }
    
    .order-detail-list .detail-list-wrap{
      margin-top: rem(30);
      .detail-header{
        &.border-gray{
          border-bottom: 1px solid $section-border-color;
        }
      }
      &:first-child{
        margin-top: 0;
      }
    }
    
    .order-detail-list .detail-list .order-item-box .order-status{
      width: rem(120);
    }
  }
}

//배송지등록
#popup-address-add, #popup-address-modify{
  .popup-area{
    width: rem(700);
    height: auto;
  }
  .form-content .form-box{
    .text-count{
      margin-top: rem(10);
      font-size: rem(16);
      color: #818286;
    }
    .shipping-input-box{
      width: 100%;
    }
  }
  .check-wrap label .checkbox{
    margin-left: 0;
  }
}

//쿠폰정보
#popup-coupon-detail{
  .popup-area{
    width: rem(700);
    // height: rem(540);
  }
  .popup-content{
    display: flex;
  }
  .coupon-list-box{
    width: rem(330);
    .item-coupon-list > ul{
      display: block;
      width: rem(330);
    }
    // .coupon-name{
    //   margin-top: rem(20);
    // }
    
    // .coupon-info{
    //   position: absolute;
    //   left: rem(38);
    //   top: rem(25);
    // }
  }
  .coupon-info-box{
    flex: 1;
    padding-top: rem(15);
    padding-left: rem(28);
    .coupon-name{
      // @include ellipsen(2);
      margin-bottom: rem(35);
      line-height: 1.6;
      font-size: rem(22);
      font-weight: 700;
      color: #333333;
      letter-spacing: rem(-0.05*22);
    }
    .info-list{
      li{
        position: relative;
        margin-top: rem(16);
        padding-left: rem(80);
        &:first-child{
          margin-top: 0;
        }
        p{
          line-height: 1.4;
          font-size: rem(14);
          font-weight: 500;
          color: #58595b;
          letter-spacing: rem(-0.05*14);
          &.label{
            position: absolute;
            left: 0;
            top: 0;
            font-weight: 700;
            color: #333;
          }
        }
      }
    }
  }
}

//쿠폰정보
#popup-orderconfirm-complete{
  .popup-area{
    min-width: rem(430);
    height: rem(650);
    overflow: hidden;
  }
  .popup-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: rem(40);
    padding-right: rem(40);
    height: rem(450);
    background: #f3f4e6;
    .point-top{
      padding-top: rem(90);
      height: 100%;
      text-align: center;
      .icon-box{
        height: rem(130);
        text-align: center;
      }
      .point{
        line-height: rem(40);
        font-size: rem(26);
        color: #333333;
        white-space: nowrap;
        letter-spacing: rem(-0.05*26);
        font-weight: 500;
        b{
          font-size: rem(28);
          @include font-manrope(700);
          color: $fc-primary-darken;
        }
      }
      .point-box{
        position: relative;
        margin: rem(25) 0 rem(15) 0;
        height: rem(70);
        border-radius: rem(20);
        background: #ffffff;
        .label{
          position: absolute;
          left: rem(30);
          top: 0;
          line-height: rem(70);
          font-size: rem(18);
          letter-spacing: rem(-0.05*18);
          font-weight: 500;
          color: #333333;
        }
        .value{
          position: absolute;
          right: rem(30);
          top: 0;
          line-height: rem(70);
          font-size: rem(20);
          @include font-manrope(700);
          color: $fc-primary-darken;
        }
      }
      .desc{
        line-height: rem(30);
        font-size: rem(16);
        color: #818286;
        letter-spacing: rem(-0.05*16);
      }
    }
    .point-bottom{
      position: relative;
      padding: rem(38) 0 0 rem(63);
      .icon{
        display: block;
        position: absolute;
        left: rem(10);
        top: rem(46);
      }
      p{
        line-height: rem(24);
        font-size: rem(16);
        color: $fc-dark-gray;
        letter-spacing: rem(-0.05*16);
        b{
          color: #333333;
          font-weight: 700;
        }
      }
    }
  }
  .popup-footer{
    position: absolute;
    bottom: rem(40);
    left: 50%;
    transform: translateX(-50%);
  }
}

//옵션/수량 변경
#popup-order-option{
  .popup-area{
    width: rem(700);
    // min-height: rem(650);
    .popup-content{
      max-height: rem(650);
    }
  }
  
  .order-item-box .order-info{
    padding-left: 0;
  }
  
  .product-opt-box .opt-list .total-box .price{
    font-size: rem(22);
    b{
      font-size: rem(32);
    }
  }
}

//옵션/수량 변경
#popup-order-address{
  .popup-area{
    width: rem(700);
    // min-height: rem(650);
  }
  
  .order-address-list{
    margin-right: rem(-10);
    padding-right: rem(10);
    max-height: rem(470);
  }
}

//환불계좌 등록
#popup-refund-account{
  .popup-area{
    width: rem(700);
    min-height: rem(450);
  }
  .form-content .use-box{
    margin-top: rem(-10);
  }
  .check-wrap label .checkbox{
    margin-left: 0;
  }
}


.password-change{
  .popup-area{
    overflow: hidden;
    width: rem(700);
    padding: 0;
    
    .popup-header{
      height: auto;
      text-align: right;
      background-color: $bg-data;
      .btn-close{
        position: relative;
        display: inline-block;
        right: unset;
        left: unset;
        top: unset;
      }
      padding: rem(30) rem(40) 0 rem(40);
    }
    .popup-content{
      padding-top: 0;
      .password-top{
        padding-bottom: rem(40);
        text-align: center;
        background-color: $bg-data;
        .title{
          margin-top: rem(25);
          font-size: rem(22);
          font-weight: 700;
          letter-spacing: rem(-0.05*22);
        }
        .sub-text{
          margin-top: rem(12);
          font-size: rem(18);
          letter-spacing: rem(-0.05*18);
        }
      }
      .password-bottom{
        .form-content{
          margin-top: rem(40);
          margin-left: rem(80);
          margin-right: rem(80);
          padding-bottom: rem(20);
          border-bottom: 1px solid $section-border-color;
        }
      }
    }
    .popup-footer{
      position: relative;
      left: unset;
      right: unset;
      bottom: unset;
      padding-bottom: rem(30);
    }
  }
}

//상품 옵션 선택
#popup-item-option{
  .popup-area{
    width: rem(1000);
    
    .option-select-wrap{
      position: relative;
      padding-left: rem(410);
      margin-bottom: rem(10);
      min-height: rem(430);
      .product-img-box{
        position: absolute;
        left: 0;
        top: 0;
        width: rem(370);
        border: 1px solid #eee;
        border-radius: rem(20);
        overflow: hidden;
        img{
          display: block;
          width: 100%;
        }
      }
      .product-info-box{
        margin-bottom: rem(30);
        .product-desc{
          margin: 0 0 rem(10) 0;
        }
        .product-price{
          margin-top: rem(20);
        }
      }
    }
    
    .product-opt-box{
      margin-top: 0;
      .opt-list{
        padding: 0;
      }
    }
    
    .popup-footer .icon{
      margin-right: rem(8);
    }
  }
}

//가맹점 제휴문의
#popup-footer-partner, #popup-footer-contact{
  .popup-area{
    min-width: rem(700);
    .popup-content{
      padding-top: 0;
    }
  }
  .manager-list{
    padding: 0 0 rem(40) 0;
    .manager-title{
      margin: rem(50) 0 rem(15) 0;
      line-height: rem(30);
      font-size: rem(18);
      color: #333333;
      font-weight: 700;
      letter-spacing: rem(-0.05*18);
      &:first-child{
        margin-top: 0;
      }
    }
    .manager-box{
      display: flex;
      &.flex-center{
        justify-content: center;
      }
      .manager-info{
        width: 50%;
        position: relative;
        padding-left: rem(90);
        padding-right: rem(20);
        p{
          line-height: rem(22);
          font-size: rem(14);
          color: #58595b;
          white-space: nowrap;
          a{
            color: #58595b;
          }
          .email{
            text-decoration: underline;
            font-weight: 300;
          }
          .tel{
            @include font-manrope(400);
          }
        }
        .profile{
          position: absolute;
          left: 0;
          top: 0;
          width: rem(70);
          height: rem(70);
          line-height: rem(70);
          text-align: center;
          font-size: rem(22);
          font-weight: 700;
          color: #8bb23f;
          border-radius: 50%;
          background: #f3f4e6;
        }
        .name{
          margin-bottom: rem(6);
          font-size: rem(16);
          font-weight: 700;
          letter-spacing: rem(-0.05*16);
        }
        &:first-child{
          .profile{
            color: #fff;
            background: #8bb23f;
          }
        }
      }
    }
  }
}

#popup-footer-contact{
  .manager-list{
    .manager-box{
      .manager-info{
        padding: 0;
        text-align: center;
        .manager-title{
          margin: 0 0 rem(20) 0;
          line-height: rem(30);
          font-size: rem(18);
          color: #333333;
          font-weight: 700;
        }
        .profile{
          position: relative;
          left: auto;
          top: auto;
          margin: 0 auto;
          margin-bottom: rem(20);
          color: #fff;
          background: #8bb23f;
        }
        .name{
          margin-bottom: rem(10);
        }
      }
    }
  }
}

// 쿠폰선택
#popup-coupon-select{
  &.popup-window{
    .popup-area{
      width: rem(700);
      .popup-header{
      }
      .popup-content{
        max-height: rem($popup-content-max-height);
        height: rem($popup-content-max-height);
        .title{
          font-size: rem(18);
          font-weight: 700;
          margin-top: rem(40);
          margin-bottom: rem(20);
          letter-spacing: rem(-0.05*18);
        }
        //쿠폰 리스트
        .coupon-item-list{
          li{
            margin-top: rem(20);
            overflow: hidden;
            &:first-child{
              margin-top: 0!important;
            }
          }
          .btn-coupon-info{
            float: right;
            margin: rem(10) rem(-10) 0 0;
            line-height: 1;
            padding: rem(10);
            font-size: rem(24);
            font-weight: 500;
            color: #58595b;
            .icon{
              margin-left: rem(15);
            }
          }
          .coupon-item-box{
            display: block;
            position: relative;
            padding: rem(23) rem(40) rem(23) rem(200);
            &.no-coupon{
              padding-left: rem(70);
            }
            .radio{
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              z-index: 10;
              opacity: 0;
              margin: 0;
            }
            .coupon-box{
              display: block;
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              border: 1px solid #e7e7e7;
              border-radius: rem(12);
              z-index: 0;
            }
            > span{
              @include ellipsen(2);
              display: block;
              position: relative;
              z-index: 1;
              line-height: 1.4em;
              font-size: rem(16);
              letter-spacing: rem(-0.05*16);
              font-weight: 500;
              color: #bcbdc1;
            }
            .coupon-name{
              font-size: rem(16);
              font-weight: 700;
              letter-spacing: rem(-0.05*16);
              .icon{
                margin-right: rem(16);
                opacity: 0.5;
              }
            }
            
            .coupon-desc{
              margin-top: rem(8);
              margin-bottom: rem(8);
            }
            .icon-radio{
              position: absolute;
              left: rem(30);
              top: rem(24);
              @include icon;
              width: rem(22);
              height: rem(22);
              background-image: url('../img/icons/radio_gray.png');
            }
            .coupon-price{
              position: absolute;
              left: rem(70);
              top: rem(24);
              font-weight: 500;
              .price{
                @include font-manrope(800);
                margin-right: rem(3);
                font-size: rem(18);
              }
            }
            .radio:checked ~ .icon-radio{
              background-image: url('../img/icons/radio-checked.png');
            }
            .radio:checked + div.coupon-box{
              border-color: #333;
            }
            .radio:checked ~ span.coupon-name{
              color: #333;
              .icon{
                opacity: 1;
              }
            }
            .radio:checked ~ span.coupon-desc{
              color: #58595b;
            }
            .radio:checked ~ span.coupon-date{
              color: #f01d11;
            }
            .radio:checked ~ span.coupon-price{
              color: #333;
            }
          }
        }
        .important-notice-phrase{
          margin-top: rem(70);
          font-size: rem(22);
          letter-spacing: rem(-0.05*22);
          line-height: 1;
          font-weight: 700;
          [class*="icon-"]{
            margin-right: rem(10);
          }
        }
        .notice-list{
          margin-top: rem(20);
          padding-bottom: rem(40);
          font-size: rem(16);
          letter-spacing: rem(-0.05*16);
          line-height: 2.2;
          color: $fc-gray;
          li{
            position: relative;
            padding-left: rem(15);
            &:before{
              content: '';
              display: inline-block;
              position: absolute;
              left: 0;
              top: rem(18);
              width: rem(4);
              height: rem(4);
              border-radius: 50%;
              background-color: $fc-light-gray;
            }
            .underline{
              text-decoration: underline;
              color: $fc-default;
            }
          }
          [class*="icon-"]{
            vertical-align: middle;
          }
        }
      }

      &.sticky-btn-type{
        padding-bottom: rem(80);
        overflow: hidden;
        .popup-footer{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          .coupon-total{
            display: flex;
            height: rem(80);
            .total-discount{
              flex: 1 1 auto;
              @include suffix-prefix;
              background-color: #333333;
              color: #ffffff;
              padding-left: rem(40);
              padding-right: rem(40);
              .label{
                font-size: rem(18);
                font-weight: 700;
                letter-spacing: rem($letter-spacing-default);
              }
              .sub-label{
                margin-left: rem(7);
                font-size: rem(14);
                font-weight: 500;
                letter-spacing: rem($letter-spacing-default);
              }
              .price{
                font-size: rem(18);
                font-weight: 500;
                em{
                  @include font-manrope(700);
                  font-size: rem(28);
                }
              }
            }
            .btn{
              flex: 0 0 rem(170);
              width: rem(170);
              height: 100%;
              margin: 0;
              font-size: rem(18);
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
//쿠폰선택팝업
@media all and (max-height: 799px) {
  #popup-coupon-select.popup-window .popup-area .popup-content {
      max-height: rem($popup-content-max-height - 224);
  }
}
@media all and (max-height: 600px) {
  #popup-coupon-select.popup-window .popup-area .popup-content {
      max-height: rem($popup-content-max-height - 384);
  }
}

//매장사진 팝업
#popup-store-image{
  .popup-area{
    width: rem(700);
    .map-store-slide{
      width: rem(620);
      height: rem(400);
      border-radius: rem(20);
      overflow: hidden;
      .btn-slider-arrow{
        background-color: rgba(0,0,0,0.4);
        &:hover{
          background-color: rgba(0,0,0,0.7);
        }
      }
    }
  }
}

//메인 배너 팝업
.home-banner-popup{
  &.popup-window{
    .popup-area{
      padding: 0;
      width: rem(570);
      height: rem(720);
      background-color: transparent;
      .popup-header{
        position: absolute;
        top: rem(-$popup-header-height - 10);
        width: 100%;
        border-bottom: 0;
        @include suffix-prefix;
        .no-more{
          &.check-wrap{
            label{
              font-size: rem(22);
              font-weight: 700;
              color: #ffffff;
              letter-spacing: rem(-0.025*22);
              .checkbox.large{
                margin-left: 0;
                margin-right: rem(20);
                .icon-chk{
                  width: rem(33);
                  height: rem(33);
                  border: 0;
                  background-image: url('../img/icons/icon_checkbox_circle_white.png');
                }
                input[type="checkbox"]{
                  &:checked+.icon-chk{
                    background-image: url('../img/icons/icon_checkbox_circle_white_on.png')
                  }
                }
              }
            }
          }
        }
      }
      .popup-content{
        .main-pop-slider{
          @include full-page(absolute);
          border-radius: rem(70);
          overflow: hidden;
          .slide-item{
            width: rem(570);
            height: rem(720);
            .img-slot{
              @include full-page(absolute);
            }
            .text-box{
              position: absolute;
              bottom: rem(100);
              left: 0;
              width: 100%;
              padding-left: rem(60);
              padding-right: rem(60);

              .sub-text{
                margin-top: rem(30);
              }
            }
          }
          .slider-arrow{
            position: absolute;
            width: 100%;
            height: rem(46);
            margin-left: auto;
            margin-right: auto;
            top: calc(50% - #{rem(23)});
            .btn-slider{
              position: absolute;
              top: 50%;
              @include icon;
              width: rem(25);
              height: rem(46);
              background-image: url('../img/icons/icon_arrow_main_slide.png');
              z-index: 1;
              &.slider-prev{
                left: rem(20);
              }
              &.slider-next{
                right: rem(20);
                transform: rotate(180deg);
              }
              &.swiper-button-disabled{
                opacity: .5;
              }
            }
          }
          .swiper-indicater-wrap{
            width: rem(500);
            .swiper-pagination{
              display: inline-flex;
              width: 80%;
              border-radius: rem(10);
              overflow: hidden;
              .square-bullet{
                flex: 1 1 auto;
                margin: 0;
                border-radius: 0;
              }
            }
            .swiper-stop {
              display: inline-block;
              width: rem(7);
              height: rem(12);
              background-image: url('../img/icons/icon_slide_stop.png');
              z-index: 9999;
              cursor: pointer;
              vertical-align: bottom;

              &.stopped {
                @extend .icon-slider-arrow-white;
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}


/* modify for dev - start */
#popup-footer-newstore .popup-area, #popup-footer-contact .popup-area {
  min-width: rem(700);
}
#popup-footer-newstore .popup-area .popup-content, #popup-footer-contact .popup-area .popup-content {
  padding-top: 0;
}
#popup-footer-newstore .manager-list, #popup-footer-contact .manager-list {
  padding: 0 0 rem(40) 0;
}
#popup-footer-newstore .manager-list .manager-title, #popup-footer-contact .manager-list .manager-title {
  margin: rem(50) 0 rem(15) 0;
  line-height: rem(30);
  font-size: rem(18);
  color: #333333;
  font-weight: 700;
  letter-spacing: rem(-0.9);
}
#popup-footer-newstore .manager-list .manager-title:first-child, #popup-footer-contact .manager-list .manager-title:first-child {
  margin-top: 0;
}
#popup-footer-newstore .manager-list .manager-box, #popup-footer-contact .manager-list .manager-box {
  display: flex;
}
#popup-footer-newstore .manager-list .manager-box.flex-center, #popup-footer-contact .manager-list .manager-box.flex-center {
  justify-content: center;
}
#popup-footer-newstore .manager-list .manager-box .manager-info, #popup-footer-contact .manager-list .manager-box .manager-info {
  width: 50%;
  position: relative;
  padding-left: rem(90);
  padding-right: rem(20);
}
#popup-footer-newstore .manager-list .manager-box .manager-info p, #popup-footer-contact .manager-list .manager-box .manager-info p {
  line-height: rem(22);
  font-size: rem(14);
  color: #58595b;
  white-space: nowrap;
}
#popup-footer-newstore .manager-list .manager-box .manager-info p a, #popup-footer-contact .manager-list .manager-box .manager-info p a {
  color: #58595b;
}
#popup-footer-newstore .manager-list .manager-box .manager-info p .email, #popup-footer-contact .manager-list .manager-box .manager-info p .email {
  text-decoration: underline;
  font-weight: 300;
}
#popup-footer-newstore .manager-list .manager-box .manager-info p .tel, #popup-footer-contact .manager-list .manager-box .manager-info p .tel {
  font-family: "Manrope", "Noto Sans KR", "맑은고딕", "Malgun Gothic", dotum, gulim, sans-serif;
  font-weight: 400;
}
#popup-footer-newstore .manager-list .manager-box .manager-info .profile, #popup-footer-contact .manager-list .manager-box .manager-info .profile {
  position: absolute;
  left: 0;
  top: 0;
  width: rem(70);
  height: rem(70);
  line-height: rem(70);
  text-align: center;
  font-size: rem(22);
  font-weight: 700;
  color: #8bb23f;
  border-radius: 50%;
  background: #f3f4e6;
}
#popup-footer-newstore .manager-list .manager-box .manager-info .name, #popup-footer-contact .manager-list .manager-box .manager-info .name {
  margin-bottom: rem(6);
  font-size: rem(16);
  font-weight: 700;
  letter-spacing: rem(-0.8);
}
#popup-footer-newstore .manager-list .manager-box .manager-info:first-child .profile, #popup-footer-contact .manager-list .manager-box .manager-info:first-child .profile {
  color: #fff;
  background: #8bb23f;
}
/* modify for dev - end */

.video-popup{
  
  .video-wrap{
    position: relative;
    max-width: rem(1000);
    margin: rem(200) auto 0 auto;
    .close-btn{
      position: absolute;
      top: 0;
      right: 0;
    }
    video, iframe{
      display: block;
      margin: auto;
      width: calc(100% - #{rem(50)});
    }
  }
}