@use "sass:math";
.product-detail-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(140);
  // @include animationitem;
  .product-img-wrap{
    width: rem(640);
    .product-img-top{
      position: relative;
      width: rem(640);
      height: rem(640);
      border-radius: rem(45);
      overflow: hidden;
      .product-img-slide, .product-img-slide .swiper-slide{
        width: rem(640);
        height: rem(640);
        .video-wrap{
          position: relative;
          background-color: rgba(0,0,0,0.1);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          overflow: hidden;
          video{
            width: 100%;
          }
          .play-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            &.playing{
              display: none;
            }
          }
        }
      }
      .img{
        display: block;
        width: 100%;
      }
      .badge-list{
        position: absolute;
        right: rem(22);
        top: rem(22);
        z-index: 10;
        .badge{
          margin-bottom: rem(10);
          width: rem(120);
          height: rem(120);
        }
        img{
          display: block;
          width: 100%;
        }
      }
    }
    .product-img-bottom{
      margin-top: rem(30);
      height: rem(124);
      .product-thumb-slide{
        position: relative;
        height: rem(124);
        .video-thumb-wrap{
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          .icon-play{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: rem(40);
            height: rem(40);
          }
        }
        .btn-slider{
          @include transition(0.2s);
          display: block;
          position: absolute;
          top: rem(60 - 15);
          left: rem(10);
          width: rem(30);
          height: rem(30);
          border-radius: rem(8);
          background: rgba(0,0,0,0);
          z-index: 10;
          opacity: 0;
          &:before{
            display: block;
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            margin: rem(-6) 0 0 rem(-4);
            width: rem(8);
            height: rem(13);
            background: url('../img/icons/icon_slider_arrow_white.png') no-repeat center center;
          }
          &.slider-next{
            left: auto;
            right: rem(10);
            &:before{
              transform: rotate(180deg);
            }
          }
        }
        &:hover{
          .btn-slider{
            background: rgba(0,0,0,0.3);
            opacity: 1;
          }
        }
      }
      .swiper-slide{
        cursor: pointer;
        height: rem(120);
        width: rem(120);
        border: 1px solid #eee;
        border-radius: rem(20);
        overflow: hidden;
      }
      .img{
        display: block;
        width: 100%;
      }
    }
    .product-review-link{
      margin-top: rem(30);
      height: rem(30);
      .link-box{
        position: relative;
        float: left;
        padding-left: rem(40);
        height: rem(30);
        &:first-child{
          padding-left: 0;
          &:before{
            display: none;
          }
        }
        &:before{
          display: block;
          content: "";
          position: absolute;
          left: rem(20);
          top: 50%;
          margin-top: rem(-8);
          width: 1px;
          height: rem(16);
          background: #e7e7e7;
        }
        .label{
          float: left;
          margin-right: rem(10);
          line-height: rem(30);
          font-size: rem(18);
          font-weight: 500;
          color: #333;
        }
        .btn-link{
          display: block;
          float: left;
          line-height: rem(30);
          font-size: rem(20);
          font-weight: 500;
          color: #333;
          text-decoration: underline;
        }
        .point{
          line-height: rem(30);
          font-size: rem(20);
          font-weight: 700;
          color: #333;
          .icon-good{
            margin-right: rem(4);
            width: rem(16);
            height: rem(15);
          }
        }
      }
    }
  }
  .product-info-wrap{
    width: rem(680);
  }
  .product-opt-box{
    .select-drop-down{
      .btn-select{
        border: 0;
        border-radius: rem(12);
      }
      &.active{
        &.select-option{
          .btn-select{
            border: 1px solid #333;
            border-radius: rem(12) rem(12) 0 0;
            border-bottom: 0;
          }
        }
        &.alignt{
          &.select-option{
            .btn-select{
              border-radius: 0 0 rem(12) rem(12);
              border-bottom: 1px solid #333;
              border-top: 0;
            }
            
          }
        }
      }
      
    }
  }
}
.sticky-bottom{
  min-height: rem(854 + 140);
  .container{
    $sticky-height: 120;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: rem($sticky-height);
    width: 100%;
    z-index: 100;
    border-top: 1px solid #e7e7e7;
    background-color: #ffffff;
    .product-detail-top{
      width: rem($default-container-width);
      margin: auto;
      .product-img-wrap{
        display: none;
      }
      .product-info-wrap{
        height: rem($sticky-height);
        width: 100%;
        .product-info-box{
          position: relative;
          height: 100%;
          .product-badge, .product-desc, .product-coupon-list, .product-table-box{
            display: none;
          }
          .thumb-for-sticky{
            display: inline-block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: rem(90);
            height: rem(90);
            border-radius: rem(20);
            overflow: hidden;
            background-color: red;
            img{
              width: 100%;
            }
          }
          .product-name{
            position: absolute;
            font-size: rem(22);
            top: rem(30);
            left: rem(160);
          }
          .product-price{
            position: absolute;
            top: 0;
            left: rem(160);
            height: rem(20);
            margin-top: rem(66);
            .price{
              font-size: rem(14);
              text-indent: unset;
              // margin-left: rem(9);
              b{
                font-size: rem(18);
              }
            }
            .before-price{
              font-size: rem(14);
              margin-top: 0;
              margin-left: rem(9);
              b{
                font-size: rem(18);
              }
            }
            .sale{
              font-size: rem(18);
              margin-top: 0;
              b{
                font-size: rem(18);
              }
            }
          }
          .product-btn-box{
            margin-top: 0;
          }
          .total-box{
            position: absolute;
            display: inline-flex;
            align-items: center;
            bottom: 0;
            height: rem($sticky-height);
            right: rem(700);
            border-top: 0;
            .label{
              display: none;
            }
            .price{
              position: relative;
              left: unset;
              right: unset;
              bottom: unset;
              top: unset;
              line-height: normal;
              font-size: rem(18);
              color: $fc-default;
              white-space: nowrap;
              b{
                font-size: rem(26);
                color: $fc-primary-darken;
              }
            }
          }
        }
        .product-opt-box{
          position: absolute;
          margin-top: 0;
          right: 0;
          top: 0;
          width: rem(640);
          padding: rem(20);
          background-color: #ffffff;
          // bottom: rem($sticky-height);
          transition: top bottom 0.3s;
          &.open{
            top: unset;
            bottom: rem($sticky-height);
            .icon-arrow-up{
              transform: translate(-50%, -50%) rotate(0deg);
            }
          }
          .option-wrap{
            max-height: rem(300);
          }
          .btn-opt{
            display: inline-block;
            position: absolute;
            left: 0;
            top: rem(-22);
            width: rem(60);
            height: rem(22);
            background: #fff;
          }
        }
        
        .product-btn-box{
          position: absolute;
          right: 0;
          height: rem($sticky-height);
          width: rem(640);
          align-items: center;
          justify-content: flex-end;
          background-color: #ffffff;
          .btn{
            margin-right: rem(5);
            &.btn-order, &.btn-cart{
              width: rem(250);
            }
            &.btn-pick{
              width: rem(85);
              min-width: 0;
              padding: 0;
            }
          }
        }
      }
      .product-opt-box{
        .select-drop-down{
          &.alignt{
            &.select-option{
              .select-drop-list{
                padding: rem(20) 0 rem(10) 0;
                &:before{
                  top: unset;
                  bottom: 0;;
                }
              }
            }
          }
        }
      }
      
    }
  }
}

.product-opt-modal{
  @include animationitem;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: rem(120);
  background: #fff;
  z-index: 100;
  .container{
    position: relative;
  }
  .product-info-box{
    position: absolute;
    right: 0;
    bottom: rem(120);
    width: rem(640);
    background: #fff;
    .btn-opt{
      display: block;
      position: absolute;
      left: 0;
      top: rem(-22);
      width: rem(60);
      height: rem(22);
      background: #fff;
    }
    .product-opt-box{
      display: none;
      margin-top: 0!important;
      padding: rem(20) 0;
    }
    .opt-list{
      .list-box{
        height: rem(65)!important;
      }
    }
  }
  .img-thumb-list .item-box{
    height: rem(120);
  }
  &.open{
    .product-info-box{
      .btn-opt .icon{
        transform: translate(-50%, -50%);
      }
      .product-opt-box{
        display: block;
      }
    }
  }
}

.img-thumb-list{
  .item-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(40) 0 rem(30);
    width: 100%;
    .img-slot{
      flex: 0 0 rem(100);
      // width: rem(100);
      text-align: center;
      img{
        display: inline-block;
      }
    }
    .info-slot{
      flex: 1;
      padding-left: rem(20);
      .product-name{
        @include ellipse;
        line-height: 1;
        font-size: rem(22);
        color: #333333;
        letter-spacing: rem(-0.05*22);
      }
      .price-wrap{
        margin-top: rem(10);
        .price{
          font-size: rem(14);
          font-weight: 700;
          line-height: 1;
          letter-spacing: rem(-0.05*14);
          b{
            @include font-manrope(700);
            font-size: rem(18);
          }
        }
        .before-sale{
          position: relative;
          margin-left: rem(10);
          font-size: rem(14);
          font-weight: 700;
          line-height: 1;
          color: $fc-light-gray;
          letter-spacing: rem(-0.05*14);
          b{
            @include font-manrope(500);
            letter-spacing: rem($letter-spacing-price);
            font-size: rem(18);
          }
          &:after{
            content: '';
            display: inline-block;
            position: absolute;
            left: -5%;
            top: 50%;
            width: 110%;
            border-bottom: rem(2) solid $fc-light-gray;
          }
        }
        .sale{
          @include font-manrope(700);
          margin-left: rem(10);
          font-size: rem(18);
          letter-spacing: rem(-0.05*18);
          line-height: 1;
          color: #f0333c;
        }
      }
    }
    .price-slot{
      padding-right: rem(20);
      // width: rem(250);
      text-align: right;
      .price-total{
        font-size: rem(18);
        color: #333333;
        .price{
          @include font-manrope(700);
          font-size: rem(26);
          letter-spacing: rem(-0.05*26);
          color: #6b8138;
        }
      }
    }
    .btn-slot{
      display: flex;
      justify-content: flex-end;
      // width: rem(470);
      .btn{
        height: rem(60);
        margin-right: rem(10);
        min-width: rem(90);
        .icon{
          margin: 0 rem(8) 0 0;
          vertical-align: middle;
        }
      }
      .btn-pick{
        .icon{
          margin: 0;
        }
      }
      .btn-cart{
        width: rem(200);
      }
      .btn-order{
        width: rem(260);
      }
    }
  }
}

.product-info-box{
  .product-badge{
    position: relative;
    margin-bottom: rem(26);
    height: rem(30);
    .badge{
      float: left;
      margin-right: rem(4);
      padding: 0 rem(12);
      min-width: rem(60);
      height: rem(30);
      line-height: rem(30);
      text-align: center;
      font-size: rem(16);
      font-weight: 500;
      color: #fff;
      border-radius: rem(15);
      &.sale{
        background: #8a4933;
      }
      &.new{
        background: $primary;
      }
      &.online{
        background: #3c3e26;
      }
    }
    .share-group{
      display: block;
      position: absolute;
      right: rem(-12);
      top: rem(-18);
      height: rem(60);
      width: rem(60);
      overflow: hidden;
      transition: all 0.1s;
      box-sizing: border-box;
      border: 1px solid rgba(0,0,0,0);
      border-radius: rem(30);
      &.active{
        border: 1px solid #333333;
        width: rem(230);
        ul{
          li{
            width: rem(330);
            opacity: 1;
            .btn-share{
              &.toggle{
                .icon-share-url{
                  background-image: url('../img/icons/icon_share_close.png');
                  background-size: auto;
                  background-position: center;
                }
              }
            }
          }
        }
      }
      ul{
        position: absolute;
        display: flex;
        right: rem(7);
        width: rem(215);
        height: 100%;
        li{
          position: relative;
          flex: 0 0 25%;
          opacity: 0;
          transition: all 0.1s;
          &:after{
            content: '';
            display: inline-block;
            position: absolute;
            right: 0;
            top: rem(20);
            width: 1px;
            height: rem(20);
            border-right: 1px solid $section-border-color;
          }
          &:nth-last-of-type(1){
            &:after{
              content: none;
            }
          }
          &:nth-last-of-type(1){
            opacity: 1;
          }
          .btn-share{
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(math.div(215, 4));
            height: rem(58);
          }
        }
      }
    }
  }
  .thumb-for-sticky{
    display: none;
  }
  .product-name{
    line-height: 1;
    font-size: rem(42);
    font-weight: 500;
    color: #333;
    letter-spacing: rem(-0.05*42);
  }
  .product-desc{
    margin-top: rem(10);
    line-height: rem(26);
    font-size: rem(16);
    color: #58595b;
    letter-spacing: rem(-0.05*18);
  }
  .product-price{
    display: flex;
    align-items: center;
    margin-top: rem(35);
    height: rem(80);
    .price{
      line-height: rem(50);
      text-indent: rem(-3);
      font-size: rem(32);
      font-weight: 700;
      color: #333;
      b{
        @include font-manrope(700);
        letter-spacing: rem(-0.05*52);
        margin-right: rem(5);
        font-size: rem(52);
      }
    }
    .before-price{
      position: relative;
      margin-top: rem(10);
      margin-left: rem(20);
      line-height: rem(50);
      font-size: rem(22);
      color: #bcbdc1;
      b{
        @include font-manrope(500);
        letter-spacing: rem($letter-spacing-price);
        margin-right: rem(3);
        font-size: rem(36);
        letter-spacing: rem(-0.05*36);
      }
      &:after{
        content: '';
        display: inline-block;
        position: absolute;
        left: -5%;
        top: calc(50% - 1px);
        width: 110%;
        border-bottom: rem(2) solid $fc-light-gray;
      }
    }
    .sale{
      margin-top: rem(10);
      margin-left: rem(35);
      line-height: rem(50);
      font-size: rem(20);
      @include font-manrope(700);
      letter-spacing: rem(-0.05*20);
      color: #ed1c24;
      b{
        font-size: rem(42);
      }
    }
  }
  .product-coupon-list{
    margin-bottom: rem(40);
    li{
      margin-top: rem(20);
      &:first-child{
        margin-top: 0;
      }
    }
    .btn-coupon{
      display: inline-block;
      padding: 0 rem(100) 0 rem(15);
      width: rem(460);
      height: rem(50);
      line-height: rem(50);
      font-size: rem(16);
      font-weight: 500;
      color: #333;
      background: url('../img/icons/coupon_box.png') no-repeat;
      background-size: contain;
    }
  }
  .product-table-box{
    padding-top: rem(20);
    border-top: 2px solid #31291c;
  }
  .product-table{
    width: 100%;
    table-layout: fixed;
    th, td{
      position: relative;
      padding: rem(9) 0;
      height: rem(42);
      line-height: rem(24);
      text-align: left;
      vertical-align: middle;
      font-size: rem(18);
      font-weight: 300;
      color: #333;
      letter-spacing: rem(-0.05*18);
    }
    th{
      font-weight: 500;
    }
    .btn-link{
      display: block;
      position: absolute;
      right: 0;
      top: rem(5);
      line-height: rem(24);
      .icon{
        margin: rem(-6) 0 0 rem(6);
        vertical-align: middle;
      }
    }
    .icon-tooltip{
      margin: rem(-3) 0 0 rem(6);
      vertical-align: middle;
    }
  }
  .product-btn-box{
    margin-top: rem(26);
    display: flex;
    justify-content: space-between;
    .btn{
      min-width: rem(100);
      font-size: rem(22);
      font-weight: 500;
      vertical-align: top;
      .icon{
        margin: 0 rem(8) 0 0;
        vertical-align: middle;
      }
    }
    .btn-pick{
      width: rem(110);
      .icon{
        margin:0
      }
      &.checked{
        .icon{
          @extend .icon-product-pick-check;
        }
      }
    }
    .btn-cart{
      width: rem(250);
    }
    .btn-order{
      margin-right: 0;
      width: rem(310);
    }
  }
}

.product-opt-box{
  margin-top: rem(30);
  .btn-opt{
    display: none;
  }
  .opt-list{
    padding:0 rem(20);
    .list-box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: rem(80);
      border-top: 1px solid #e7e7e7;
      &:first-child{
        border-top: 0;
      }
      .opt-count{
        // width: rem(170);
        flex:  0 0 rem(170);
        text-align: center;
        .btn-count{
          display: inline-block;
          padding: rem(8) 0 0 rem(8);
          width: rem(40);
          height: rem(40);
          vertical-align: middle;
          .icon{
            display: block;
          }
        }
        .count{
          display: inline-block;
          width: rem(50);
          line-height: rem(40);
          vertical-align: middle;
          text-align: center;
          font-size: rem(18);
          color: #58595b;
        }
      }
      .opt-size{
        flex: 1 1 rem(240);
        max-width: rem(240);
        p{
          width: 100%;
          line-height: 1.2;
          font-size: rem(18);
          font-weight: 500;
          color: #58595b;
          padding-top: rem(5);
          padding-bottom: rem(5);
          word-break: break-all;
        }
      }
      .opt-price{
        // width: rem(150);
        flex: 0 0 rem(150);
        text-align: right;
        p{
          line-height: rem(40);
          font-size: rem(16);
          font-weight: 700;
          color: #333;
          word-break: keep-all;
          b{
            @include font-manrope(700);
            letter-spacing: rem($letter-spacing-price);
            margin-left: rem(3);
            font-size: rem(22);
          }
        }
      }
      .opt-btn{
        // width: rem(80);
        flex: 0 1 auto;
        text-align: center;
        .btn-delete{
          display: inline-block;
          padding: rem(8) 0 0 rem(8);
          width: rem(40);
          height: rem(40);
          .icon{
            display: block;
          }
        }
      }
    }
  }
}
.total-box{
  position: relative;
  border-top: 1px solid #e7e7e7;
  height: rem(90);
  .label{
    position: absolute;
    left: rem(30);
    top: rem(25);
    line-height: rem(40);
    font-size: rem(22);
    font-weight: 700;
    color: #333;
  }
  .price{
    position: absolute;
    right: rem(40);
    top: rem(25);
    line-height: rem(40);
    font-size: rem(22);
    font-weight: 700;
    color: $fc-primary-darken;
    b{
      @include font-manrope(700);
      letter-spacing: rem($letter-spacing-price);
      margin-left: rem(5);
      font-size: rem(42);
    }
  }
}

.product-detail-content{
  .tab{
    &.tab-underline{
      > ul{
        li{
          a{
            font-size: rem(22);
          }
        }
      }
    }
  }
  >.tab-scroll{
    height: rem(57);
  }
  .product-detail-img{
    padding-top: rem(60);
    margin-bottom: rem(80);
    text-align: center;
    .img{
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
  .detail-title-box{
    position: relative;
    height: rem(70);
    border-bottom: 1px solid #414141;
    .title{
      float: left;
      line-height: rem(68);
      font-size: rem(28);
      letter-spacing: rem(-0.05*28);
      color: #333;
      font-weight:700;
      .sub{
        font-weight: 400;
      }
      
    }
    .desc{
      float: left;
      margin-left: rem(50);
      line-height: rem(68);
      font-size: rem(16);
      color: #818286;
    }
    .btn-link{
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: rem(-15);
      line-height: rem(30);
      font-size: rem(16);
      font-weight: 500;
      color: #58595b;
      .icon{
        margin: rem(-3) 0 0 rem(6);
        vertical-align: middle;
      }
    }
  }
  
  //리뷰
  .product-detail-review{
    margin-bottom: rem(80);
    .review-grade-wrap{
      padding: 0 0;
      margin-bottom: rem(80);
      border-bottom: 1px solid #e7e7e7;
      overflow: hidden;
      .review-top{
        position: relative;
        height: rem(200);
        border-bottom: 1px solid #e7e7e7;
        padding-left: rem(40);
        padding-right: rem(40);
      }
      .review-total{
        float: left;
        padding: rem(80) 0 0 0;
        width: 50%;
        .label{
          float: left;
          width: rem(160);
          line-height: rem(40);
          font-size: rem(22);
          font-weight: 500;
          color: #333;
        }
        .point-box{
          float: left;
          .icon{
            float: left;
            margin: rem(3) rem(2);
            opacity: 0.15;
            &.on{
              opacity: 1;
            }
          }
          .point{
            float: left;
            margin-left: rem(30);
            line-height: rem(38);
            font-size: rem(36);
            font-weight: 700;
            color: #bcbdc1;
            b {
              @include font-manrope(700);
              letter-spacing: rem($letter-spacing-price);
              font-size: rem(46);
              color: #333;
            }
          }
        }
      }
      .reivew-total-list{
        float: left;
        padding-top: rem(30);
        width: rem(430);
        .list-box{
          position: relative;
          padding: rem(11) rem(100) 0 rem(45);
          height: rem(28);
          .star{
            position: absolute;
            left: 0;
            top: 0;
            width: rem(45);
            height: rem(28);
            line-height: rem(28);
            font-size: rem(16);
            font-weight: 700;
            color: #333;
            .icon{
              margin: rem(-4) rem(5) 0 0;
              vertical-align: middle;
            }
          }
          .point{
            position: absolute;
            right: 0;
            top: 0;
            padding-left: rem(20);
            width: rem(100);
            line-height: rem(28);
            font-size: rem(16);
            font-weight: 500;
            color: #333;
          }
        }
      }
      .btn-review{
        display: block;
        position: absolute;
        right: rem(40);
        top: 50%;
        margin-top: rem(-30);
        width: rem(120);
        line-height: rem(60);
        text-align: center;
      }
      // .graph{
      //   position: relative;
      //   width: 100%;
      //   height: rem(6);
      //   border-radius: rem(3);
      //   background: #dddddd;
      //   overflow: hidden;
      //   .graph-bar{
      //     position: absolute;
      //     left: 0;
      //     top: 0;
      //     width: 0;
      //     height: rem(6);
      //     border-radius: rem(3);
      //     background: $primary;
      //   }
      // }
      .review-bottom{
        padding-top: rem(45);
        padding-left: rem(40);
        padding-right: rem(40);
        height: rem(200);
        .label{
          margin-bottom: rem(15);
          line-height: rem(30);
          font-size: rem(22);
          font-weight: 500;
          color: #333;
        }
        .review-user-list{
          width: 104%;
          .list-box{
            position: relative;
            float: left;
            padding-right: rem(100);
            width: 25%;
          }
          .review-title{
            height: rem(40);
            p{
              float: left;
              line-height: rem(30);
              font-size: rem(16);
              color: #58595b;
            }
            .title{
              margin-right: rem(20);
              font-weight: 700;
              color: $primary;
            }
          }
          .point{
            position: absolute;
            right: 0;
            bottom: rem(-7);
            padding-left: rem(15);
            width: rem(100);
            line-height: rem(20);
            font-size: rem(16);
            font-weight: 500;
            color: #333;
          }
        }
      }
    }
  }
  
  //qna
  .product-detail-qna{
    margin-bottom: rem(80);
    .detail-title-box{
      border-bottom: 0;
    }
  }

  .product-detail-deliverinfo{
    
  }
}
.review-comment-wrap{
  .list-filter-wrap{
    .filter-top{
      .check-wrap{
        label{
          > span{
            font-weight: 400;
          }
        }
      }
    }
  }
}
//브랜드라인 슬라이더
.brand-bottom-wrap{
  .title-box{
    margin: rem(100) 0 rem(20) 0;
    height: rem(60);
    text-align: center;
    .title{
      display: block;
      position: relative;
      line-height: rem(60);
      .btn-all-link{
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
  .brand-bnr-wrap{
    // padding: 0 rem(100);
    &.banner-slide-wrap{
      .btn-slider-arrow {
				display: block;
				position: absolute;
				left: rem(-85);
				top: 40%;
				margin-top: rem(-23);
				width: rem(25);
				height: rem(46);
				background: url('../img/icons/icon_arrow_slider.png') no-repeat center center;
				background-size: contain;
				&::before{
					content: none;
				}
				&.slider-next {
					left: auto;
					right: rem(-85);
					transform: rotate(180deg);
				}
			}
    }
    .img-list{
      .item{
        .img-slot{
          height: rem(335);
        }
      }
    }
  }
}

@media screen and (max-width:1600px) {
  .brand-bnr-wrap{
    &.banner-slide-wrap{
      .btn-slider-arrow.slider-prev{
        left: rem(10)!important;
      }
      .btn-slider-arrow.slider-next{
        right: rem(10)!important;
      }
    }
  }
}