.radio-wrap {
	label {
		position: relative;
		display: flex;
		align-items: center;
		font-size: rem(16);
		.radio {
			width: rem(22);
			height: rem(22);
			margin-right: rem(5);

			input[type="radio"] {
				display: inline-block;
				position: absolute;
				left: 0;
				top: 0;
				width: 0;
				height: 0;
				opacity: 0;

				&:checked+.icon-radio {
					background-image: url('../img/icons/radio-checked.png');
				}
			}

			.icon-radio {
				@include icon;
				width: rem(22);
				height: rem(22);
				background-image: url('../img/icons/radio.png');
				&.gray-type{
					background-image: url('../img/icons/radio_gray.png');
				}
			}
		}
	}
}