.remote-controls{
  display: inline-block;
  position: absolute;
  top: rem(700);
  right: rem(20);
  width: rem(100);
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  z-index: 0;
  border-radius: rem(10);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s, z-index 0.3s, top 0.3s;
  transition-delay: top 0.2s;
  &.active{
    z-index: 11; 
  }
  .recent-list{
    .title{
      display: block;
      font-size: rem(14);
      font-weight: 700;
      letter-spacing: rem(-0.7);
      padding: rem(10) 0;
      // margin-left: rem(10);
      // margin-right: rem(10);
      color: #333333;
      border-bottom: 1px solid $section-border-color;
    }
    .list-wrap{
      position: relative;
      width: rem(100 - 3);
      max-height: rem(300);
      margin-top: rem(20);
      margin-bottom: rem(20);
      float: right;
      transition: width 0.2s;
      overflow: hidden;
      // &.scrollbar-inner > .scroll-element.scroll-y{
      //   width: rem(3);
      // }
      &:hover{
        width: rem(303);
      }
      ul{
        max-height: rem(82*3);
        flex-direction: column;
        li{
          display: inline-block;
          width: 100%;
          height: rem(82);
          text-align: right;
          a{
            display: inline-block;
            position: relative;
            width: rem(100 - 6);
            height: rem(82);
            overflow-x: hidden;
            border: 1px solid transparent;
            border-top-left-radius: rem(10);
            border-bottom-left-radius: rem(10);
            background-color: #ffffff;
            transition: width 0.2s, border 0.3s;
            &:hover{
              width: rem(300);
              border: 1px solid #333333;
            }
            img{
              width: rem(80);
              position: absolute;
              right: rem(7);
              top: 0;
            }
            .product-info{
              display: inline-block;
              position: absolute;
              width: rem(200);
              height: rem(80);
              right: rem(100);
              padding: rem(20);
              top: 0;
              text-align: left;
              .name{
                @include ellipse;
                font-size: rem(16);
                font-weight: 500;
                color: $fc-default;
                line-height: 1;
                letter-spacing: rem(-0.05*16);
              }
              .price-wrap{
                margin-top: rem(10);
                line-height: 1;
                white-space: nowrap;
                .unit{
                  @include font-notokr(400);
                  font-size: rem(14);
                }
                .price{
                  display: inline-block;
                  @include font-manrope(700);
                  font-size: rem(18);
                  letter-spacing: rem(-0.05*18);
                  line-height: 1;
                }
                .before-discount{
                  position: relative;
                  display: inline-block;
                  margin-left: rem(15);
                  @include font-manrope(400);
                  color: $fc-light-gray;
                  line-height: 1;
                  font-size: rem(18);
                  letter-spacing: rem(-0.05*18);
                  &:after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    left: -5%;
                    top: calc(50%);
                    width: 110%;
                    border-bottom: rem(2) solid #bcbdc1;
                  }
                }
              }
            }
          }
        }
      }
    }
    .recent-nav-next,
    .recent-nav-prev {
      position: absolute;
      top: rem(40);
      right: 0;
      width: rem(100);
      height: rem(20);
      background-image: url('../img/icons/icon_recent_arrow.png');
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
    }
    
    
    
    &.over-three{
      .recent-nav-next,.recent-nav-prev{
        opacity: 1;
        height: rem(30);
        
      }
      .swiper-button-disabled{
        &.recent-nav-next, &.recent-nav-prev{
          opacity: 0.3;
        }
      }
      .list-wrap{
        margin-top: rem(30);
        margin-bottom: rem(30);
        ul{
          // flex-direction: unset;
        }
      }
    }
    .recent-nav-next {
      top: unset;
      bottom: rem(55);
      transform: rotate(180deg);
    }
  }
  .anchor{
    clear: both;
    padding-top: rem(15);
    padding-bottom: rem(15);
    margin-left: rem(10);
    margin-right: rem(10);
    border-top: 1px solid $section-border-color;
    a{
      color: #333333;
      // &:after{
      //   content: '';
      //   display: inline-block;
      //   margin-left: rem(5);
      //   @extend .icon-top-anchor;
      // }
    }
  }
}


@media screen and (max-width:1600px) {
  .remote-controls{
    position: fixed;
    right: rem(-50);
  }
}