@use "sass:math";
.reward-info-wrap, .reward-coupone-zone{
  .tab{
    .tab-item{
      padding-bottom: rem(10);
      letter-spacing: rem(-0.05*26);
      [class*="icon-"]{
        vertical-align: middle;
      }
    }
    .icon-leaf {
      background-image: url('../img/icons/icon_leaf_off.png');
    }
    .icon-money-pocket {
      background-image: url('../img/icons/icon_money_pocket_off.png');
    }
    .active{
      .icon-leaf{
        background-image: url('../img/icons/icon_leaf_on.png');
      }
      .icon-money-pocket{
        background-image: url('../img/icons/icon_money_pocket_on.png');
      }
    }
  }
  .gray-box{
    border-radius: rem(70);
    background-color: $bg-data;
    padding-top: rem(155);
    padding-bottom: rem(150);
    background-image: url('../img/bg/bg_membership_01.png');
    background-position: center 55%;
    background-repeat: no-repeat;
    background-size: rem(1400);
    margin-top: rem(50);
    .level-step{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      li{
        position: relative;
        display: inline-block;
        width: rem(240);
        color: #ffffff;
        $levels : ('new': #a3c6c3, 'vip': $primary, 'vvip': #577365, 'svip': #484b62);
        margin-right: rem(20);
        margin-left: rem(20);
        transition: all .3s;
        @each $level, $color in $levels {
          [class*="level-#{$level}"]{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            padding-bottom: rem(60);
            border-top-right-radius: rem(100);
            border-bottom-left-radius: rem(100);
            border-top-left-radius: rem(10);
            border-bottom-right-radius: rem(10);
            background-color: $color;
            @extend .icon-level-#{$level};
            width: 100%;
            background-size: auto;
            background-position: top 20% center;
          }
          
        }
        [class*="level-"]{
          transition: all .3s;
          .tooltip{
            position: absolute;
            opacity: 0;
            width: rem(200);
            top: rem(-100);
            left: rem(20);
            padding: rem(20);
            font-size: rem(16);
            letter-spacing: rem(-0.05*16);
            line-height: 1.5;
            color: $fc-default;
            background-color: #ffffff;
            border: 1px solid #333333;
            border-radius: rem(20);
            transition: all .3s;
            &:before{
              content: '';
              display: inline-block;
              position: absolute;
              bottom: rem(-12);
              left: rem(90);
              width: rem(13);
              height: rem(12);
              background-image: url('../img/icons/icon_tooltip_pin.png');
              background-repeat: no-repeat;
            }
            em.point{
              @include font-manrope(700);
            }
          }
        }
        &:hover, &.active{
          transform: translateY(rem(-30));
          [class*="level-"]{
            box-shadow: rem(10) rem(20) rem(30) 0 rgba(0,0,0,.2);
          }
          .tooltip{
            top: rem(-120);
            opacity: 1;
          }
        }
        &:nth-of-type(1){
          [class*="level-"]{
            height: rem(263);
          }
        }
        &:nth-of-type(2){
          [class*="level-"]{
            height: rem(300);
          }
        }
        &:nth-of-type(3){
          [class*="level-"]{
            height: rem(345);
          }
        }
        &:nth-of-type(4){
          [class*="level-"]{
            height: rem(385);
          }
        }
        .title{
          display: block;
          font-size: rem(36);
          @include font-manrope(700);
          
        }
        .sub-txt{
          font-size: rem(16);
        }
        
        
      }
    }
  }
  .important-notice-phrase{
    font-size: rem(22);
    letter-spacing: rem(-0.05*22);
    font-weight: 500;
  }
  .level-description{
    width: rem(1260);
    margin: 0 auto;
    margin-top: rem(70);
    border-bottom: 1px solid #e7e7e7;
    >ul{
      >li{
        display: flex;
        &.my-level{
          .level-title{
            position: relative;
            &:before{
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              @extend .icon-flag;
              text-align: center;
              padding-top: rem(5);
              font-size: rem(16);
              font-weight: 400;
              color: #ffffff;
            }
          }
        }
        .level-title{
          position: relative;
          display: flex;
          // justify-content: center;
          align-items: center;
          flex: 0 0 rem(300);
          height: rem(120);
          padding-top: rem(30);
          padding-bottom: rem(30);
          margin-bottom: rem(50);
          margin-right: rem(60);
          font-size: rem(50);
          // border-top: rem(4) solid #333333;
          box-sizing: content-box;
          &:after{
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: rem(4);
            background-color: $bc-top;
            left: 0;
            top: 0;
            border-radius: rem(4);
          }
          @include font-manrope(700);
          [class*="icon-"]{
            margin-left: rem(40);
          }
          .level{
            flex: 1 1 rem(150);
            text-align: left;
            margin-left: rem(37);
          }
          .icon-level-new{
            @extend .icon-level-new-black;
          }
          .icon-level-vip{
            @extend .icon-level-vip-black;
          }
          .icon-level-vvip{
            @extend .icon-level-vvip-black;
          }
          .icon-level-svip{
            @extend .icon-level-svip-black;
          }
        }
        .text{
          display: flex;
          align-items: center;
          flex: 1 1 auto;
          border-top: 1px solid #e7e7e7;
          min-height: rem(120);
          padding-top: rem(30);
          padding-bottom: rem(30);
          margin-bottom: rem(50);
          box-sizing: content-box;
          line-height: 2.1;
          color: $fc-dark-gray;
          font-size: rem(18);
          letter-spacing: rem(-0.05*18);
          .point{
            position: relative;
            width: rem(400);
            height: 100%;
            padding-top: rem(30);
            padding-left: rem(100);
            border-right: 1px solid #e7e7e7;
            .icon-point-lg{
              @extend .icon-point-lg;
              position: absolute;
              left: rem(50);
              top: rem(40);
            }
          }
          .coupon{
            position: relative;
            padding-top: rem(30);
            padding-left: rem(100);
            height: 100%;
            .icon-coupon-lg{
              @extend .icon-coupon-lg;
              position: absolute;
              left: rem(50);
              top: rem(40);
            }
          }
        }
      }
    }
  }
  .notice-wrap{
    width: rem(1260);
    margin: 0 auto;
    &.width-auto{
      width: auto;
    }
    .important-notice-phrase{
      margin-top: rem(40);
      font-size: rem(22);
      letter-spacing: rem(-0.05*22);
      line-height: 1;
      font-weight: 700;
      [class*="icon-"]{
        margin-right: rem(10);
      }
    }
    .notice-list{
      margin-top: rem(20);
      font-size: rem(16);
      line-height: 2.2;
      color: $fc-gray;
      li{
        position: relative;
        padding-left: rem(15);
        &:before{
          content: '';
          display: inline-block;
          position: absolute;
          left: 0;
          top: rem(18);
          width: rem(4);
          height: rem(4);
          border-radius: 50%;
          background-color: $fc-light-gray;
        }
      }
    }
  }
  .green-box{
    display: flex;
    padding: rem(60) 0 rem(60) rem(70);
    border-radius: rem(30);
    background-color: #f3f4e6;
    margin-top: rem(110);
    .benefit{
      flex: 1 1 auto;
      border-right: 1px solid #e7e7e7;
      h4{
        font-size: rem(32);
        line-height: 1;
        @include font-manrope(800);
        text-transform: uppercase;
        color: #3a5542;
        letter-spacing: normal;
      }
      .sub-txt{
        margin-top: rem(20);
        font-size: rem(22);
        letter-spacing: rem(-0.05*22);
        line-height: 1;
      }
      .benefit-list{
        margin-top: rem(80);
        margin-bottom: rem(30);
        letter-spacing: rem($letter-spacing-default);
        >ul{
          li{
            display: inline-block;
            text-align: center;
            margin-right: rem(36);
            &:nth-last-of-type(1){
              margin-right: 0;
            }
            .txt{
              text-align: center;
              margin-top: rem(30);
              span{
                display: block;
                font-size: rem(16);
                letter-spacing: rem(-0.05*16);
              }
              em{
                font-size: rem(20);
                letter-spacing: rem(-0.05*20);
              }
            }
          }
        }
      }

    }
    .goto-join{
      flex: 0 1 rem(390);
      text-align: center;
      p{
        font-size: rem(16);
        margin-top: rem(10);
        margin-bottom: rem(40);
      }
      .btn{
        width: rem(230);
        height: rem(60);
        font-size: rem(22);
        font-weight: 700;
        [class*="icon-"]{
          margin-right: rem(10);
        }
      }
    }
  }
  .notice-area{
    margin-top: rem(50);
    height: rem(100);
    background-color: $bg-gray;
    border-radius: rem(12);
    border-bottom-left-radius: rem(50);
    .category{
      display: inline-block;
      padding-left: rem(30);
      padding-right: rem(30);
      height: 100%;
      // border-radius: rem(12);
      border-top-right-radius: rem(50);
      border-bottom-right-radius: rem(50);
      border-bottom-left-radius: rem(50);
      background-color: #333333;
      font-size: rem(24);
      letter-spacing: rem(-0.05*24);
      line-height: rem(100);
      font-weight: 700;
      color: #ffffff;
      vertical-align: top;
    }
    .content{
      display: inline-block;
      width: rem(1130);
      padding-left: rem(40);
      line-height: rem(100);
      font-size: rem(22);
      letter-spacing: rem(-0.05*22);
      white-space: nowrap;
      @include ellipse;
    }
  }
  .price-step{
    // width: rem(1260);
    margin: 0 auto;
    margin-top: rem(70);
    border-bottom: 1px solid #e7e7e7;
    >ul{
      >li{
        display: flex;
        .price-range{
          flex-wrap: wrap;
          flex: 0 0 rem(250);
          height: rem(120);
          margin-right: rem(40);
          padding: rem(45) 0 rem(80) rem(20);
          border-top: rem(4) solid #333333;
          box-sizing: content-box;
          .price{
            @include font-manrope(800);
            font-size: rem(36);
            line-height: 1;
            vertical-align: middle;
            letter-spacing: rem(-0.05*36);
          }
          .unit{
            font-size: rem(26);
            line-height: rem(36);
            font-weight: 700;
            vertical-align: middle;
          }
          .suffix{
            display: block;
            margin-top: rem(10);
            font-size: rem(22);
            line-height: 1;
            letter-spacing: rem(-0.05*22);
          }
        }
        .gift-list{
          display: flex;
          flex: 1 1 auto;
          flex-wrap: wrap;
          border-top: 1px solid #e7e7e7;
          padding-top: rem(45);
          padding-bottom: rem(80);
          box-sizing: content-box;
          line-height: 2.1;
          color: $fc-dark-gray;
          .item{
            display: flex;
            flex: 0 0 33%;
            height: rem(120);
            &:nth-of-type(n+4){
              margin-top: rem(20);
            }
            .img-wrap{
              height: rem(120);
              width: rem(120);
              border: 1px solid $btn-outline-lightgray;
              border-radius: rem(20);
              overflow: hidden;
              flex: 0 0 rem(120);
              img{
                height: 100%;
              }
            }
            .product-name{
              flex: 1 1 auto;
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: rem(20);
              padding-right: rem(20);
              font-size: rem(16);
              font-weight: 500;
              line-height: 1.4;
              letter-spacing: rem(-0.05*16);
              .tag{
                margin-top: rem(15);
                line-height: 1;
                font-size: rem(16);
                color: $fc-primary;
              }
            }
          }
        }
      }
    }
  }
  .download-coupone-summary{
    position: relative;
    margin-top: rem(80);
    height: rem(100);
    background-color: $bg-data;
    border-radius: rem(12);
    text-align: center;
    
    .content{
      display: inline-block;
      padding-left: rem(60);
      line-height: rem(100);
      font-size: rem(26);
      font-weight: 700;
      letter-spacing: rem(-0.05*26);
      em{
        color: $fc-primary-darken;
        @include font-manrope(700);
      }
    }
    .btn-all-link{
      position: absolute;
      display: inline-block;
      right: rem(40);
      top: 50%;
      transform: translateY(-50%);
      font-size: rem(18);
      color: $fc-dark-gray;
      font-weight: 500;
      &:before{
        content:'';
        display: inline-block;
        position: absolute;
        left: rem(-40);
        top: rem(-10);
        height: rem(50);
        border-left: 1px solid $section-border-color;
        cursor: default;
      }
      em{
        color: $fc-primary-darken;
        @include font-manrope(700);
      }
    }
  }
  .coupone-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: rem(60);
    padding-bottom: rem(40);
    border-bottom: 1px solid #e7e7e7;
    >li{
      position: relative;
      margin-bottom: rem(40);
      @include column($divide: 3, $gap: 35 );
      &:nth-of-type(3){
        margin-right: 0;
      }
      .coupone{
        display: flex;
        width: 100%;
        min-height: rem(286);
        overflow: hidden;
        .coupone-info{
          position: relative;
          flex: 1 1 auto;
          padding: rem(35) 0 rem(35) rem(40);
          border-top-left-radius: rem(20);
          border-bottom-left-radius: rem(20);
          border: 1px solid #8bb23f;
          border-right: 0;
          &:after{
            content: '';
            display: inline-block;
            position: absolute;
            right: rem(-15);
            top: rem(-15);
            border-radius: 50%;
            width: rem(30);
            height: rem(30);
            background-color: #ffffff;
            border: 1px solid #8bb23f;
            z-index: 1;
          }
          .coupone-header{
            font-size: rem(16);
            font-weight: 500;
            color: $fc-dark-gray;
            .date, .due-date{
              display: inline-block;
              line-height: 1;
              em{
                color:$fc-red; 
              }
            }
            .date{
              padding-right: rem(15);
            }
            .due-date{
              padding-left: rem(15);
              border-left: 1px solid $section-border-color;
            }
          }
          .coupone-content{
            padding-right: rem(20);
            .benefit{
              display: inline-block;
              margin-top: rem(25);
              @include font-manrope(700);
              font-size: rem(52);
              line-height: 1;
              letter-spacing: rem(-0.05*52);
              color: $fc-primary;
              .unit{
                font-size: 0.5em;
              }
            }
            .description{
              margin-top: rem(25);
              font-size: rem(20);
              line-height: 1.4;
              font-weight: 700;
              letter-spacing: rem(-0.05*20);
              @include ellipsen($line: 2);
            }
            .condition{
              display: inline-block;
              margin-top: rem(10);
              font-size: rem(16);
              line-height: 1.4;
              font-weight: 500;
              color: $fc-dark-gray;
            }
            .condition{
              a{
                position: relative;
                margin-left: rem(15);
                font-size: rem(16);
                line-height: 1;
                font-weight: 500;
                color: $fc-dark-gray;
                &:after{
                  content: '';
                  @extend .icon-arrow-link;
                  position: absolute;
                  right: rem(-10);
                  top: rem(8);
                  width: rem(6);
                  height: rem(9);
                  margin-left: rem(10);
                  vertical-align: middle;
                }
              }
            }
          }
        }
        .coupone-link{
          position: relative;
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          flex: 0 0 rem(103);
          background-color: #f3f4e6;
          border-top-right-radius: rem(20);
          border-bottom-right-radius: rem(20);
          border: 1px solid #8bb23f;
          border-left: 2px dashed #dbe7c5;
          &:before{
            content: '';
            display: inline-block;
            position: absolute;
            left: rem(-15);
            bottom: rem(-15);
            border-radius: 50%;
            width: rem(30);
            height: rem(30);
            background-color: #ffffff;
            border: 1px solid #8bb23f;
          }
        }
        &.disabled{
          
          .coupone-info{
            border-color: #e7e7e7;
            &:after{
              border-color: #e7e7e7;
            }
            .coupone-header{
              color: $fc-disabled-gray;
            }
            .coupone-content{
              .benefit, .description, .condition, .condition>a{
                color: $fc-disabled-gray;
              }
            }
          }
          .coupone-link{
            background-color: $bg-gray;
            border-color: #e7e7e7;
            &:before{
              border-color:#e7e7e7;
            }
            a{
              cursor: default;
              .icon-download{
                @extend .icon-download-disabled;
              }
            }
          }
        }
      }
    }
  }
  .empty{
    text-align: center;
    padding-top: rem(100);
    padding-bottom: rem(100);
    border-bottom: 1px solid #e7e7e7;
    p{
      font-size: rem(22);
    }
  }
}
