.tab{
	$tab-radius: 12;
	ul{
		li{
			a{
				// letter-spacing: rem($letter-spacing-tab);
			}
		}
	}
	&.fixed{
    >ul li{
      flex: 1 1 0!important;
			flex-grow: 1;
    }
  }
	&.tab-text{
		>ul{
			display: flex;
			// width: 40%;
			margin: auto;
			justify-content: center;
			li{
				flex: 0 1 auto;
				text-align: center;
				padding-left: rem(35);
				padding-right: rem(35);
				a{
					position: relative;
					display: inline-block;
					font-size: rem(26);
					line-height: 1;
					padding-bottom: rem(13);
					color: #bcbdc1;
					&:after{
						content: '';
						display: inline-block;
						position: absolute;
						bottom: rem(-2);
						left: 0;
						width: 0;
						height: rem(4);
						background-color: $bc-tab-active;
						border-radius: rem(3);
						@include tab-motion();
					}
				}
				&.active{
					a{
						position: relative;
						color: $fc-default;
						font-weight: 700;
						&:after{
							width: 100%;
						}
					}
				}
			}
		}
		&.align-l{
		  >ul{
		    margin: 0
		  }
		}
	}
	&.tab-underline {
		border-bottom: 2px solid $section-border-color;
		>ul {
			display: flex;
			width: 100%;
			margin: auto;
			justify-content: space-between;

			li {
				// flex: 1 1 auto;
				text-align: center;

				a {
					position: relative;
					display: block;
					width: 100%;
					padding: 0 rem(5);
					font-size: rem(26);
					line-height: 1;
					font-weight: 400;
					color: #bcbdc1;
					padding-bottom: rem(20);
					padding-top: rem(20);
					&:after{
						content: '';
						display: inline-block;
						position: absolute;
						bottom: rem(-2);
						left: 0;
						width: 0;
						height: rem(4);
						background-color: $bc-tab-active;
						border-radius: rem(3);
						@include tab-motion();
					}
				}

				&.active {
					a {
						position: relative;
						color: $fc-default;
						font-weight: 700;
						&:after{
							width: 100%;
						}
					}
				}
			}
		}
		&.tab-underline-narrow{
			ul{
				width: 80%;
			}
		}
	}
	&.tab-tablet {
		>ul {
			display: flex;
			width: 100%;
			margin: auto;
			justify-content: center;
			background-color: #f8f8f8;
			border-radius: rem($tab-radius);
			// overflow: hidden;
			li {
				flex: 1 1 auto;
				text-align: center;

				a {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					height: rem(70);
					padding: 0 rem(5);
					font-size: rem(22);
					letter-spacing: rem(-0.05*22);
					font-weight: 500;
					color: #bcbdc1;
					border-radius: rem($tab-radius);
					&:before{
						content: '';
						position: absolute;
						left: 0;
						top: 35%;
						display: inline-block;
						height: 30%;
						width: 1px;
						border-left: 1px solid $section-border-color;
					}
				}
				&:nth-of-type(1){
					a{
						&:before{
							content: none;
						}
					}
				}

				&.active {
					a {
						color: $fc-default;
						font-weight: 500;
						border: 1px solid $fc-default;
						background-color: #ffffff;
						&:before{
							content: none;
						}
					}
					& + li{
						a{
							&:before{
								content: none;
							}
						}
					}
				}
			}
		}
	}
	&.tab-wingtip {
		>ul {
			display: flex;
			width: 100%;
			margin: auto;
			justify-content: center;
			background-color: #f8f8f8;
			border-radius: rem($tab-radius);
			// overflow: hidden;
			li {
				flex: 1 1 auto;
				text-align: center;

				a {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					height: rem(70);
					padding: 0 rem(5);
					font-size: rem(18);
					font-weight: 500;
					color: #bcbdc1;
					border-bottom: 1px solid $fc-default;
					
					
					&:before{
						content: '';
						position: absolute;
						left: 0;
						top: 35%;
						display: inline-block;
						height: 30%;
						width: 1px;
						border-left: 1px solid $section-border-color;
					}
				}
				&:nth-of-type(1){
					a{
						&:before{
							content: none;
						}
					}
				}

				&.active {
					a {
						color: $fc-default;
						font-weight: 700;
						border: 1px solid $fc-default;
						border-top-left-radius: rem($tab-radius);
						border-top-right-radius: rem($tab-radius);
						border-bottom: 0;
						background-color: #ffffff;
						&:before{
							content: none;
						}
					}
					& + li{
						a{
							&:before{
								content: none;
							}
						}
					}
				}
			}
		}
	}
}

//스크롤 메뉴
.tab-scroll.active{
  >.tab{
    position: fixed;
    left: 0;
    top: rem(131);
    right: 0;
    background: #fff;
    z-index: 11;
		transition: top 0.3s;
    >ul{
      margin: 0 auto;
      width: rem($default-container-width);
    }
  }
	&.sticky{
		>.tab{
			top: 0;
		}
	}
}

.tab-wrap{
  .tab-area{
    display: none;
    &.active{
      display: block;
    }
  }
}
