.table-fixed{
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}
.table-style-normal{
  border-top: 1px solid #333333;
  th, td{
    padding: rem(26) rem(30) rem(26) rem(40);
    text-align: left;
    border-bottom: 1px solid #e7e7e7;
  }
  th{
    background: #f8f8f8;
    vertical-align: middle;
    p{
      font-size: rem(18);
      font-weight: 500;
      color: #333;
    }
  }
  p{
    margin-top: rem(5);
    line-height: rem(26);
    font-size: rem(16);
    letter-spacing: rem(-0.05*16);
    color: #58595b;
    &:first-child{
      margin-top: 0;
    }
  }
}
