.terms-content-wrap{
  padding-top: rem(50);
  p, li{
    line-height: rem(32);
    font-size: rem(16);
    color: #58595b;
  }
  .title{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: rem(22);
    color: #333;
  }
  .sub_title{
    margin-bottom: 15px;
    font-weight: 500;
    color: #333;
  }
  ol + .sub_title{
    margin-top: 10px
  }
  ol.sub{
    margin: 3px 0 6px 0;
  }
  ol.sub li{
    line-height: rem(33);
    font-size: rem(16);
  }
}
.privacy-term{
  padding-top: rem(50);
  .title{
    font-size: rem(22);
    font-weight: 700;
    letter-spacing: rem(-0.05*22);
  }
  .content{
    margin-top: rem(15);
    line-height: 1.8;
    font-size: rem(18);
    color: $fc-dark-gray;
    letter-spacing: rem(-0.05*18);
  }
  //faq
  .privacy-term-list {
    border-top: 1px solid #333;
    border-bottom: 1px solid #e7e7e7;
    margin-top: rem(75);
    .accordion-title{
      &.active{
        .btn-title .icon {
          transform: rotate(180deg);
        }
      }
      .btn-title{
        display: block;
        position: relative;
        padding: rem(30) rem(40);
        font-size: rem(18);
        font-weight: 700;
        .icon-arrow-up {
          display: block;
          position: absolute;
          right: rem(40);
          top: 50%;
          margin-top: rem(-4);
          transform: rotate(0);
        }
      }
    }

    .qna-text {
      display: none;
      position: relative;
      
      .qna-q+div.qna-a {
        margin-top: rem(30);
      }
      p {
        line-height: rem(26);
        font-size: rem(16);
        color: #58595b;
      }
      table{
        width: 100%;
        border-top: 1px solid $section-border-color;
        tr{
          td{
            padding-left: rem(40);
            padding-right: rem(40);
            padding-top: rem(30);
            padding-bottom: rem(30);
            border-bottom: 1px solid $section-border-color;
            &:nth-of-type(2){
              text-align: center;
            }
            &:nth-of-type(3){
              text-align: right;
            }
            &.date{
              @include font-manrope(400);
            }
          }
        }
      }
    }

  }
}