// layout
$default-container-width: 1400;
$default-container-pad: rem(30);
$gnb-header-margin-top: 25;
$gnb-header-height: 131 - $gnb-header-margin-top;
$footer-top-margin: 150;

$bg-gray: #f8f8f8;
// footer
$bg-footer: #f9f9f9;
$bg-data: #f7fafc;

// color
$primary: #89b03f;
$primary-darken: #6b8138;
$secondary: #8a4933;
$tertiary: #e9bb5b;
$emphas: hsl(81, 47%, 47%);
$red: #ed1c24;
$light-gray: #bcbdc1;
$dark-gray: #333333;

//grade color
$grade-svip: #494b62;
$grade-vvip: #577365;
$grade-vip: #8ab03f;
$grade-new: #91b8b5;

// font color
$fc-default: #333333;
$fc-dark-gray: #58595b;
$fc-gray: #040405;
$fc-light-gray: #bcbdc1;
$fc-disabled-gray: #dddddd;
$fc-primary: $primary;
$fc-primary-darken: $primary-darken;
$fc-emphas: $emphas;
$fc-red: $red;

$letter-spacing-default: -0.8;
$letter-spacing-title: -1.8;
$letter-spacing-title-brand: -1.8;
$letter-spacing-tab: -1.3;
$letter-spacing-price: -1.3;
$letter-spacing-btn: -0.8;

// text style
$letter-spacing: -1px;

//btn
$btn-lg-fs: 22;
$btn-default-fs: 16;
$btn-sm-fs: $btn-default-fs;

$btn-jumbo-width: 180;
$btn-lg-minWidth: 160;
$btn-default-minWidth: 120;
$btn-sm-minWidth: 80;

$btn-jumbo-pad: 40;
$btn-lg-pad: 40;
$btn-default-pad: 30;
$btn-sm-pad: 20;

$btn-default-fc: $fc-dark-gray;
$btn-fill-black: #31291c;
$btn-fill-primary: $primary;
$btn-fill-secondary: $secondary;
$btn-fill-tertiary: $tertiary;
$btn-fill-green: $primary;
$btn-outline-lightgray: #e7e7e7;
$btn-outline-black: #333333;
$btn-outline-white: #ffffff;
$btn-outline-green: $primary;
$btn-color-green: $primary;

// input
$input-outline: #e7e7e7;


// img-slot
$img-slot-bc: #e7e7e7;


// main section border color
$section-border-color: #e7e7e7;
$bc-black: #c9cfd2;
$bc-tab-active: $fc-default;
$bc-tab-line: #020202;
$bc-box: #f5f5f5;
$bc-top: #333333;

// z indexs
$z-index-header: 20;

//popup
$popup-header-height: 52;
$popup-footer-height: 100;
$popup-footer-pad-top: 40;
$popup-footer-btn-height: 50;
$popup-max-height: 850;
$popup-padding-top-bottom: 40;
$popup-content-max-height: $popup-max-height - $popup-header-height - ($popup-padding-top-bottom*2) - $popup-footer-pad-top - $popup-footer-btn-height;