$pc-wide: 1920;
$pc-default: 1920;
$tablet-landscape: 1024;
$tablet-portrait: 768;
$mobile-landscape: 670;
$mobile-portrait: 414+1;
$mobile-small: 320+1;

$mobile-default: 750;

$pc-default-height: 1000;
$pc-min-height: 800;
$mobile-default-height: 640*2;
$mobile-portrait-width-default: 750;

$breakpoint-pc-wide: $pc-wide+px;
$breakpoint-pc-default: $pc-default+px;
$breakpoint-pc-min-height: $pc-min-height+px;
$breakpoint-tablet-landscape: $tablet-landscape+px;
$breakpoint-tablet-portrait: $tablet-portrait+px;
$breakpoint-mobile-landscape: $mobile-landscape+px;
$breakpoint-mobile: $mobile-portrait+px;
$breakpoint-mobile-small: $mobile-small+px;

.mo-visible{
	display:none;
	@media all and (max-width: $breakpoint-mobile-landscape){
		display: block;
	}
}
.pc-visible{
	@media all and (max-width: $breakpoint-mobile-landscape){
		display: none;
	}
}
